USE [DB_OPCCIEL2]
GO
/****** Object:  StoredProcedure [Parametre].[PS_Personne_DP]    Script Date: 29/02/2024 18:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
Auteur : 
Date Modification : 27/02/2024
Description : 
============================================= */
CREATE PROCEDURE [Parametre].[PS_Personne_DP]
	@userLogin D_A_CODE_LONG,
	@dateDernModifClient D_T_DATEHEURE,
	@numLigne D_N_SEQ,
	@numCompteDepositaire varchar(255),
	@Rowversion timestamp,
	@CodeLangue D_A_CODE,
	@Sortie D_A_TEXTE OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		--déclarations----------
		declare @supprimer  D_B_BOOLEEN, @version timestamp
		--l'enregistrement n'existe pas ou est marqué supprimé
		--SELECT  @supprimer=supprimer,@version=Rowvers
		--FROM [Parametre].[T_Personne]
		--WHERE numLigne=@numLigne
		--IF(@@rowcount=0 or @supprimer=1)
		--	Begin
		--		Exec [Mouchard].[PS_ErreurInfo] '7',@codeLangue ,null,@numLigne,@Sortie output
				/*Rollback tran*/
		--		Return
		--	End
		--ctl de la version de l'enregistrement pour la gestion des accès concurrents
		--IF(@version!=@Rowversion )
		--	raiserror(50004,-1,-1,'')  /*le numéro du message de conflit ds T_erreur est 50004*/
		--ElSE
		Begin
			--suppression logique
				IF (isnull(@supprimer,0)=0)
					Begin
					 UPDATE [Parametre].[T_Personne]
					SET supprimer = 1
						,[userLogin] = @userLogin
						,dateDernModifClient = @dateDernModifClient
						,dateDernModifServeur = getdate()
					WHERE numeroCpteDeposit=@numCompteDepositaire
					select  @Sortie=rtrim(ltrim(msgUser)) from Mouchard.T_Erreur where idErreur='3' and codeLangue=@codeLangue 
					End
				Else
					--suppression Physique
					Begin
						DELETE FROM [Parametre].[T_Personne]
						WHERE numeroCpteDeposit=@numCompteDepositaire
						select  @Sortie=rtrim(ltrim(msgUser)) from Mouchard.T_Erreur where idErreur='6' and codeLangue=@codeLangue
					End
				-- Message de retour
				Exec [Mouchard].[PS_ErreurInfo] '2',@codeLangue ,@Sortie,@numLigne,@Sortie output
			End
	END TRY
	BEGIN CATCH
		-- Journalisation de l'erreur et message utilisateur
		EXECUTE [Mouchard].[PS_ErreurInfo] null, @CodeLangue, null, null,@Sortie output
	END CATCH
END
GO
/****** Object:  StoredProcedure [Parametre].[PS_Personne_IP]    Script Date: 29/02/2024 18:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
Auteur : 
Date Modification : 27/02/2024
Description : 
============================================= */
CREATE PROCEDURE [Parametre].[PS_Personne_IP]
	@P_TYPE  varchar(31),
	@idPersonne  bigint,
	@CodeLangue  varchar(255),
	@CodePays  varchar(255),
	@EstActifPersonne  bit,
	@LibelleTypePersonne  varchar(255),
	@bp  varchar(255),
	@codeCategorieClient  varchar(255),
	@codeSousTypeClient  varchar(255),
	@dateExpirationPiece  datetime2,
	@denomination  varchar(255),
	@domicile  varchar(255),
	@emailContact  varchar(255),
	@emailPerso  varchar(255),
	@emailPro  varchar(255),
	@estConvertie  bit,
	@estExpose  bit,
	@estGele  bit,
	@estJuge  bit,
	@estsgi  bit,
	@fixe1  varchar(255),
	@fixe2  varchar(255),
	@ifu  varchar(255),
	@mobile1  varchar(255),
	@mobile2  varchar(255),
	@modeEtablissement  varchar(255),
	@nomContact  varchar(255),
	@numOrdre  bigint,
	@numeroCpteDeposit  varchar(255),
	@numeroPiece  varchar(255),
	@ppe1  bit,
	@ppe2  bit,
	@ppe3  bit,
	@ppe4  bit,
	@prenomContact  varchar(255),
	@telContact  varchar(255),
	@titreContact  varchar(255),
	@typePiece  varchar(255),
	@idDegre  bigint,
	@idDistributeur  bigint,
	@idPaysResidence  bigint,
	@idQuartier  bigint,
	@idSecteur  bigint,
	@userLogin D_A_CODE_LONG,
	@dateDernModifClient D_T_DATEHEURE,
	@CodeLangueS D_A_CODE,
	@Sortie D_A_TEXTE OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		--déclarations----------
		DECLARE @Supprimer D_B_BOOLEEN, @NumLigne D_N_SEQ
		SELECT  @Supprimer=supprimer,@NumLigne=numLigne
		FROM [Parametre].[T_Personne]
		WHERE  idPersonne = @idPersonne
		AND supprimer=1
		IF (@@ROWCOUNT>0)
			DELETE from [Parametre].[T_Personne] where numLigne=@NumLigne
		---insertion dans T_Personne
		INSERT INTO [Parametre].[T_Personne]
			([P_TYPE]
			,[idPersonne]
			,[CodeLangue]
			,[CodePays]
			,[EstActifPersonne]
			,[LibelleTypePersonne]
			,[bp]
			,[codeCategorieClient]
			,[codeSousTypeClient]
			,[dateExpirationPiece]
			,[denomination]
			,[domicile]
			,[emailContact]
			,[emailPerso]
			,[emailPro]
			,[estConvertie]
			,[estExpose]
			,[estGele]
			,[estJuge]
			,[estsgi]
			,[fixe1]
			,[fixe2]
			,[ifu]
			,[mobile1]
			,[mobile2]
			,[modeEtablissement]
			,[nomContact]
			,[numOrdre]
			,[numeroCpteDeposit]
			,[numeroPiece]
			,[ppe1]
			,[ppe2]
			,[ppe3]
			,[ppe4]
			,[prenomContact]
			,[telContact]
			,[titreContact]
			,[typePiece]
			,[idDegre]
			,[idDistributeur]
			,[idPaysResidence]
			,[idQuartier]
			,[idSecteur]
			,[dateDernModifClient]
			,[userLogin]
			,[dateCreationServeur])
			VALUES
			(@P_TYPE
			,@idPersonne
			,@CodeLangue
			,@CodePays
			,@EstActifPersonne
			,@LibelleTypePersonne
			,@bp
			,@codeCategorieClient
			,@codeSousTypeClient
			,@dateExpirationPiece
			,@denomination
			,@domicile
			,@emailContact
			,@emailPerso
			,@emailPro
			,@estConvertie
			,@estExpose
			,@estGele
			,@estJuge
			,@estsgi
			,@fixe1
			,@fixe2
			,@ifu
			,@mobile1
			,@mobile2
			,@modeEtablissement
			,@nomContact
			,@numOrdre
			,@numeroCpteDeposit
			,@numeroPiece
			,@ppe1
			,@ppe2
			,@ppe3
			,@ppe4
			,@prenomContact
			,@telContact
			,@titreContact
			,@typePiece
			,@idDegre
			,@idDistributeur
			,@idPaysResidence
			,@idQuartier
			,@idSecteur
			,@dateDernModifClient
			,@userLogin
			,getdate())
		--Message de retour et journalisation
		set @NumLigne=SCOPE_IDENTITY()
		select  @Sortie=rtrim(ltrim(msgUser)) from Mouchard.T_Erreur where idErreur='2' and codeLangue=@codeLangueS
		exec [Mouchard].[PS_ErreurInfo] '2',@CodeLangueS,@Sortie,@NumLigne,@Sortie output
		
	END TRY
	BEGIN CATCH
		-- Journalisation de l'erreur et message utilisateur
		EXECUTE [Mouchard].[PS_ErreurInfo] null, @CodeLangueS, null, null,@Sortie output
	END CATCH
END
GO
/****** Object:  StoredProcedure [Parametre].[PS_Personne_SP]    Script Date: 29/02/2024 18:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
Auteur : 
Date Modification : 27/02/2024
Description : 
============================================= */
CREATE PROCEDURE [Parametre].[PS_Personne_SP]
	@P_TYPE  varchar
	,@idPersonne  bigint
	,@CodeLangue  varchar
	,@CodePays  varchar
	,@EstActifPersonne  bit
	,@LibelleTypePersonne  varchar
	,@bp  varchar
	,@codeCategorieClient  varchar
	,@codeSousTypeClient  varchar
	,@dateExpirationPiece  datetime2
	,@denomination  varchar
	,@domicile  varchar
	,@emailContact  varchar
	,@emailPerso  varchar
	,@emailPro  varchar
	,@estConvertie  bit
	,@estExpose  bit
	,@estGele  bit
	,@estJuge  bit
	,@estsgi  bit
	,@fixe1  varchar
	,@fixe2  varchar
	,@ifu  varchar
	,@mobile1  varchar
	,@mobile2  varchar
	,@modeEtablissement  varchar
	,@nomContact  varchar
	,@numOrdre  bigint
	,@numeroCpteDeposit  varchar
	,@numeroPiece  varchar
	,@ppe1  bit
	,@ppe2  bit
	,@ppe3  bit
	,@ppe4  bit
	,@prenomContact  varchar
	,@telContact  varchar
	,@titreContact  varchar
	,@typePiece  varchar
	,@idDegre  bigint
	,@idDistributeur  bigint
	,@idPaysResidence  bigint
	,@idQuartier  bigint
	,@idSecteur  bigint
	,@numLigne  bigint
	,@rowvers  timestamp
	,@dateCreationServeur  datetime
	,@dateDernModifClient  datetime
	,@dateDernModifServeur  datetime
	,@supprimer  bit
	,@userLogin  varchar
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		SELECT	[P_TYPE]
			,[idPersonne]
			,[CodeLangue]
			,[CodePays]
			,[EstActifPersonne]
			,[LibelleTypePersonne]
			,[bp]
			,[codeCategorieClient]
			,[codeSousTypeClient]
			,[dateExpirationPiece]
			,[denomination]
			,[domicile]
			,[emailContact]
			,[emailPerso]
			,[emailPro]
			,[estConvertie]
			,[estExpose]
			,[estGele]
			,[estJuge]
			,[estsgi]
			,[fixe1]
			,[fixe2]
			,[ifu]
			,[mobile1]
			,[mobile2]
			,[modeEtablissement]
			,[nomContact]
			,[numOrdre]
			,[numeroCpteDeposit]
			,[numeroPiece]
			,[ppe1]
			,[ppe2]
			,[ppe3]
			,[ppe4]
			,[prenomContact]
			,[telContact]
			,[titreContact]
			,[typePiece]
			,[idDegre]
			,[idDistributeur]
			,[idPaysResidence]
			,[idQuartier]
			,[idSecteur]
			,[numLigne]
			,[rowvers]
			,[dateCreationServeur]
			,[dateDernModifClient]
			,[dateDernModifServeur]
			,[supprimer]
			,[userLogin]
		FROM [Parametre].[T_Personne]
		WHERE  (ltrim(rtrim(P_TYPE)) = ltrim(rtrim(@P_TYPE)) or @P_TYPE is null)
		AND  (idPersonne = @idPersonne or @idPersonne is null)
		AND  (ltrim(rtrim(CodeLangue)) = ltrim(rtrim(@CodeLangue)) or @CodeLangue is null)
		AND  (ltrim(rtrim(CodePays)) = ltrim(rtrim(@CodePays)) or @CodePays is null)
		AND  (EstActifPersonne = @EstActifPersonne or @EstActifPersonne is null)
		AND  (ltrim(rtrim(LibelleTypePersonne)) = ltrim(rtrim(@LibelleTypePersonne)) or @LibelleTypePersonne is null)
		AND  (ltrim(rtrim(bp)) = ltrim(rtrim(@bp)) or @bp is null)
		AND  (ltrim(rtrim(codeCategorieClient)) = ltrim(rtrim(@codeCategorieClient)) or @codeCategorieClient is null)
		AND  (ltrim(rtrim(codeSousTypeClient)) = ltrim(rtrim(@codeSousTypeClient)) or @codeSousTypeClient is null)
		AND  (dateExpirationPiece = @dateExpirationPiece or @dateExpirationPiece is null)
		AND  (ltrim(rtrim(denomination)) = ltrim(rtrim(@denomination)) or @denomination is null)
		AND  (ltrim(rtrim(domicile)) = ltrim(rtrim(@domicile)) or @domicile is null)
		AND  (ltrim(rtrim(emailContact)) = ltrim(rtrim(@emailContact)) or @emailContact is null)
		AND  (ltrim(rtrim(emailPerso)) = ltrim(rtrim(@emailPerso)) or @emailPerso is null)
		AND  (ltrim(rtrim(emailPro)) = ltrim(rtrim(@emailPro)) or @emailPro is null)
		AND  (estConvertie = @estConvertie or @estConvertie is null)
		AND  (estExpose = @estExpose or @estExpose is null)
		AND  (estGele = @estGele or @estGele is null)
		AND  (estJuge = @estJuge or @estJuge is null)
		AND  (estsgi = @estsgi or @estsgi is null)
		AND  (ltrim(rtrim(fixe1)) = ltrim(rtrim(@fixe1)) or @fixe1 is null)
		AND  (ltrim(rtrim(fixe2)) = ltrim(rtrim(@fixe2)) or @fixe2 is null)
		AND  (ltrim(rtrim(ifu)) = ltrim(rtrim(@ifu)) or @ifu is null)
		AND  (ltrim(rtrim(mobile1)) = ltrim(rtrim(@mobile1)) or @mobile1 is null)
		AND  (ltrim(rtrim(mobile2)) = ltrim(rtrim(@mobile2)) or @mobile2 is null)
		AND  (ltrim(rtrim(modeEtablissement)) = ltrim(rtrim(@modeEtablissement)) or @modeEtablissement is null)
		AND  (ltrim(rtrim(nomContact)) = ltrim(rtrim(@nomContact)) or @nomContact is null)
		AND  (numOrdre = @numOrdre or @numOrdre is null)
		AND  (ltrim(rtrim(numeroCpteDeposit)) = ltrim(rtrim(@numeroCpteDeposit)) or @numeroCpteDeposit is null)
		AND  (ltrim(rtrim(numeroPiece)) = ltrim(rtrim(@numeroPiece)) or @numeroPiece is null)
		AND  (ppe1 = @ppe1 or @ppe1 is null)
		AND  (ppe2 = @ppe2 or @ppe2 is null)
		AND  (ppe3 = @ppe3 or @ppe3 is null)
		AND  (ppe4 = @ppe4 or @ppe4 is null)
		AND  (ltrim(rtrim(prenomContact)) = ltrim(rtrim(@prenomContact)) or @prenomContact is null)
		AND  (ltrim(rtrim(telContact)) = ltrim(rtrim(@telContact)) or @telContact is null)
		AND  (ltrim(rtrim(titreContact)) = ltrim(rtrim(@titreContact)) or @titreContact is null)
		AND  (ltrim(rtrim(typePiece)) = ltrim(rtrim(@typePiece)) or @typePiece is null)
		AND  (idDegre = @idDegre or @idDegre is null)
		AND  (idDistributeur = @idDistributeur or @idDistributeur is null)
		AND  (idPaysResidence = @idPaysResidence or @idPaysResidence is null)
		AND  (idQuartier = @idQuartier or @idQuartier is null)
		AND  (idSecteur = @idSecteur or @idSecteur is null)
		AND  (numLigne = @numLigne or @numLigne is null)
		AND  (rowvers = @rowvers or @rowvers is null)
		AND  (dateCreationServeur = @dateCreationServeur or @dateCreationServeur is null)
		AND  (dateDernModifClient = @dateDernModifClient or @dateDernModifClient is null)
		AND  (dateDernModifServeur = @dateDernModifServeur or @dateDernModifServeur is null)
		AND  (supprimer = @supprimer or @supprimer is null)
		AND  (ltrim(rtrim(userLogin)) = ltrim(rtrim(@userLogin)) or @userLogin is null)
	END TRY
	BEGIN CATCH
	END CATCH
END
GO
/****** Object:  StoredProcedure [Parametre].[PS_Personne_UP]    Script Date: 29/02/2024 18:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
Auteur : 
Date Modification : 27/02/2024
Description : 
============================================= */
CREATE PROCEDURE [Parametre].[PS_Personne_UP]
	@CodeLangue  varchar,
	@CodePays  varchar,
	@EstActifPersonne  bit,
	@LibelleTypePersonne  varchar,
	@bp  varchar,
	@codeCategorieClient  varchar,
	@codeSousTypeClient  varchar,
	@dateExpirationPiece  datetime2,
	@denomination  varchar,
	@domicile  varchar,
	@emailContact  varchar,
	@emailPerso  varchar,
	@emailPro  varchar,
	@estConvertie  bit,
	@estExpose  bit,
	@estGele  bit,
	@estJuge  bit,
	@estsgi  bit,
	@fixe1  varchar,
	@fixe2  varchar,
	@ifu  varchar,
	@mobile1  varchar,
	@mobile2  varchar,
	@modeEtablissement  varchar,
	@nomContact  varchar,
	@numOrdre  bigint,
	@numeroCpteDeposit  varchar,
	@numeroPiece  varchar,
	@ppe1  bit,
	@ppe2  bit,
	@ppe3  bit,
	@ppe4  bit,
	@prenomContact  varchar,
	@telContact  varchar,
	@titreContact  varchar,
	@typePiece  varchar,
	@idDegre  bigint,
	@idDistributeur  bigint,
	@idPaysResidence  bigint,
	@idQuartier  bigint,
	@idSecteur  bigint,
	@NumLigne D_N_SEQ,
	@Rowversion timestamp,
	@userLogin D_A_CODE_LONG,
	@dateDernModifClient D_T_DATEHEURE,
	@CodeLangueS D_A_CODE,
	@Sortie D_A_TEXTE OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		--déclarations----------
		declare  @supprimer  D_B_BOOLEEN, @version timestamp
		--verification de l'etat de l'enregistrement
		SELECT  @supprimer=supprimer,@version=Rowvers
		FROM [Parametre].[T_Personne]
		WHERE numLigne=@numLigne
		IF(@@rowcount=0 or @supprimer=1)
			Begin
				Exec [Mouchard].[PS_ErreurInfo] '7',@codeLangueS ,null,@numLigne,@Sortie output
				/*Rollback tran*/
				Return
			End
		--ctl de la version de l'enregistrement pour la gestion des accès concurrents
		IF(@version!=@Rowversion )
			raiserror(50004,-1,-1,'')  /*le numéro du message de conflit ds T_erreur est 50004*/
		ElSE
		Begin
			UPDATE [Parametre].[T_Personne]
			SET	[CodeLangue] = @CodeLangue
				,[CodePays] = @CodePays
				,[EstActifPersonne] = @EstActifPersonne
				,[LibelleTypePersonne] = @LibelleTypePersonne
				,[bp] = @bp
				,[codeCategorieClient] = @codeCategorieClient
				,[codeSousTypeClient] = @codeSousTypeClient
				,[dateExpirationPiece] = @dateExpirationPiece
				,[denomination] = @denomination
				,[domicile] = @domicile
				,[emailContact] = @emailContact
				,[emailPerso] = @emailPerso
				,[emailPro] = @emailPro
				,[estConvertie] = @estConvertie
				,[estExpose] = @estExpose
				,[estGele] = @estGele
				,[estJuge] = @estJuge
				,[estsgi] = @estsgi
				,[fixe1] = @fixe1
				,[fixe2] = @fixe2
				,[ifu] = @ifu
				,[mobile1] = @mobile1
				,[mobile2] = @mobile2
				,[modeEtablissement] = @modeEtablissement
				,[nomContact] = @nomContact
				,[numOrdre] = @numOrdre
				,[numeroCpteDeposit] = @numeroCpteDeposit
				,[numeroPiece] = @numeroPiece
				,[ppe1] = @ppe1
				,[ppe2] = @ppe2
				,[ppe3] = @ppe3
				,[ppe4] = @ppe4
				,[prenomContact] = @prenomContact
				,[telContact] = @telContact
				,[titreContact] = @titreContact
				,[typePiece] = @typePiece
				,[idDegre] = @idDegre
				,[idDistributeur] = @idDistributeur
				,[idPaysResidence] = @idPaysResidence
				,[idQuartier] = @idQuartier
				,[idSecteur] = @idSecteur
				,[dateDernModifClient] = @dateDernModifClient
				,[dateDernModifServeur] =getdate()
				,[userLogin] = @userLogin
			WHERE  numLigne=@NumLigne
			-- Message de retour
			select  @Sortie=rtrim(ltrim(msgUser)) from Mouchard.T_Erreur where idErreur='4' and codeLangue=@codeLangueS 
			exec [Mouchard].[PS_ErreurInfo] '4',@CodeLangueS,@Sortie,@NumLigne,@Sortie output
		end
	END TRY
	BEGIN CATCH
		-- Journalisation de l'erreur et message utilisateur
		EXECUTE [Mouchard].[PS_ErreurInfo] null, @CodeLangueS, null, null,@Sortie output
	END CATCH
END
GO
/****** Object:  StoredProcedure [Parametre].[PS_Personnel_DP]    Script Date: 29/02/2024 18:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
Auteur : 
Date Modification : 27/02/2024
Description : 
============================================= */
CREATE PROCEDURE [Parametre].[PS_Personnel_DP]
	@userLogin D_A_CODE_LONG,
	@dateDernModifClient D_T_DATEHEURE,
	@numLigne D_N_SEQ,
	@Rowversion timestamp,
	@CodeLangue D_A_CODE,
	@Sortie D_A_TEXTE OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		--déclarations----------
		declare @supprimer  D_B_BOOLEEN, @version timestamp
		--l'enregistrement n'existe pas ou est marqué supprimé
		SELECT  @supprimer=supprimer,@version=Rowvers
		FROM [Parametre].[T_Personnel]
		WHERE numLigne=@numLigne
		IF(@@rowcount=0 or @supprimer=1)
			Begin
				Exec [Mouchard].[PS_ErreurInfo] '7',@codeLangue ,null,@numLigne,@Sortie output
				/*Rollback tran*/
				Return
			End
		--ctl de la version de l'enregistrement pour la gestion des accès concurrents
		IF(@version!=@Rowversion )
			raiserror(50004,-1,-1,'')  /*le numéro du message de conflit ds T_erreur est 50004*/
		ElSE
		Begin
			--suppression logique
				IF (isnull(@supprimer,0)=0)
					Begin
					 UPDATE [Parametre].[T_Personnel]
					SET supprimer = 1
						,[userLogin] = @userLogin
						,dateDernModifClient = @dateDernModifClient
						,dateDernModifServeur = getdate()
					WHERE numLigne=@numLigne
					select  @Sortie=rtrim(ltrim(msgUser)) from Mouchard.T_Erreur where idErreur='3' and codeLangue=@codeLangue 
					End
				Else
					--suppression Physique
					Begin
						DELETE FROM [Parametre].[T_Personnel]
						WHERE numLigne=@numLigne
						select  @Sortie=rtrim(ltrim(msgUser)) from Mouchard.T_Erreur where idErreur='6' and codeLangue=@codeLangue
					End
				-- Message de retour
				Exec [Mouchard].[PS_ErreurInfo] '2',@codeLangue ,@Sortie,@numLigne,@Sortie output
			End
	END TRY
	BEGIN CATCH
		-- Journalisation de l'erreur et message utilisateur
		EXECUTE [Mouchard].[PS_ErreurInfo] null, @CodeLangue, null, null,@Sortie output
	END CATCH
END
GO
/****** Object:  StoredProcedure [Parametre].[PS_Personnel_IP]    Script Date: 29/02/2024 18:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/* =============================================
Auteur : 
Date Modification : 27/02/2024
Description : 
============================================= */
CREATE PROCEDURE [Parametre].[PS_Personnel_IP]
	@matricule  varchar(255),
	@idPersonne  bigint,
	@userLogin D_A_CODE_LONG,
	@dateDernModifClient D_T_DATEHEURE,
	@CodeLangue D_A_CODE,
	@Sortie D_A_TEXTE OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		--déclarations----------
		DECLARE @Supprimer D_B_BOOLEEN, @NumLigne D_N_SEQ
		SELECT  @Supprimer=supprimer,@NumLigne=numLigne
		FROM [Parametre].[T_Personnel]
		WHERE  idPersonne = @idPersonne
		AND supprimer=1
		IF (@@ROWCOUNT>0)
			DELETE from [Parametre].[T_Personnel] where numLigne=@NumLigne
		---insertion dans T_Personnel
		INSERT INTO [Parametre].[T_Personnel]
			([matricule]
			,[idPersonne]
			,[dateDernModifClient]
			,[userLogin]
			,[dateCreationServeur])
			VALUES
			(@matricule
			,@idPersonne
			,@dateDernModifClient
			,@userLogin
			,getdate())
		--Message de retour et journalisation
		set @NumLigne=SCOPE_IDENTITY()
		select  @Sortie=rtrim(ltrim(msgUser)) from Mouchard.T_Erreur where idErreur='2' and codeLangue=@codeLangue 
		exec [Mouchard].[PS_ErreurInfo] '2',@CodeLangue,@Sortie,@NumLigne,@Sortie output
		
	END TRY
	BEGIN CATCH
		-- Journalisation de l'erreur et message utilisateur
		EXECUTE [Mouchard].[PS_ErreurInfo] null, @CodeLangue, null, null,@Sortie output
	END CATCH
END
GO
/****** Object:  StoredProcedure [Parametre].[PS_Personnel_SP]    Script Date: 29/02/2024 18:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
Auteur : 
Date Modification : 27/02/2024
Description : 
============================================= */
CREATE PROCEDURE [Parametre].[PS_Personnel_SP]
	@matricule  varchar
	,@idPersonne  bigint
	,@numLigne  bigint
	,@rowvers  timestamp
	,@dateCreationServeur  datetime
	,@dateDernModifClient  datetime
	,@dateDernModifServeur  datetime
	,@supprimer  bit
	,@userLogin  varchar
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		SELECT	[matricule]
			,[idPersonne]
			,[numLigne]
			,[rowvers]
			,[dateCreationServeur]
			,[dateDernModifClient]
			,[dateDernModifServeur]
			,[supprimer]
			,[userLogin]
		FROM [Parametre].[T_Personnel]
		WHERE  (ltrim(rtrim(matricule)) = ltrim(rtrim(@matricule)) or @matricule is null)
		AND  (idPersonne = @idPersonne or @idPersonne is null)
		AND  (numLigne = @numLigne or @numLigne is null)
		AND  (rowvers = @rowvers or @rowvers is null)
		AND  (dateCreationServeur = @dateCreationServeur or @dateCreationServeur is null)
		AND  (dateDernModifClient = @dateDernModifClient or @dateDernModifClient is null)
		AND  (dateDernModifServeur = @dateDernModifServeur or @dateDernModifServeur is null)
		AND  (supprimer = @supprimer or @supprimer is null)
		AND  (ltrim(rtrim(userLogin)) = ltrim(rtrim(@userLogin)) or @userLogin is null)
	END TRY
	BEGIN CATCH
	END CATCH
END
GO
/****** Object:  StoredProcedure [Parametre].[PS_Personnel_UP]    Script Date: 29/02/2024 18:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/* =============================================
Auteur : 
Date Modification : 27/02/2024
Description : 
============================================= */
CREATE PROCEDURE [Parametre].[PS_Personnel_UP]
	@matricule  varchar,
	@idPersonne  bigint,
	@NumLigne D_N_SEQ,
	@Rowversion timestamp,
	@userLogin D_A_CODE_LONG,
	@dateDernModifClient D_T_DATEHEURE,
	@CodeLangue D_A_CODE,
	@Sortie D_A_TEXTE OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		--déclarations----------
		declare  @supprimer  D_B_BOOLEEN, @version timestamp
		--verification de l'etat de l'enregistrement
		SELECT  @supprimer=supprimer,@version=Rowvers
		FROM [Parametre].[T_Personnel]
		WHERE numLigne=@numLigne
		IF(@@rowcount=0 or @supprimer=1)
			Begin
				Exec [Mouchard].[PS_ErreurInfo] '7',@codeLangue ,null,@numLigne,@Sortie output
				/*Rollback tran*/
				Return
			End
		--ctl de la version de l'enregistrement pour la gestion des accès concurrents
		IF(@version!=@Rowversion )
			raiserror(50004,-1,-1,'')  /*le numéro du message de conflit ds T_erreur est 50004*/
		ElSE
		Begin
			UPDATE [Parametre].[T_Personnel]
			SET	[matricule] = @matricule
				,[idPersonne] = @idPersonne
				,[dateDernModifClient] = @dateDernModifClient
				,[dateDernModifServeur] =getdate()
				,[userLogin] = @userLogin
			WHERE  numLigne=@NumLigne
			-- Message de retour
			select  @Sortie=rtrim(ltrim(msgUser)) from Mouchard.T_Erreur where idErreur='4' and codeLangue=@codeLangue 
			exec [Mouchard].[PS_ErreurInfo] '4',@CodeLangue,@Sortie,@NumLigne,@Sortie output
		end
	END TRY
	BEGIN CATCH
		-- Journalisation de l'erreur et message utilisateur
		EXECUTE [Mouchard].[PS_ErreurInfo] null, @CodeLangue, null, null,@Sortie output
	END CATCH
END
GO
/****** Object:  StoredProcedure [Parametre].[PS_PersonneMorale_DP]    Script Date: 29/02/2024 18:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
Auteur : 
Date Modification : 27/02/2024
Description : 
============================================= */
CREATE PROCEDURE [Parametre].[PS_PersonneMorale_DP]
	@userLogin D_A_CODE_LONG,
	@dateDernModifClient D_T_DATEHEURE,
	@numLigne D_N_SEQ,
	@numCompteDepositaire varchar(255),
	@Rowversion timestamp,
	@CodeLangue D_A_CODE,
	@Sortie D_A_TEXTE OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		--déclarations----------
		declare @supprimer  D_B_BOOLEEN, @version timestamp
		--l'enregistrement n'existe pas ou est marqué supprimé
		--SELECT  @supprimer=supprimer,@version=Rowvers
		--FROM [Parametre].[T_PersonneMorale]
		--WHERE numLigne=@numLigne
		--IF(@@rowcount=0 or @supprimer=1)
		--	Begin
		--		Exec [Mouchard].[PS_ErreurInfo] '7',@codeLangue ,null,@numLigne,@Sortie output
				/*Rollback tran*/
		--		Return
		--	End
		--ctl de la version de l'enregistrement pour la gestion des accès concurrents
		--IF(@version!=@Rowversion )
		--	raiserror(50004,-1,-1,'')  /*le numéro du message de conflit ds T_erreur est 50004*/
		--ElSE
		Begin
			--suppression logique
				exec [Parametre].[PS_Personne_DP]
				@userLogin,
				@dateDernModifClient,
				@numLigne,
				@numCompteDepositaire,
				@Rowversion,
				@CodeLangue,
				@Sortie

				IF (isnull(@supprimer,0)=0)
					Begin
					 UPDATE [Parametre].[T_PersonneMorale]
					SET supprimer = 1
						,[userLogin] = @userLogin
						,dateDernModifClient = @dateDernModifClient
						,dateDernModifServeur = getdate()
					WHERE numcompteDepositaire=@NumCompteDepositaire
					select  @Sortie=rtrim(ltrim(msgUser)) from Mouchard.T_Erreur where idErreur='3' and codeLangue=@codeLangue 
					End
				Else
					--suppression Physique
					Begin
						DELETE FROM [Parametre].[T_PersonneMorale]
						WHERE numcompteDepositaire=@NumCompteDepositaire
						select  @Sortie=rtrim(ltrim(msgUser)) from Mouchard.T_Erreur where idErreur='6' and codeLangue=@codeLangue
					End
				-- Message de retour
				Exec [Mouchard].[PS_ErreurInfo] '2',@codeLangue ,@Sortie,@numLigne,@Sortie output
			End
	END TRY
	BEGIN CATCH
		-- Journalisation de l'erreur et message utilisateur
		EXECUTE [Mouchard].[PS_ErreurInfo] null, @CodeLangue, null, null,@Sortie output
	END CATCH
END
GO
/****** Object:  StoredProcedure [Parametre].[PS_PersonneMorale_IP]    Script Date: 29/02/2024 18:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/* =============================================
Auteur : 
Date Modification : 27/02/2024
Description : 
============================================= */
CREATE PROCEDURE [Parametre].[PS_PersonneMorale_IP]
	@CapitalSocial  bigint,
	@CodeFormeJuridique  varchar(255),
	@NumeroAgrementPersonneMorale  varchar(255),
	@NumeroINSAE  varchar(255),
	@RaisonSociale  varchar(255),
	@SiglePersonneMorale  varchar(255),
	@adresseComplete  varchar(255),
	@boitePostale  varchar(255),
	@codeSecteur  varchar(255),
	@dateAgrement  datetime2,
	@dateCreationPM  datetime2,
	@dateFermetureCompte  datetime2,
	@email  varchar(255),
	@fax  varchar(255),
	@indexFax  varchar(255),
	@indexFixe1  varchar(255),
	@indexFixe2  varchar(255),
	@indexMobile1  varchar(255),
	@indexMobile2  varchar(255),
	@libelleSousCategorie  varchar(255),
	@motifFermetureCompte  varchar(255),
	@numCompteDepositaire  varchar(255),
	@numCompteSgi  varchar(255),
	@numRegistre  varchar(255),
	@pieceFermetureCompte  varchar(255),
	@sigle  varchar(255),
	@siteWeb  varchar(255),
	@statutCompte  varchar(255),
	@tauxRetroCourRach  bigint,
	@tauxRetroCourSous  bigint,
	@telephoneFixe1  varchar(255),
	@telephoneFixe2  varchar(255),
	@telephoneMobile1  varchar(255),
	@telephoneMobile2  varchar(255),
	@idPersonne  bigint,
	@idSousCategorie  bigint,
	@idVille  bigint,
	--personne
	@CodeLangue  varchar(255),
	@CodePays  varchar(255),
	@EstActifPersonne  bit,
	@LibelleTypePersonne  varchar(255),
	@codeCategorieClient  varchar(255),
	@codeSousTypeClient  varchar(255),
	@dateExpirationPiece  datetime2,
	@domicile  varchar(255),
	@emailContact  varchar(255),
	@emailPerso  varchar(255),
	@emailPro  varchar(255),
	@estConvertie  bit,
	@estExpose  bit,
	@estGele  bit,
	@estJuge  bit,
	@estsgi  bit,
	@fixe1  varchar(255),
	@fixe2  varchar(255),
	@ifu  varchar(255),
	@mobile1  varchar(255),
	@mobile2  varchar(255),
	@modeEtablissement  varchar(255),
	@nomContact  varchar(255),
	@numOrdre  bigint,
	@numeroPiece  varchar(255),
	@ppe1  bit,
	@ppe2  bit,
	@ppe3  bit,
	@ppe4  bit,
	@prenomContact  varchar(255),
	@telContact  varchar(255),
	@titreContact  varchar(255),
	@typePiece  varchar(255),
	@idDegre  bigint,
	@idDistributeur  bigint,
	@idPaysResidence  bigint,
	@idQuartier  bigint,
	@idSecteur  bigint,
	@userLogin D_A_CODE_LONG,
	@dateDernModifClient D_T_DATEHEURE,
	@CodeLangueS D_A_CODE,
	@Sortie D_A_TEXTE OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		--déclarations----------
		DECLARE @Supprimer D_B_BOOLEEN, @NumLigne D_N_SEQ,@IdPersonne_Max D_N_SEQ
		SELECT  @Supprimer=supprimer,@NumLigne=numLigne
		FROM [Parametre].[T_PersonneMorale]
		WHERE  idPersonne = @idPersonne
		AND supprimer=1
		IF (@@ROWCOUNT>0)
			DELETE from [Parametre].[T_PersonneMorale] where numLigne=@NumLigne

		---insertion dans T_Personne
		select @IdPersonne_Max=max(p.idPersonne) from Parametre.T_Personne p;
		set @IdPersonne_Max+=1;

		INSERT INTO [Parametre].[T_Personne]
			 ([P_TYPE]
			 ,[idPersonne]
			,[CodeLangue]
			,[CodePays]
			,[EstActifPersonne]
			,[LibelleTypePersonne]
			,[bp]
			,[codeCategorieClient]
			,[codeSousTypeClient]
			,[dateExpirationPiece]
			,[denomination]
			,[domicile]
			,[emailContact]
			,[emailPerso]
			,[emailPro]
			,[estConvertie]
			,[estExpose]
			,[estGele]
			,[estJuge]
			,[estsgi]
			,[fixe1]
			,[fixe2]
			,[ifu]
			,[mobile1]
			,[mobile2]
			,[modeEtablissement]
			,[nomContact]
			,[numOrdre]
			,[numeroCpteDeposit]
			,[numeroPiece]
			,[ppe1]
			,[ppe2]
			,[ppe3]
			,[ppe4]
			,[prenomContact]
			,[telContact]
			,[titreContact]
			,[typePiece]
			,[idDegre]
			,[idDistributeur]
			,[idPaysResidence]
			,[idQuartier]
			,[idSecteur]
			,[dateDernModifClient]
			,[userLogin]
			,[dateCreationServeur])
			VALUES
			(@LibelleTypePersonne
			,@IdPersonne_Max
			,@CodeLangue
			,@CodePays
			,@EstActifPersonne
			,@LibelleTypePersonne
			,@boitePostale
			,@codeCategorieClient
			,@codeSousTypeClient
			,@dateExpirationPiece
			,@RaisonSociale
			,@domicile
			,@emailContact
			,@emailPerso
			,@emailPro
			,@estConvertie
			,@estExpose
			,@estGele
			,@estJuge
			,@estsgi
			,@fixe1
			,@fixe2
			,@ifu
			,@mobile1
			,@mobile2
			,@modeEtablissement
			,@nomContact
			,@numOrdre
			,@numCompteDepositaire
			,@numeroPiece
			,@ppe1
			,@ppe2
			,@ppe3
			,@ppe4
			,@prenomContact
			,@telContact
			,@titreContact
			,@typePiece
			,@idDegre
			,@idDistributeur
			,@idPaysResidence
			,@idQuartier
			,@idSecteur
			,@dateDernModifClient
			,@userLogin
			,getdate())
		---insertion dans T_PersonneMorale
		INSERT INTO [Parametre].[T_PersonneMorale]
			([CapitalSocial]
			,[CodeFormeJuridique]
			,[NumeroAgrementPersonneMorale]
			,[NumeroINSAE]
			,[RaisonSociale]
			,[SiglePersonneMorale]
			,[adresseComplete]
			,[boitePostale]
			,[codeSecteur]
			,[dateAgrement]
			,[dateCreationPM]
			,[dateFermetureCompte]
			,[email]
			,[fax]
			,[indexFax]
			,[indexFixe1]
			,[indexFixe2]
			,[indexMobile1]
			,[indexMobile2]
			,[libelleSousCategorie]
			,[motifFermetureCompte]
			,[numCompteDepositaire]
			,[numCompteSgi]
			,[numRegistre]
			,[pieceFermetureCompte]
			,[sigle]
			,[siteWeb]
			,[statutCompte]
			,[tauxRetroCourRach]
			,[tauxRetroCourSous]
			,[telephoneFixe1]
			,[telephoneFixe2]
			,[telephoneMobile1]
			,[telephoneMobile2]
			,[idPersonne]
			,[idSousCategorie]
			,[idVille]
			,[dateDernModifClient]
			,[userLogin]
			,[dateCreationServeur])
			VALUES
			(@CapitalSocial
			,@CodeFormeJuridique
			,@NumeroAgrementPersonneMorale
			,@NumeroINSAE
			,@RaisonSociale
			,@SiglePersonneMorale
			,@adresseComplete
			,@boitePostale
			,@codeSecteur
			,@dateAgrement
			,@dateCreationPM
			,@dateFermetureCompte
			,@email
			,@fax
			,@indexFax
			,@indexFixe1
			,@indexFixe2
			,@indexMobile1
			,@indexMobile2
			,@libelleSousCategorie
			,@motifFermetureCompte
			,@numCompteDepositaire
			,@numCompteSgi
			,@numRegistre
			,@pieceFermetureCompte
			,@sigle
			,@siteWeb
			,@statutCompte
			,@tauxRetroCourRach
			,@tauxRetroCourSous
			,@telephoneFixe1
			,@telephoneFixe2
			,@telephoneMobile1
			,@telephoneMobile2
			,@idPersonne_max
			,@idSousCategorie
			,@idVille
			,@dateDernModifClient
			,@userLogin
			,getdate())
		--Message de retour et journalisation
		set @NumLigne=SCOPE_IDENTITY()
		select  @Sortie=rtrim(ltrim(msgUser)) from Mouchard.T_Erreur where idErreur='2' and codeLangue=@codeLangueS 
		exec [Mouchard].[PS_ErreurInfo] '2',@CodeLangueS,@Sortie,@NumLigne,@Sortie output
		
	END TRY
	BEGIN CATCH
		-- Journalisation de l'erreur et message utilisateur
		EXECUTE [Mouchard].[PS_ErreurInfo] null, @CodeLangueS, null, null,@Sortie output
	END CATCH
END
GO
/****** Object:  StoredProcedure [Parametre].[PS_PersonneMorale_SP]    Script Date: 29/02/2024 18:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
Auteur : 
Date Modification : 27/02/2024
Description : 
============================================= */
CREATE PROCEDURE [Parametre].[PS_PersonneMorale_SP]
	@CapitalSocial  bigint
	,@CodeFormeJuridique  varchar
	,@NumeroAgrementPersonneMorale  varchar
	,@NumeroINSAE  varchar
	,@RaisonSociale  varchar
	,@SiglePersonneMorale  varchar
	,@adresseComplete  varchar
	,@boitePostale  varchar
	,@codeSecteur  varchar
	,@dateAgrement  datetime2
	,@dateCreationPM  datetime2
	,@dateFermetureCompte  datetime2
	,@email  varchar
	,@fax  varchar
	,@indexFax  varchar
	,@indexFixe1  varchar
	,@indexFixe2  varchar
	,@indexMobile1  varchar
	,@indexMobile2  varchar
	,@libelleSousCategorie  varchar
	,@motifFermetureCompte  varchar
	,@numCompteDepositaire  varchar
	,@numCompteSgi  varchar
	,@numRegistre  varchar
	,@pieceFermetureCompte  varchar
	,@sigle  varchar
	,@siteWeb  varchar
	,@statutCompte  varchar
	,@tauxRetroCourRach  bigint
	,@tauxRetroCourSous  bigint
	,@telephoneFixe1  varchar
	,@telephoneFixe2  varchar
	,@telephoneMobile1  varchar
	,@telephoneMobile2  varchar
	,@idPersonne  bigint
	,@idSousCategorie  bigint
	,@idVille  bigint
	,@numLigne  bigint
	,@rowvers  timestamp
	,@dateCreationServeur  datetime
	,@dateDernModifClient  datetime
	,@dateDernModifServeur  datetime
	,@supprimer  bit
	,@userLogin  varchar
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		SELECT	[CapitalSocial]
			,[CodeFormeJuridique]
			,[NumeroAgrementPersonneMorale]
			,[NumeroINSAE]
			,[RaisonSociale]
			,[SiglePersonneMorale]
			,[adresseComplete]
			,[boitePostale]
			,[codeSecteur]
			,[dateAgrement]
			,[dateCreationPM]
			,[dateFermetureCompte]
			,[email]
			,[fax]
			,[indexFax]
			,[indexFixe1]
			,[indexFixe2]
			,[indexMobile1]
			,[indexMobile2]
			,[libelleSousCategorie]
			,[motifFermetureCompte]
			,[numCompteDepositaire]
			,[numCompteSgi]
			,[numRegistre]
			,[pieceFermetureCompte]
			,[sigle]
			,[siteWeb]
			,[statutCompte]
			,[tauxRetroCourRach]
			,[tauxRetroCourSous]
			,[telephoneFixe1]
			,[telephoneFixe2]
			,[telephoneMobile1]
			,[telephoneMobile2]
			,[idPersonne]
			,[idSousCategorie]
			,[idVille]
			,[numLigne]
			,[rowvers]
			,[dateCreationServeur]
			,[dateDernModifClient]
			,[dateDernModifServeur]
			,[supprimer]
			,[userLogin]
		FROM [Parametre].[T_PersonneMorale]
		WHERE  (CapitalSocial = @CapitalSocial or @CapitalSocial is null)
		AND  (ltrim(rtrim(CodeFormeJuridique)) = ltrim(rtrim(@CodeFormeJuridique)) or @CodeFormeJuridique is null)
		AND  (ltrim(rtrim(NumeroAgrementPersonneMorale)) = ltrim(rtrim(@NumeroAgrementPersonneMorale)) or @NumeroAgrementPersonneMorale is null)
		AND  (ltrim(rtrim(NumeroINSAE)) = ltrim(rtrim(@NumeroINSAE)) or @NumeroINSAE is null)
		AND  (ltrim(rtrim(RaisonSociale)) = ltrim(rtrim(@RaisonSociale)) or @RaisonSociale is null)
		AND  (ltrim(rtrim(SiglePersonneMorale)) = ltrim(rtrim(@SiglePersonneMorale)) or @SiglePersonneMorale is null)
		AND  (ltrim(rtrim(adresseComplete)) = ltrim(rtrim(@adresseComplete)) or @adresseComplete is null)
		AND  (ltrim(rtrim(boitePostale)) = ltrim(rtrim(@boitePostale)) or @boitePostale is null)
		AND  (ltrim(rtrim(codeSecteur)) = ltrim(rtrim(@codeSecteur)) or @codeSecteur is null)
		AND  (dateAgrement = @dateAgrement or @dateAgrement is null)
		AND  (dateCreationPM = @dateCreationPM or @dateCreationPM is null)
		AND  (dateFermetureCompte = @dateFermetureCompte or @dateFermetureCompte is null)
		AND  (ltrim(rtrim(email)) = ltrim(rtrim(@email)) or @email is null)
		AND  (ltrim(rtrim(fax)) = ltrim(rtrim(@fax)) or @fax is null)
		AND  (ltrim(rtrim(indexFax)) = ltrim(rtrim(@indexFax)) or @indexFax is null)
		AND  (ltrim(rtrim(indexFixe1)) = ltrim(rtrim(@indexFixe1)) or @indexFixe1 is null)
		AND  (ltrim(rtrim(indexFixe2)) = ltrim(rtrim(@indexFixe2)) or @indexFixe2 is null)
		AND  (ltrim(rtrim(indexMobile1)) = ltrim(rtrim(@indexMobile1)) or @indexMobile1 is null)
		AND  (ltrim(rtrim(indexMobile2)) = ltrim(rtrim(@indexMobile2)) or @indexMobile2 is null)
		AND  (ltrim(rtrim(libelleSousCategorie)) = ltrim(rtrim(@libelleSousCategorie)) or @libelleSousCategorie is null)
		AND  (ltrim(rtrim(motifFermetureCompte)) = ltrim(rtrim(@motifFermetureCompte)) or @motifFermetureCompte is null)
		AND  (ltrim(rtrim(numCompteDepositaire)) = ltrim(rtrim(@numCompteDepositaire)) or @numCompteDepositaire is null)
		AND  (ltrim(rtrim(numCompteSgi)) = ltrim(rtrim(@numCompteSgi)) or @numCompteSgi is null)
		AND  (ltrim(rtrim(numRegistre)) = ltrim(rtrim(@numRegistre)) or @numRegistre is null)
		AND  (ltrim(rtrim(pieceFermetureCompte)) = ltrim(rtrim(@pieceFermetureCompte)) or @pieceFermetureCompte is null)
		AND  (ltrim(rtrim(sigle)) = ltrim(rtrim(@sigle)) or @sigle is null)
		AND  (ltrim(rtrim(siteWeb)) = ltrim(rtrim(@siteWeb)) or @siteWeb is null)
		AND  (ltrim(rtrim(statutCompte)) = ltrim(rtrim(@statutCompte)) or @statutCompte is null)
		AND  (tauxRetroCourRach = @tauxRetroCourRach or @tauxRetroCourRach is null)
		AND  (tauxRetroCourSous = @tauxRetroCourSous or @tauxRetroCourSous is null)
		AND  (ltrim(rtrim(telephoneFixe1)) = ltrim(rtrim(@telephoneFixe1)) or @telephoneFixe1 is null)
		AND  (ltrim(rtrim(telephoneFixe2)) = ltrim(rtrim(@telephoneFixe2)) or @telephoneFixe2 is null)
		AND  (ltrim(rtrim(telephoneMobile1)) = ltrim(rtrim(@telephoneMobile1)) or @telephoneMobile1 is null)
		AND  (ltrim(rtrim(telephoneMobile2)) = ltrim(rtrim(@telephoneMobile2)) or @telephoneMobile2 is null)
		AND  (idPersonne = @idPersonne or @idPersonne is null)
		AND  (idSousCategorie = @idSousCategorie or @idSousCategorie is null)
		AND  (idVille = @idVille or @idVille is null)
		AND  (numLigne = @numLigne or @numLigne is null)
		AND  (rowvers = @rowvers or @rowvers is null)
		AND  (dateCreationServeur = @dateCreationServeur or @dateCreationServeur is null)
		AND  (dateDernModifClient = @dateDernModifClient or @dateDernModifClient is null)
		AND  (dateDernModifServeur = @dateDernModifServeur or @dateDernModifServeur is null)
		AND  (supprimer = @supprimer or @supprimer is null)
		AND  (ltrim(rtrim(userLogin)) = ltrim(rtrim(@userLogin)) or @userLogin is null)
	END TRY
	BEGIN CATCH
	END CATCH
END
GO
/****** Object:  StoredProcedure [Parametre].[PS_PersonneMorale_UP]    Script Date: 29/02/2024 18:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/* =============================================
Auteur : 
Date Modification : 27/02/2024
Description : 
============================================= */
CREATE PROCEDURE [Parametre].[PS_PersonneMorale_UP]
	@CapitalSocial  bigint,
	@CodeFormeJuridique  varchar(255),
	@NumeroAgrementPersonneMorale  varchar(255),
	@NumeroINSAE  varchar(255),
	@RaisonSociale  varchar(255),
	@SiglePersonneMorale  varchar(255),
	@adresseComplete  varchar(255),
	@boitePostale  varchar(255),
	@codeSecteur  varchar(255),
	@dateAgrement  datetime2,
	@dateCreationPM  datetime2,
	@dateFermetureCompte  datetime2,
	@email  varchar(255),
	@fax  varchar(255),
	@indexFax  varchar(255),
	@indexFixe1  varchar(255),
	@indexFixe2  varchar(255),
	@indexMobile1  varchar(255),
	@indexMobile2  varchar(255),
	@libelleSousCategorie  varchar(255),
	@motifFermetureCompte  varchar(255),
	@numCompteDepositaire  varchar(255),
	@NumCompteDepositaire_up varchar(255),
	@numCompteSgi  varchar(255),
	@numRegistre  varchar(255),
	@pieceFermetureCompte  varchar(255),
	@sigle  varchar(255),
	@siteWeb  varchar(255),
	@statutCompte  varchar(255),
	@tauxRetroCourRach  bigint,
	@tauxRetroCourSous  bigint,
	@telephoneFixe1  varchar(255),
	@telephoneFixe2  varchar(255),
	@telephoneMobile1  varchar(255),
	@telephoneMobile2  varchar(255),
	@idPersonne  bigint,
	@idSousCategorie  bigint,
	@idVille  bigint,
	--personne
	@CodeLangue  varchar(255),
	@CodePays  varchar(255),
	@EstActifPersonne  bit,
	@LibelleTypePersonne  varchar(255),
	@codeCategorieClient  varchar(255),
	@codeSousTypeClient  varchar(255),
	@dateExpirationPiece  datetime2,
	@domicile  varchar(255),
	@emailContact  varchar(255),
	@emailPerso  varchar(255),
	@emailPro  varchar(255),
	@estConvertie  bit,
	@estExpose  bit,
	@estGele  bit,
	@estJuge  bit,
	@estsgi  bit,
	@fixe1  varchar(255),
	@fixe2  varchar(255),
	@ifu  varchar(255),
	@mobile1  varchar(255),
	@mobile2  varchar(255),
	@modeEtablissement  varchar(255),
	@nomContact  varchar(255),
	@numOrdre  bigint,
	@numeroPiece  varchar(255),
	@ppe1  bit,
	@ppe2  bit,
	@ppe3  bit,
	@ppe4  bit,
	@prenomContact  varchar(255),
	@telContact  varchar(255),
	@titreContact  varchar(255),
	@typePiece  varchar(255),
	@idDegre  bigint,
	@idDistributeur  bigint,
	@idPaysResidence  bigint,
	@idQuartier  bigint,
	@idSecteur  bigint,
	@NumLigne D_N_SEQ,
	@Rowversion timestamp,
	@userLogin D_A_CODE_LONG,
	@dateDernModifClient D_T_DATEHEURE,
	@CodeLangueS D_A_CODE,
	@Sortie D_A_TEXTE OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		--déclarations----------
		declare  @supprimer  D_B_BOOLEEN, @version timestamp
		--verification de l'etat de l'enregistrement
		--SELECT  @supprimer=supprimer,@version=Rowvers
		--FROM [Parametre].[T_PersonneMorale]
		--WHERE numLigne=@numLigne
		--IF(@@rowcount=0 or @supprimer=1)
		--	Begin
		--		Exec [Mouchard].[PS_ErreurInfo] '7',@codeLangueS ,null,@numLigne,@Sortie output
		--		/*Rollback tran*/
		---		Return
		--	End
		--ctl de la version de l'enregistrement pour la gestion des accès concurrents
		--IF(@version!=@Rowversion )
		--	raiserror(50004,-1,-1,'')  /*le numéro du message de conflit ds T_erreur est 50004*/
		--ElSE
		Begin
		UPDATE [Parametre].[T_Personne]
			SET	[CodeLangue] = @CodeLangue
				,[CodePays] = @CodePays
				,[EstActifPersonne] = @EstActifPersonne
				,[LibelleTypePersonne] = @LibelleTypePersonne
				,[bp] = @boitePostale
				,[codeCategorieClient] = @codeCategorieClient
				,[codeSousTypeClient] = @codeSousTypeClient
				,[dateExpirationPiece] = @dateExpirationPiece
				,[denomination] = @RaisonSociale
				,[domicile] = @domicile
				,[emailContact] = @emailContact
				,[emailPerso] = @emailPerso
				,[emailPro] = @emailPro
				,[estConvertie] = @estConvertie
				,[estExpose] = @estExpose
				,[estGele] = @estGele
				,[estJuge] = @estJuge
				,[estsgi] = @estsgi
				,[fixe1] = @fixe1
				,[fixe2] = @fixe2
				,[ifu] = @ifu
				,[mobile1] = @mobile1
				,[mobile2] = @mobile2
				,[modeEtablissement] = @modeEtablissement
				,[nomContact] = @nomContact
				,[numOrdre] = @numOrdre
				,[numeroCpteDeposit] = @numCompteDepositaire
				,[numeroPiece] = @numeroPiece
				,[ppe1] = @ppe1
				,[ppe2] = @ppe2
				,[ppe3] = @ppe3
				,[ppe4] = @ppe4
				,[prenomContact] = @prenomContact
				,[telContact] = @telContact
				,[titreContact] = @titreContact
				,[typePiece] = @typePiece
				,[idDegre] = @idDegre
				,[idDistributeur] = @idDistributeur
				,[idPaysResidence] = @idPaysResidence
				,[idQuartier] = @idQuartier
				,[idSecteur] = @idSecteur
				,[dateDernModifClient] = @dateDernModifClient
				,[dateDernModifServeur] =getdate()
				,[userLogin] = @userLogin
			WHERE  rtrim(ltrim(numeroCpteDeposit))=rtrim(ltrim(@numCompteDepositaire_up))

			UPDATE [Parametre].[T_PersonneMorale]
			SET	[CapitalSocial] = @CapitalSocial
				,[CodeFormeJuridique] = @CodeFormeJuridique
				,[NumeroAgrementPersonneMorale] = @NumeroAgrementPersonneMorale
				,[NumeroINSAE] = @NumeroINSAE
				,[RaisonSociale] = @RaisonSociale
				,[SiglePersonneMorale] = @SiglePersonneMorale
				,[adresseComplete] = @adresseComplete
				,[boitePostale] = @boitePostale
				,[codeSecteur] = @codeSecteur
				,[dateAgrement] = @dateAgrement
				,[dateCreationPM] = @dateCreationPM
				,[dateFermetureCompte] = @dateFermetureCompte
				,[email] = @email
				,[fax] = @fax
				,[indexFax] = @indexFax
				,[indexFixe1] = @indexFixe1
				,[indexFixe2] = @indexFixe2
				,[indexMobile1] = @indexMobile1
				,[indexMobile2] = @indexMobile2
				,[libelleSousCategorie] = @libelleSousCategorie
				,[motifFermetureCompte] = @motifFermetureCompte
				,[numCompteDepositaire] = @numCompteDepositaire
				,[numCompteSgi] = @numCompteSgi
				,[numRegistre] = @numRegistre
				,[pieceFermetureCompte] = @pieceFermetureCompte
				,[sigle] = @sigle
				,[siteWeb] = @siteWeb
				,[statutCompte] = @statutCompte
				,[tauxRetroCourRach] = @tauxRetroCourRach
				,[tauxRetroCourSous] = @tauxRetroCourSous
				,[telephoneFixe1] = @telephoneFixe1
				,[telephoneFixe2] = @telephoneFixe2
				,[telephoneMobile1] = @telephoneMobile1
				,[telephoneMobile2] = @telephoneMobile2
				,[idSousCategorie] = @idSousCategorie
				,[idVille] = @idVille
				,[dateDernModifClient] = @dateDernModifClient
				,[dateDernModifServeur] =getdate()
				,[userLogin] = @userLogin
			WHERE  rtrim(ltrim(numCompteDepositaire))=rtrim(ltrim(@numCompteDepositaire_up))
			-- Message de retour
			select  @Sortie=rtrim(ltrim(msgUser)) from Mouchard.T_Erreur where idErreur='4' and codeLangue=@codeLangueS 
			exec [Mouchard].[PS_ErreurInfo] '4',@CodeLangueS,@Sortie,@NumLigne,@Sortie output
		end
	END TRY
	BEGIN CATCH
		-- Journalisation de l'erreur et message utilisateur
		EXECUTE [Mouchard].[PS_ErreurInfo] null, @CodeLangueS, null, null,@Sortie output
	END CATCH
END
GO
/****** Object:  StoredProcedure [Parametre].[PS_PersonnePhysique_DP]    Script Date: 29/02/2024 18:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
Auteur : 
Date Modification : 27/02/2024
Description : 
============================================= */
CREATE PROCEDURE [Parametre].[PS_PersonnePhysique_DP]
	@userLogin D_A_CODE_LONG,
	@dateDernModifClient D_T_DATEHEURE,
	@numLigne D_N_SEQ,
	@numCompteDepositaire varchar(255),
	@Rowversion timestamp,
	@CodeLangue D_A_CODE,
	@Sortie D_A_TEXTE OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		--déclarations----------
		declare @supprimer  D_B_BOOLEEN, @version timestamp
		--l'enregistrement n'existe pas ou est marqué supprimé
		--SELECT  @supprimer=supprimer,@version=Rowvers
		--FROM [Parametre].[T_PersonnePhysique]
		--WHERE numLigne=@numLigne
		--IF(@@rowcount=0 or @supprimer=1)
		--	Begin
		--		Exec [Mouchard].[PS_ErreurInfo] '7',@codeLangue ,null,@numLigne,@Sortie output
				/*Rollback tran*/
		----		Return
		--	End
		--ctl de la version de l'enregistrement pour la gestion des accès concurrents
		--IF(@version!=@Rowversion )
		--	raiserror(50004,-1,-1,'')  /*le numéro du message de conflit ds T_erreur est 50004*/
		--ElSE
		Begin
		exec [Parametre].[PS_Personne_DP]
				@userLogin,
				@dateDernModifClient,
				@numLigne,
				@numCompteDepositaire,
				@Rowversion,
				@CodeLangue,
				@Sortie
			--suppression logique
				IF (isnull(@supprimer,0)=0)
					Begin
					 UPDATE [Parametre].[T_PersonnePhysique]
					SET supprimer = 1
						,[userLogin] = @userLogin
						,dateDernModifClient = @dateDernModifClient
						,dateDernModifServeur = getdate()
					WHERE numLigne=@numLigne
					select  @Sortie=rtrim(ltrim(msgUser)) from Mouchard.T_Erreur where idErreur='3' and codeLangue=@codeLangue 
					End
				Else
					--suppression Physique
					Begin
						DELETE FROM [Parametre].[T_PersonnePhysique]
						WHERE numLigne=@numLigne
						select  @Sortie=rtrim(ltrim(msgUser)) from Mouchard.T_Erreur where idErreur='6' and codeLangue=@codeLangue
					End
				-- Message de retour
				Exec [Mouchard].[PS_ErreurInfo] '2',@codeLangue ,@Sortie,@numLigne,@Sortie output
			End
	END TRY
	BEGIN CATCH
		-- Journalisation de l'erreur et message utilisateur
		EXECUTE [Mouchard].[PS_ErreurInfo] null, @CodeLangue, null, null,@Sortie output
	END CATCH
END
GO
/****** Object:  StoredProcedure [Parametre].[PS_PersonnePhysique_IP]    Script Date: 29/02/2024 18:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/* =============================================
Auteur : 
Date Modification : 27/02/2024
Description : 
============================================= */
CREATE PROCEDURE [Parametre].[PS_PersonnePhysique_IP]
	@Civilite  varchar(255),
	@CodePaysNaissance  varchar(255),
	@DateNaissance  datetime2,
	@EstMineur  bit,
	@LibelleProfession  varchar(255),
	@LibelleSecteurActivite  varchar(255),
	@LieuNaissance  varchar(255),
	@PhotoPersonnePhysique  varchar(255),
	@Sexe  varchar(255),
	@SignaturePersonnePhysique  varchar(255),
	@adresseComplete  varchar(255),
	@adresseGeoEmp  varchar(255),
	@adressePostaleEmp  varchar(255),
	@autresBiens  varchar(255),
	@autresRevenus  float,
	@boitePostale  varchar(255),
	@dateFermetureCompte  datetime2,
	@dateNaissanceConjoint  datetime2,
	@dateNaissanceMere  datetime2,
	@dateNaissancePere  datetime2,
	@emailEmp  varchar(255),
	@immobilier  varchar(255),
	@lieuTravail  varchar(255),
	@motifFermetureCompte  varchar(255),
	@nbrEnfant  int,
	@nbrPersonneACharge  int,
	@nom  varchar(255),
	@nomConjoint  varchar(255),
	@nomDeJeuneFille  varchar(255),
	@nomEmployeur  varchar(255),
	@nomMere  varchar(255),
	@nomPere  varchar(255),
	@nomPrenomMere  varchar(255),
	@numCompteDepositaire  varchar(255),
	@numCompteSgi  varchar(255),
	@origineFonds  varchar(255),
	@periodicite  varchar(255),
	@pieceFermetureCompte  varchar(255),
	@prenom  varchar(255),
	@prenomConjoint  varchar(255),
	@prenomsMere  varchar(255),
	@prenomsPere  varchar(255),
	@salaire  float,
	@statutCompte  varchar(255),
	@statutMatrimonial  varchar(255),
	@surfaceTotale  float,
	@tauxRetroCourRach  bigint,
	@tauxRetroCourSous  bigint,
	@telEmp  varchar(255),
	@transactionEnvisagee  varchar(255),
	@typePieceIdentite  varchar(255),
	@idPersonne  bigint,
	@idPaysConjoint  bigint,
	@idPaysMere  bigint,
	@idPaysNationalite  bigint,
	@idPaysPere  bigint,
	@idProf  bigint,
	@idSecteurEmp  bigint,
	--personne
	@CodeLangue  varchar(255),
	@CodePays  varchar(255),
	@EstActifPersonne  bit,
	@LibelleTypePersonne  varchar(255),
	@codeCategorieClient  varchar(255),
	@codeSousTypeClient  varchar(255),
	@dateExpirationPiece  datetime2,
	@domicile  varchar(255),
	@emailContact  varchar(255),
	@emailPerso  varchar(255),
	@emailPro  varchar(255),
	@estConvertie  bit,
	@estExpose  bit,
	@estGele  bit,
	@estJuge  bit,
	@estsgi  bit,
	@fixe1  varchar(255),
	@fixe2  varchar(255),
	@ifu  varchar(255),
	@mobile1  varchar(255),
	@mobile2  varchar(255),
	@modeEtablissement  varchar(255),
	@nomContact  varchar(255),
	@numOrdre  bigint,
	@numeroPiece  varchar(255),
	@ppe1  bit,
	@ppe2  bit,
	@ppe3  bit,
	@ppe4  bit,
	@prenomContact  varchar(255),
	@telContact  varchar(255),
	@titreContact  varchar(255),
	@typePiece  varchar(255),
	@idDegre  bigint,
	@idDistributeur  bigint,
	@idPaysResidence  bigint,
	@idQuartier  bigint,
	@idSecteur  bigint,
	@userLogin D_A_CODE_LONG,
	@dateDernModifClient D_T_DATEHEURE,
	@CodeLangueS D_A_CODE,
	@Sortie D_A_TEXTE OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		--déclarations----------
		DECLARE @Supprimer D_B_BOOLEEN, @NumLigne D_N_SEQ,@IdPersonne_Max D_N_SEQ
		SELECT  @Supprimer=supprimer,@NumLigne=numLigne
		FROM [Parametre].[T_PersonnePhysique]
		WHERE  idPersonne = @idPersonne
		AND supprimer=1
		IF (@@ROWCOUNT>0)
			DELETE from [Parametre].[T_PersonnePhysique] where numLigne=@NumLigne
		
		---insertion dans T_Personne
		select @IdPersonne_Max=max(p.idPersonne) from Parametre.T_Personne p;
		set @IdPersonne_Max+=1;

		INSERT INTO [Parametre].[T_Personne]
			 ([P_TYPE]
			 ,[idPersonne]
			,[CodeLangue]
			,[CodePays]
			,[EstActifPersonne]
			,[LibelleTypePersonne]
			,[bp]
			,[codeCategorieClient]
			,[codeSousTypeClient]
			,[dateExpirationPiece]
			,[denomination]
			,[domicile]
			,[emailContact]
			,[emailPerso]
			,[emailPro]
			,[estConvertie]
			,[estExpose]
			,[estGele]
			,[estJuge]
			,[estsgi]
			,[fixe1]
			,[fixe2]
			,[ifu]
			,[mobile1]
			,[mobile2]
			,[modeEtablissement]
			,[nomContact]
			,[numOrdre]
			,[numeroCpteDeposit]
			,[numeroPiece]
			,[ppe1]
			,[ppe2]
			,[ppe3]
			,[ppe4]
			,[prenomContact]
			,[telContact]
			,[titreContact]
			,[typePiece]
			,[idDegre]
			,[idDistributeur]
			,[idPaysResidence]
			,[idQuartier]
			,[idSecteur]
			,[dateDernModifClient]
			,[userLogin]
			,[dateCreationServeur])
			VALUES
			(@LibelleTypePersonne
			,@IdPersonne_Max
			,@CodeLangue
			,@CodePays
			,@EstActifPersonne
			,@LibelleTypePersonne
			,@boitePostale
			,@codeCategorieClient
			,@codeSousTypeClient
			,@dateExpirationPiece
			,@nom+' '+@prenom
			,@domicile
			,@emailContact
			,@emailPerso
			,@emailPro
			,@estConvertie
			,@estExpose
			,@estGele
			,@estJuge
			,@estsgi
			,@fixe1
			,@fixe2
			,@ifu
			,@mobile1
			,@mobile2
			,@modeEtablissement
			,@nomContact
			,@numOrdre
			,@numCompteDepositaire
			,@numeroPiece
			,@ppe1
			,@ppe2
			,@ppe3
			,@ppe4
			,@prenomContact
			,@telContact
			,@titreContact
			,@typePiece
			,@idDegre
			,@idDistributeur
			,@idPaysResidence
			,@idQuartier
			,@idSecteur
			,@dateDernModifClient
			,@userLogin
			,getdate())
		---insertion dans T_PersonnePhysique
		--select @IdPersonne_Max=max(p.idPersonne) from Parametre.T_Personne p;
		INSERT INTO [Parametre].[T_PersonnePhysique]
			([Civilite]
			,[CodePaysNaissance]
			,[DateNaissance]
			,[EstMineur]
			,[LibelleProfession]
			,[LibelleSecteurActivite]
			,[LieuNaissance]
			,[NomPersonnePhysique]
			,[PhotoPersonnePhysique]
			,[PrenomPersonnePhysique]
			,[Sexe]
			,[SignaturePersonnePhysique]
			,[adresseComplete]
			,[adresseGeoEmp]
			,[adressePostaleEmp]
			,[autresBiens]
			,[autresRevenus]
			,[boitePostale]
			,[dateFermetureCompte]
			,[dateNaissanceConjoint]
			,[dateNaissanceMere]
			,[dateNaissancePere]
			,[email]
			,[emailEmp]
			,[immobilier]
			,[lieuTravail]
			,[motifFermetureCompte]
			,[nbrEnfant]
			,[nbrPersonneACharge]
			,[nom]
			,[nomConjoint]
			,[nomDeJeuneFille]
			,[nomEmployeur]
			,[nomMere]
			,[nomPere]
			,[nomPrenomMere]
			,[numCompteDepositaire]
			,[numCompteSgi]
			,[origineFonds]
			,[periodicite]
			,[pieceFermetureCompte]
			,[prenom]
			,[prenomConjoint]
			,[prenomsMere]
			,[prenomsPere]
			,[salaire]
			,[statutCompte]
			,[statutMatrimonial]
			,[surfaceTotale]
			,[tauxRetroCourRach]
			,[tauxRetroCourSous]
			,[telEmp]
			,[telephoneFixe]
			,[telephoneMobile1]
			,[telephoneMobile2]
			,[transactionEnvisagee]
			,[typePieceIdentite]
			,[idPersonne]
			,[idPaysConjoint]
			,[idPaysMere]
			,[idPaysNationalite]
			,[idPaysPere]
			,[idProf]
			,[idSecteurEmp]
			,[dateDernModifClient]
			,[userLogin]
			,[dateCreationServeur])
			VALUES
			(@Civilite
			,@CodePaysNaissance
			,@DateNaissance
			,@EstMineur
			,@LibelleProfession
			,@LibelleSecteurActivite
			,@LieuNaissance
			,@nom
			,@PhotoPersonnePhysique
			,@prenom
			,@Sexe
			,@SignaturePersonnePhysique
			,@adresseComplete
			,@adresseGeoEmp
			,@adressePostaleEmp
			,@autresBiens
			,@autresRevenus
			,@boitePostale
			,@dateFermetureCompte
			,@dateNaissanceConjoint
			,@dateNaissanceMere
			,@dateNaissancePere
			,@emailPerso
			,@emailEmp
			,@immobilier
			,@lieuTravail
			,@motifFermetureCompte
			,@nbrEnfant
			,@nbrPersonneACharge
			,@nom
			,@nomConjoint
			,@nomDeJeuneFille
			,@nomEmployeur
			,@nomMere
			,@nomPere
			,@nomPrenomMere
			,@numCompteDepositaire
			,@numCompteSgi
			,@origineFonds
			,@periodicite
			,@pieceFermetureCompte
			,@prenom
			,@prenomConjoint
			,@prenomsMere
			,@prenomsPere
			,@salaire
			,@statutCompte
			,@statutMatrimonial
			,@surfaceTotale
			,@tauxRetroCourRach
			,@tauxRetroCourSous
			,@telEmp
			,@fixe1
			,@Mobile1
			,@Mobile2
			,@transactionEnvisagee
			,@typePieceIdentite
			,@IdPersonne_Max
			,@idPaysConjoint
			,@idPaysMere
			,@idPaysNationalite
			,@idPaysPere
			,@idProf
			,@idSecteurEmp
			,@dateDernModifClient
			,@userLogin
			,getdate())
		--Message de retour et journalisation
		set @NumLigne=SCOPE_IDENTITY()
		select  @Sortie=rtrim(ltrim(msgUser)) from Mouchard.T_Erreur where idErreur='2' and codeLangue=@codeLangueS 
		exec [Mouchard].[PS_ErreurInfo] '2',@CodeLangueS,@Sortie,@NumLigne,@Sortie output
		
	END TRY
	BEGIN CATCH
		-- Journalisation de l'erreur et message utilisateur
		EXECUTE [Mouchard].[PS_ErreurInfo] null, @CodeLangueS, null, null,@Sortie output
	END CATCH
END
GO
/****** Object:  StoredProcedure [Parametre].[PS_PersonnePhysique_SP]    Script Date: 29/02/2024 18:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
Auteur : 
Date Modification : 27/02/2024
Description : 
============================================= */
CREATE PROCEDURE [Parametre].[PS_PersonnePhysique_SP]
	@Civilite  varchar
	,@CodePaysNaissance  varchar
	,@DateNaissance  datetime2
	,@EstMineur  bit
	,@LibelleProfession  varchar
	,@LibelleSecteurActivite  varchar
	,@LieuNaissance  varchar
	,@NomPersonnePhysique  varchar
	,@PhotoPersonnePhysique  varchar
	,@PrenomPersonnePhysique  varchar
	,@Sexe  varchar
	,@SignaturePersonnePhysique  varchar
	,@adresseComplete  varchar
	,@adresseGeoEmp  varchar
	,@adressePostaleEmp  varchar
	,@autresBiens  varchar
	,@autresRevenus  float
	,@boitePostale  varchar
	,@dateFermetureCompte  datetime2
	,@dateNaissanceConjoint  datetime2
	,@dateNaissanceMere  datetime2
	,@dateNaissancePere  datetime2
	,@email  varchar
	,@emailEmp  varchar
	,@immobilier  varchar
	,@lieuTravail  varchar
	,@motifFermetureCompte  varchar
	,@nbrEnfant  int
	,@nbrPersonneACharge  int
	,@nom  varchar
	,@nomConjoint  varchar
	,@nomDeJeuneFille  varchar
	,@nomEmployeur  varchar
	,@nomMere  varchar
	,@nomPere  varchar
	,@nomPrenomMere  varchar
	,@numCompteDepositaire  varchar
	,@numCompteSgi  varchar
	,@origineFonds  varchar
	,@periodicite  varchar
	,@pieceFermetureCompte  varchar
	,@prenom  varchar
	,@prenomConjoint  varchar
	,@prenomsMere  varchar
	,@prenomsPere  varchar
	,@salaire  float
	,@statutCompte  varchar
	,@statutMatrimonial  varchar
	,@surfaceTotale  float
	,@tauxRetroCourRach  bigint
	,@tauxRetroCourSous  bigint
	,@telEmp  varchar
	,@telephoneFixe  varchar
	,@telephoneMobile1  varchar
	,@telephoneMobile2  varchar
	,@transactionEnvisagee  varchar
	,@typePieceIdentite  varchar
	,@idPersonne  bigint
	,@idPaysConjoint  bigint
	,@idPaysMere  bigint
	,@idPaysNationalite  bigint
	,@idPaysPere  bigint
	,@idProf  bigint
	,@idSecteurEmp  bigint
	,@numLigne  bigint
	,@rowvers  timestamp
	,@dateCreationServeur  datetime
	,@dateDernModifClient  datetime
	,@dateDernModifServeur  datetime
	,@supprimer  bit
	,@userLogin  varchar
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		SELECT	[Civilite]
			,[CodePaysNaissance]
			,[DateNaissance]
			,[EstMineur]
			,[LibelleProfession]
			,[LibelleSecteurActivite]
			,[LieuNaissance]
			,[NomPersonnePhysique]
			,[PhotoPersonnePhysique]
			,[PrenomPersonnePhysique]
			,[Sexe]
			,[SignaturePersonnePhysique]
			,[adresseComplete]
			,[adresseGeoEmp]
			,[adressePostaleEmp]
			,[autresBiens]
			,[autresRevenus]
			,[boitePostale]
			,[dateFermetureCompte]
			,[dateNaissanceConjoint]
			,[dateNaissanceMere]
			,[dateNaissancePere]
			,[email]
			,[emailEmp]
			,[immobilier]
			,[lieuTravail]
			,[motifFermetureCompte]
			,[nbrEnfant]
			,[nbrPersonneACharge]
			,[nom]
			,[nomConjoint]
			,[nomDeJeuneFille]
			,[nomEmployeur]
			,[nomMere]
			,[nomPere]
			,[nomPrenomMere]
			,[numCompteDepositaire]
			,[numCompteSgi]
			,[origineFonds]
			,[periodicite]
			,[pieceFermetureCompte]
			,[prenom]
			,[prenomConjoint]
			,[prenomsMere]
			,[prenomsPere]
			,[salaire]
			,[statutCompte]
			,[statutMatrimonial]
			,[surfaceTotale]
			,[tauxRetroCourRach]
			,[tauxRetroCourSous]
			,[telEmp]
			,[telephoneFixe]
			,[telephoneMobile1]
			,[telephoneMobile2]
			,[transactionEnvisagee]
			,[typePieceIdentite]
			,[idPersonne]
			,[idPaysConjoint]
			,[idPaysMere]
			,[idPaysNationalite]
			,[idPaysPere]
			,[idProf]
			,[idSecteurEmp]
			,[numLigne]
			,[rowvers]
			,[dateCreationServeur]
			,[dateDernModifClient]
			,[dateDernModifServeur]
			,[supprimer]
			,[userLogin]
		FROM [Parametre].[T_PersonnePhysique]
		WHERE  (ltrim(rtrim(Civilite)) = ltrim(rtrim(@Civilite)) or @Civilite is null)
		AND  (ltrim(rtrim(CodePaysNaissance)) = ltrim(rtrim(@CodePaysNaissance)) or @CodePaysNaissance is null)
		AND  (DateNaissance = @DateNaissance or @DateNaissance is null)
		AND  (EstMineur = @EstMineur or @EstMineur is null)
		AND  (ltrim(rtrim(LibelleProfession)) = ltrim(rtrim(@LibelleProfession)) or @LibelleProfession is null)
		AND  (ltrim(rtrim(LibelleSecteurActivite)) = ltrim(rtrim(@LibelleSecteurActivite)) or @LibelleSecteurActivite is null)
		AND  (ltrim(rtrim(LieuNaissance)) = ltrim(rtrim(@LieuNaissance)) or @LieuNaissance is null)
		AND  (ltrim(rtrim(NomPersonnePhysique)) = ltrim(rtrim(@NomPersonnePhysique)) or @NomPersonnePhysique is null)
		AND  (ltrim(rtrim(PhotoPersonnePhysique)) = ltrim(rtrim(@PhotoPersonnePhysique)) or @PhotoPersonnePhysique is null)
		AND  (ltrim(rtrim(PrenomPersonnePhysique)) = ltrim(rtrim(@PrenomPersonnePhysique)) or @PrenomPersonnePhysique is null)
		AND  (ltrim(rtrim(Sexe)) = ltrim(rtrim(@Sexe)) or @Sexe is null)
		AND  (ltrim(rtrim(SignaturePersonnePhysique)) = ltrim(rtrim(@SignaturePersonnePhysique)) or @SignaturePersonnePhysique is null)
		AND  (ltrim(rtrim(adresseComplete)) = ltrim(rtrim(@adresseComplete)) or @adresseComplete is null)
		AND  (ltrim(rtrim(adresseGeoEmp)) = ltrim(rtrim(@adresseGeoEmp)) or @adresseGeoEmp is null)
		AND  (ltrim(rtrim(adressePostaleEmp)) = ltrim(rtrim(@adressePostaleEmp)) or @adressePostaleEmp is null)
		AND  (ltrim(rtrim(autresBiens)) = ltrim(rtrim(@autresBiens)) or @autresBiens is null)
		AND  (autresRevenus = @autresRevenus or @autresRevenus is null)
		AND  (ltrim(rtrim(boitePostale)) = ltrim(rtrim(@boitePostale)) or @boitePostale is null)
		AND  (dateFermetureCompte = @dateFermetureCompte or @dateFermetureCompte is null)
		AND  (dateNaissanceConjoint = @dateNaissanceConjoint or @dateNaissanceConjoint is null)
		AND  (dateNaissanceMere = @dateNaissanceMere or @dateNaissanceMere is null)
		AND  (dateNaissancePere = @dateNaissancePere or @dateNaissancePere is null)
		AND  (ltrim(rtrim(email)) = ltrim(rtrim(@email)) or @email is null)
		AND  (ltrim(rtrim(emailEmp)) = ltrim(rtrim(@emailEmp)) or @emailEmp is null)
		AND  (ltrim(rtrim(immobilier)) = ltrim(rtrim(@immobilier)) or @immobilier is null)
		AND  (ltrim(rtrim(lieuTravail)) = ltrim(rtrim(@lieuTravail)) or @lieuTravail is null)
		AND  (ltrim(rtrim(motifFermetureCompte)) = ltrim(rtrim(@motifFermetureCompte)) or @motifFermetureCompte is null)
		AND  (nbrEnfant = @nbrEnfant or @nbrEnfant is null)
		AND  (nbrPersonneACharge = @nbrPersonneACharge or @nbrPersonneACharge is null)
		AND  (ltrim(rtrim(nom)) = ltrim(rtrim(@nom)) or @nom is null)
		AND  (ltrim(rtrim(nomConjoint)) = ltrim(rtrim(@nomConjoint)) or @nomConjoint is null)
		AND  (ltrim(rtrim(nomDeJeuneFille)) = ltrim(rtrim(@nomDeJeuneFille)) or @nomDeJeuneFille is null)
		AND  (ltrim(rtrim(nomEmployeur)) = ltrim(rtrim(@nomEmployeur)) or @nomEmployeur is null)
		AND  (ltrim(rtrim(nomMere)) = ltrim(rtrim(@nomMere)) or @nomMere is null)
		AND  (ltrim(rtrim(nomPere)) = ltrim(rtrim(@nomPere)) or @nomPere is null)
		AND  (ltrim(rtrim(nomPrenomMere)) = ltrim(rtrim(@nomPrenomMere)) or @nomPrenomMere is null)
		AND  (ltrim(rtrim(numCompteDepositaire)) = ltrim(rtrim(@numCompteDepositaire)) or @numCompteDepositaire is null)
		AND  (ltrim(rtrim(numCompteSgi)) = ltrim(rtrim(@numCompteSgi)) or @numCompteSgi is null)
		AND  (ltrim(rtrim(origineFonds)) = ltrim(rtrim(@origineFonds)) or @origineFonds is null)
		AND  (ltrim(rtrim(periodicite)) = ltrim(rtrim(@periodicite)) or @periodicite is null)
		AND  (ltrim(rtrim(pieceFermetureCompte)) = ltrim(rtrim(@pieceFermetureCompte)) or @pieceFermetureCompte is null)
		AND  (ltrim(rtrim(prenom)) = ltrim(rtrim(@prenom)) or @prenom is null)
		AND  (ltrim(rtrim(prenomConjoint)) = ltrim(rtrim(@prenomConjoint)) or @prenomConjoint is null)
		AND  (ltrim(rtrim(prenomsMere)) = ltrim(rtrim(@prenomsMere)) or @prenomsMere is null)
		AND  (ltrim(rtrim(prenomsPere)) = ltrim(rtrim(@prenomsPere)) or @prenomsPere is null)
		AND  (salaire = @salaire or @salaire is null)
		AND  (ltrim(rtrim(statutCompte)) = ltrim(rtrim(@statutCompte)) or @statutCompte is null)
		AND  (ltrim(rtrim(statutMatrimonial)) = ltrim(rtrim(@statutMatrimonial)) or @statutMatrimonial is null)
		AND  (surfaceTotale = @surfaceTotale or @surfaceTotale is null)
		AND  (tauxRetroCourRach = @tauxRetroCourRach or @tauxRetroCourRach is null)
		AND  (tauxRetroCourSous = @tauxRetroCourSous or @tauxRetroCourSous is null)
		AND  (ltrim(rtrim(telEmp)) = ltrim(rtrim(@telEmp)) or @telEmp is null)
		AND  (ltrim(rtrim(telephoneFixe)) = ltrim(rtrim(@telephoneFixe)) or @telephoneFixe is null)
		AND  (ltrim(rtrim(telephoneMobile1)) = ltrim(rtrim(@telephoneMobile1)) or @telephoneMobile1 is null)
		AND  (ltrim(rtrim(telephoneMobile2)) = ltrim(rtrim(@telephoneMobile2)) or @telephoneMobile2 is null)
		AND  (ltrim(rtrim(transactionEnvisagee)) = ltrim(rtrim(@transactionEnvisagee)) or @transactionEnvisagee is null)
		AND  (ltrim(rtrim(typePieceIdentite)) = ltrim(rtrim(@typePieceIdentite)) or @typePieceIdentite is null)
		AND  (idPersonne = @idPersonne or @idPersonne is null)
		AND  (idPaysConjoint = @idPaysConjoint or @idPaysConjoint is null)
		AND  (idPaysMere = @idPaysMere or @idPaysMere is null)
		AND  (idPaysNationalite = @idPaysNationalite or @idPaysNationalite is null)
		AND  (idPaysPere = @idPaysPere or @idPaysPere is null)
		AND  (idProf = @idProf or @idProf is null)
		AND  (idSecteurEmp = @idSecteurEmp or @idSecteurEmp is null)
		AND  (numLigne = @numLigne or @numLigne is null)
		AND  (rowvers = @rowvers or @rowvers is null)
		AND  (dateCreationServeur = @dateCreationServeur or @dateCreationServeur is null)
		AND  (dateDernModifClient = @dateDernModifClient or @dateDernModifClient is null)
		AND  (dateDernModifServeur = @dateDernModifServeur or @dateDernModifServeur is null)
		AND  (supprimer = @supprimer or @supprimer is null)
		AND  (ltrim(rtrim(userLogin)) = ltrim(rtrim(@userLogin)) or @userLogin is null)
	END TRY
	BEGIN CATCH
	END CATCH
END
GO
/****** Object:  StoredProcedure [Parametre].[PS_PersonnePhysique_UP]    Script Date: 29/02/2024 18:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/* =============================================
Auteur : 
Date Modification : 27/02/2024
Description : 
============================================= */
CREATE PROCEDURE [Parametre].[PS_PersonnePhysique_UP]
	@Civilite  varchar(255),
	@CodePaysNaissance  varchar(255),
	@DateNaissance  datetime2,
	@EstMineur  bit,
	@LibelleProfession  varchar(255),
	@LibelleSecteurActivite  varchar(255),
	@LieuNaissance  varchar(255),
	@NomPersonnePhysique  varchar(255),
	@PhotoPersonnePhysique  varchar(255),
	@PrenomPersonnePhysique  varchar(255),
	@Sexe  varchar(255),
	@SignaturePersonnePhysique  varchar(255),
	@adresseComplete  varchar(255),
	@adresseGeoEmp  varchar(255),
	@adressePostaleEmp  varchar(255),
	@autresBiens  varchar(255),
	@autresRevenus  float,
	@boitePostale  varchar(255),
	@dateFermetureCompte  datetime2,
	@dateNaissanceConjoint  datetime2,
	@dateNaissanceMere  datetime2,
	@dateNaissancePere  datetime2,
	@email  varchar(255),
	@emailEmp  varchar(255),
	@immobilier  varchar(255),
	@lieuTravail  varchar(255),
	@motifFermetureCompte  varchar(255),
	@nbrEnfant  int,
	@nbrPersonneACharge  int,
	@nom  varchar(255),
	@nomConjoint  varchar(255),
	@nomDeJeuneFille  varchar(255),
	@nomEmployeur  varchar(255),
	@nomMere  varchar(255),
	@nomPere  varchar(255),
	@nomPrenomMere  varchar(255),
	@numCompteDepositaire  varchar(255),
	@NumCompteDepositaire_up varchar(255),
	@numCompteSgi  varchar(255),
	@origineFonds  varchar(255),
	@periodicite  varchar(255),
	@pieceFermetureCompte  varchar(255),
	@prenom  varchar(255),
	@prenomConjoint  varchar(255),
	@prenomsMere  varchar(255),
	@prenomsPere  varchar(255),
	@salaire  float,
	@statutCompte  varchar(255),
	@statutMatrimonial  varchar(255),
	@surfaceTotale  float,
	@tauxRetroCourRach  bigint,
	@tauxRetroCourSous  bigint,
	@telEmp  varchar(255),
	@telephoneFixe  varchar(255),
	@telephoneMobile1  varchar(255),
	@telephoneMobile2  varchar(255),
	@transactionEnvisagee  varchar(255),
	@typePieceIdentite  varchar(255),
	@idPersonne  bigint,
	@idPaysConjoint  bigint,
	@idPaysMere  bigint,
	@idPaysNationalite  bigint,
	@idPaysPere  bigint,
	@idProf  bigint,
	@idSecteurEmp  bigint,
	--personne
	@CodeLangue  varchar(255),
	@CodePays  varchar(255),
	@EstActifPersonne  bit,
	@LibelleTypePersonne  varchar(255),
	@codeCategorieClient  varchar(255),
	@codeSousTypeClient  varchar(255),
	@dateExpirationPiece  datetime2,
	@domicile  varchar(255),
	@emailContact  varchar(255),
	@emailPerso  varchar(255),
	@emailPro  varchar(255),
	@estConvertie  bit,
	@estExpose  bit,
	@estGele  bit,
	@estJuge  bit,
	@estsgi  bit,
	@fixe1  varchar(255),
	@fixe2  varchar(255),
	@ifu  varchar(255),
	@mobile1  varchar(255),
	@mobile2  varchar(255),
	@modeEtablissement  varchar(255),
	@nomContact  varchar(255),
	@numOrdre  bigint,
	@numeroPiece  varchar(255),
	@ppe1  bit,
	@ppe2  bit,
	@ppe3  bit,
	@ppe4  bit,
	@prenomContact  varchar(255),
	@telContact  varchar(255),
	@titreContact  varchar(255),
	@typePiece  varchar(255),
	@idDegre  bigint,
	@idDistributeur  bigint,
	@idPaysResidence  bigint,
	@idQuartier  bigint,
	@idSecteur  bigint,
	@NumLigne D_N_SEQ,
	@Rowversion timestamp,
	@userLogin D_A_CODE_LONG,
	@dateDernModifClient D_T_DATEHEURE,
	@CodeLangueS D_A_CODE,
	@Sortie D_A_TEXTE OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		--déclarations----------
		declare  @supprimer  D_B_BOOLEEN, @version timestamp,@IdPersonne_up D_N_SEQ
		--verification de l'etat de l'enregistrement
		--SELECT  @supprimer=supprimer,@version=Rowvers
		--FROM [Parametre].[T_PersonnePhysique]
		--WHERE numLigne=@numLigne
		--IF(@@rowcount=0 or @supprimer=1)
		--	Begin
		--		Exec [Mouchard].[PS_ErreurInfo] '7',@codeLangueS ,null,@numLigne,@Sortie output
				/*Rollback tran*/
		--		Return
		--	End
		--ctl de la version de l'enregistrement pour la gestion des accès concurrents
		--IF(@version!=@Rowversion )
		--	raiserror(50004,-1,-1,'')  /*le numéro du message de conflit ds T_erreur est 50004*/
		--ElSE
		Begin
			insert into dbo.tmp
			(numdeposit)
			values(@NumCompteDepositaire_up);

			UPDATE [Parametre].[T_Personne]
			SET	[CodeLangue] = @CodeLangue
				,[CodePays] = @CodePays
				,[EstActifPersonne] = @EstActifPersonne
				,[LibelleTypePersonne] = @LibelleTypePersonne
				,[bp] = @boitePostale
				,[codeCategorieClient] = @codeCategorieClient
				,[codeSousTypeClient] = @codeSousTypeClient
				,[dateExpirationPiece] = @dateExpirationPiece
				,[denomination] = @nom+' '+@prenom
				,[domicile] = @domicile
				,[emailContact] = @emailContact
				,[emailPerso] = @emailPerso
				,[emailPro] = @emailPro
				,[estConvertie] = @estConvertie
				,[estExpose] = @estExpose
				,[estGele] = @estGele
				,[estJuge] = @estJuge
				,[estsgi] = @estsgi
				,[fixe1] = @fixe1
				,[fixe2] = @fixe2
				,[ifu] = @ifu
				,[mobile1] = @mobile1
				,[mobile2] = @mobile2
				,[modeEtablissement] = @modeEtablissement
				,[nomContact] = @nomContact
				,[numOrdre] = @numOrdre
				,[numeroCpteDeposit] = @numCompteDepositaire
				,[numeroPiece] = @numeroPiece
				,[ppe1] = @ppe1
				,[ppe2] = @ppe2
				,[ppe3] = @ppe3
				,[ppe4] = @ppe4
				,[prenomContact] = @prenomContact
				,[telContact] = @telContact
				,[titreContact] = @titreContact
				,[typePiece] = @typePiece
				,[idDegre] = @idDegre
				,[idDistributeur] = @idDistributeur
				,[idPaysResidence] = @idPaysResidence
				,[idQuartier] = @idQuartier
				,[idSecteur] = @idSecteur
				,[dateDernModifClient] = @dateDernModifClient
				,[dateDernModifServeur] =getdate()
				,[userLogin] = @userLogin
			WHERE  rtrim(ltrim(numeroCpteDeposit))=rtrim(ltrim(@numCompteDepositaire_up))

			UPDATE [Parametre].[T_PersonnePhysique]
			SET	[Civilite] = @Civilite
				,[CodePaysNaissance] = @CodePaysNaissance
				,[DateNaissance] = @DateNaissance
				,[EstMineur] = @EstMineur
				,[LibelleProfession] = @LibelleProfession
				,[LibelleSecteurActivite] = @LibelleSecteurActivite
				,[LieuNaissance] = @LieuNaissance
				,[NomPersonnePhysique] = @NomPersonnePhysique
				,[PhotoPersonnePhysique] = @PhotoPersonnePhysique
				,[PrenomPersonnePhysique] = @PrenomPersonnePhysique
				,[Sexe] = @Sexe
				,[SignaturePersonnePhysique] = @SignaturePersonnePhysique
				,[adresseComplete] = @adresseComplete
				,[adresseGeoEmp] = @adresseGeoEmp
				,[adressePostaleEmp] = @adressePostaleEmp
				,[autresBiens] = @autresBiens
				,[autresRevenus] = @autresRevenus
				,[boitePostale] = @boitePostale
				,[dateFermetureCompte] = @dateFermetureCompte
				,[dateNaissanceConjoint] = @dateNaissanceConjoint
				,[dateNaissanceMere] = @dateNaissanceMere
				,[dateNaissancePere] = @dateNaissancePere
				,[email] = @email
				,[emailEmp] = @emailEmp
				,[immobilier] = @immobilier
				,[lieuTravail] = @lieuTravail
				,[motifFermetureCompte] = @motifFermetureCompte
				,[nbrEnfant] = @nbrEnfant
				,[nbrPersonneACharge] = @nbrPersonneACharge
				,[nom] = @nom
				,[nomConjoint] = @nomConjoint
				,[nomDeJeuneFille] = @nomDeJeuneFille
				,[nomEmployeur] = @nomEmployeur
				,[nomMere] = @nomMere
				,[nomPere] = @nomPere
				,[nomPrenomMere] = @nomPrenomMere
				,[numCompteDepositaire] = @numCompteDepositaire
				,[numCompteSgi] = @numCompteSgi
				,[origineFonds] = @origineFonds
				,[periodicite] = @periodicite
				,[pieceFermetureCompte] = @pieceFermetureCompte
				,[prenom] = @prenom
				,[prenomConjoint] = @prenomConjoint
				,[prenomsMere] = @prenomsMere
				,[prenomsPere] = @prenomsPere
				,[salaire] = @salaire
				,[statutCompte] = @statutCompte
				,[statutMatrimonial] = @statutMatrimonial
				,[surfaceTotale] = @surfaceTotale
				,[tauxRetroCourRach] = @tauxRetroCourRach
				,[tauxRetroCourSous] = @tauxRetroCourSous
				,[telEmp] = @telEmp
				,[telephoneFixe] = @telephoneFixe
				,[telephoneMobile1] = @telephoneMobile1
				,[telephoneMobile2] = @telephoneMobile2
				,[transactionEnvisagee] = @transactionEnvisagee
				,[typePieceIdentite] = @typePieceIdentite
				,[idPaysConjoint] = @idPaysConjoint
				,[idPaysMere] = @idPaysMere
				,[idPaysNationalite] = @idPaysNationalite
				,[idPaysPere] = @idPaysPere
				,[idProf] = @idProf
				,[idSecteurEmp] = @idSecteurEmp
				,[dateDernModifClient] = @dateDernModifClient
				,[dateDernModifServeur] =getdate()
				,[userLogin] = @userLogin
			WHERE  rtrim(ltrim(numCompteDepositaire))=rtrim(ltrim(@numCompteDepositaire_up))
			-- Message de retour
			select  @Sortie=rtrim(ltrim(msgUser)) from Mouchard.T_Erreur where idErreur='4' and codeLangue=@codeLangueS 
			exec [Mouchard].[PS_ErreurInfo] '4',@CodeLangueS,@Sortie,@NumLigne,@Sortie output
		end
	END TRY
	BEGIN CATCH
		-- Journalisation de l'erreur et message utilisateur
		EXECUTE [Mouchard].[PS_ErreurInfo] null, @CodeLangueS, null, null,@Sortie output
	END CATCH
END
GO
