USE [DB_OPCCIEL2]
GO
/****** Object:  Schema [Parametre]    Script Date: 30/05/2024 15:28:33 ******/
CREATE SCHEMA [Parametre]
GO
/****** Object:  Table [Parametre].[T_Arrondissement]    Script Date: 30/05/2024 15:28:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Parametre].[T_Arrondissement](
	[idArrondissement] [bigint] IDENTITY(1,1) NOT NULL,
	[libelleArrondissement] [varchar](255) NULL,
	[idCommune] [bigint] NULL,
	[idVille] [bigint] NULL,
	[numLigne] [bigint] NULL,
	[rowvers] [timestamp] NULL,
	[dateCreationServeur] [datetime] NULL,
	[dateDernModifClient] [datetime] NULL,
	[dateDernModifServeur] [datetime] NULL,
	[supprimer] [bit] NULL,
	[userLogin] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idArrondissement] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Parametre].[T_Commune]    Script Date: 30/05/2024 15:28:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Parametre].[T_Commune](
	[idCommune] [bigint] IDENTITY(1,1) NOT NULL,
	[libelleCommune] [varchar](255) NULL,
	[idDepartement] [bigint] NULL,
	[numLigne] [bigint] NULL,
	[rowvers] [timestamp] NULL,
	[dateCreationServeur] [datetime] NULL,
	[dateDernModifClient] [datetime] NULL,
	[dateDernModifServeur] [datetime] NULL,
	[supprimer] [bit] NULL,
	[userLogin] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idCommune] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Parametre].[T_Departement]    Script Date: 30/05/2024 15:28:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Parametre].[T_Departement](
	[idDepartement] [bigint] IDENTITY(1,1) NOT NULL,
	[libelleDepartement] [varchar](255) NULL,
	[numLigne] [bigint] NULL,
	[rowvers] [timestamp] NULL,
	[dateCreationServeur] [datetime] NULL,
	[dateDernModifClient] [datetime] NULL,
	[dateDernModifServeur] [datetime] NULL,
	[supprimer] [bit] NULL,
	[userLogin] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idDepartement] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Parametre].[T_Pays]    Script Date: 30/05/2024 15:28:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Parametre].[T_Pays](
	[idPays] [bigint] IDENTITY(1,1) NOT NULL,
	[codePays] [varchar](255) NULL,
	[estGafi] [bit] NOT NULL,
	[estUEMOA] [bit] NULL,
	[indicatif] [int] NOT NULL,
	[libelleEn] [varchar](255) NULL,
	[libelleFr] [varchar](255) NULL,
	[nomPays] [varchar](255) NULL,
	[codeMonnaie] [varchar](8) NULL,
	[codeZone] [varchar](255) NULL,
	[numLigne] [bigint] NULL,
	[rowvers] [timestamp] NULL,
	[dateCreationServeur] [datetime] NULL,
	[dateDernModifClient] [datetime] NULL,
	[dateDernModifServeur] [datetime] NULL,
	[supprimer] [bit] NULL,
	[userLogin] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idPays] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Parametre].[T_Quartier]    Script Date: 30/05/2024 15:28:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Parametre].[T_Quartier](
	[idQuartier] [bigint] IDENTITY(1,1) NOT NULL,
	[libelleQuartier] [varchar](255) NULL,
	[idArrondissement] [bigint] NULL,
	[numLigne] [bigint] NULL,
	[rowvers] [timestamp] NULL,
	[dateCreationServeur] [datetime] NULL,
	[dateDernModifClient] [datetime] NULL,
	[dateDernModifServeur] [datetime] NULL,
	[supprimer] [bit] NULL,
	[userLogin] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idQuartier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Parametre].[T_Ville]    Script Date: 30/05/2024 15:28:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Parametre].[T_Ville](
	[idVille] [bigint] IDENTITY(1,1) NOT NULL,
	[libelleVille] [varchar](255) NULL,
	[idCommune] [bigint] NULL,
	[numLigne] [bigint] NULL,
	[rowvers] [timestamp] NULL,
	[dateCreationServeur] [datetime] NULL,
	[dateDernModifClient] [datetime] NULL,
	[dateDernModifServeur] [datetime] NULL,
	[supprimer] [bit] NULL,
	[userLogin] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idVille] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Parametre].[T_Zone]    Script Date: 30/05/2024 15:28:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Parametre].[T_Zone](
	[codeZone] [varchar](255) NOT NULL,
	[libelleZone] [varchar](255) NULL,
	[numLigne] [bigint] NULL,
	[rowvers] [timestamp] NULL,
	[dateCreationServeur] [datetime] NULL,
	[dateDernModifClient] [datetime] NULL,
	[dateDernModifServeur] [datetime] NULL,
	[supprimer] [bit] NULL,
	[userLogin] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[codeZone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Parametre].[T_Arrondissement] ADD  DEFAULT ((0)) FOR [numLigne]
GO
ALTER TABLE [Parametre].[T_Arrondissement] ADD  DEFAULT (getdate()) FOR [dateCreationServeur]
GO
ALTER TABLE [Parametre].[T_Arrondissement] ADD  DEFAULT ((0)) FOR [supprimer]
GO
ALTER TABLE [Parametre].[T_Commune] ADD  DEFAULT ((0)) FOR [numLigne]
GO
ALTER TABLE [Parametre].[T_Commune] ADD  DEFAULT (getdate()) FOR [dateCreationServeur]
GO
ALTER TABLE [Parametre].[T_Commune] ADD  DEFAULT ((0)) FOR [supprimer]
GO
ALTER TABLE [Parametre].[T_Departement] ADD  DEFAULT ((0)) FOR [numLigne]
GO
ALTER TABLE [Parametre].[T_Departement] ADD  DEFAULT (getdate()) FOR [dateCreationServeur]
GO
ALTER TABLE [Parametre].[T_Departement] ADD  DEFAULT ((0)) FOR [supprimer]
GO
ALTER TABLE [Parametre].[T_Pays] ADD  DEFAULT ((0)) FOR [numLigne]
GO
ALTER TABLE [Parametre].[T_Pays] ADD  DEFAULT (getdate()) FOR [dateCreationServeur]
GO
ALTER TABLE [Parametre].[T_Pays] ADD  DEFAULT ((0)) FOR [supprimer]
GO
ALTER TABLE [Parametre].[T_Quartier] ADD  DEFAULT ((0)) FOR [numLigne]
GO
ALTER TABLE [Parametre].[T_Quartier] ADD  DEFAULT (getdate()) FOR [dateCreationServeur]
GO
ALTER TABLE [Parametre].[T_Quartier] ADD  DEFAULT ((0)) FOR [supprimer]
GO
ALTER TABLE [Parametre].[T_Ville] ADD  DEFAULT ((0)) FOR [numLigne]
GO
ALTER TABLE [Parametre].[T_Ville] ADD  DEFAULT (getdate()) FOR [dateCreationServeur]
GO
ALTER TABLE [Parametre].[T_Ville] ADD  DEFAULT ((0)) FOR [supprimer]
GO
ALTER TABLE [Parametre].[T_Zone] ADD  DEFAULT ((0)) FOR [numLigne]
GO
ALTER TABLE [Parametre].[T_Zone] ADD  DEFAULT (getdate()) FOR [dateCreationServeur]
GO
ALTER TABLE [Parametre].[T_Zone] ADD  DEFAULT ((0)) FOR [supprimer]
GO
ALTER TABLE [Parametre].[T_Arrondissement]  WITH CHECK ADD  CONSTRAINT [FK1soi8387j9bm1f7v4sml6j5u] FOREIGN KEY([idVille])
REFERENCES [Parametre].[T_Ville] ([idVille])
GO
ALTER TABLE [Parametre].[T_Arrondissement] CHECK CONSTRAINT [FK1soi8387j9bm1f7v4sml6j5u]
GO
ALTER TABLE [Parametre].[T_Arrondissement]  WITH CHECK ADD  CONSTRAINT [FK6mk6wwhj2yhkku6iq0nedg6h0] FOREIGN KEY([idCommune])
REFERENCES [Parametre].[T_Commune] ([idCommune])
GO
ALTER TABLE [Parametre].[T_Arrondissement] CHECK CONSTRAINT [FK6mk6wwhj2yhkku6iq0nedg6h0]
GO
ALTER TABLE [Parametre].[T_Commune]  WITH CHECK ADD  CONSTRAINT [FKlhu2tcc5m45xk00xhndgmr1nr] FOREIGN KEY([idDepartement])
REFERENCES [Parametre].[T_Departement] ([idDepartement])
GO
ALTER TABLE [Parametre].[T_Commune] CHECK CONSTRAINT [FKlhu2tcc5m45xk00xhndgmr1nr]
GO
ALTER TABLE [Parametre].[T_Pays]  WITH CHECK ADD  CONSTRAINT [FK624sileowia6cgknkeurljxrb] FOREIGN KEY([codeZone])
REFERENCES [Parametre].[T_Zone] ([codeZone])
GO
ALTER TABLE [Parametre].[T_Pays] CHECK CONSTRAINT [FK624sileowia6cgknkeurljxrb]
GO
ALTER TABLE [Parametre].[T_Pays]  WITH CHECK ADD  CONSTRAINT [FKeja0icvcttxs8oxc1tlm56pdy] FOREIGN KEY([codeMonnaie])
REFERENCES [Parametre].[T_Monnaie] ([codeMonnaie])
GO
ALTER TABLE [Parametre].[T_Pays] CHECK CONSTRAINT [FKeja0icvcttxs8oxc1tlm56pdy]
GO
ALTER TABLE [Parametre].[T_Quartier]  WITH CHECK ADD  CONSTRAINT [FKo2xqwl3jh3xxntrakj3i6o8ee] FOREIGN KEY([idArrondissement])
REFERENCES [Parametre].[T_Arrondissement] ([idArrondissement])
GO
ALTER TABLE [Parametre].[T_Quartier] CHECK CONSTRAINT [FKo2xqwl3jh3xxntrakj3i6o8ee]
GO
ALTER TABLE [Parametre].[T_Ville]  WITH CHECK ADD  CONSTRAINT [FK6evgxo3scrm5u6vi1mtkl3sa3] FOREIGN KEY([idCommune])
REFERENCES [Parametre].[T_Commune] ([idCommune])
GO
ALTER TABLE [Parametre].[T_Ville] CHECK CONSTRAINT [FK6evgxo3scrm5u6vi1mtkl3sa3]
GO
