/****** Object:  Schema [Mouchard]    Script Date: 28/02/2024 18:47:19 ******/
CREATE SCHEMA [Mouchard]
GO
/****** Object:  UserDefinedDataType [dbo].[D_A_CAR]    Script Date: 28/02/2024 18:47:19 ******/
CREATE TYPE [dbo].[D_A_CAR] FROM [char](1) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[D_A_CHEMIN]    Script Date: 28/02/2024 18:47:19 ******/
CREATE TYPE [dbo].[D_A_CHEMIN] FROM [varchar](8000) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[D_A_CODE]    Script Date: 28/02/2024 18:47:19 ******/
CREATE TYPE [dbo].[D_A_CODE] FROM [char](8) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[D_A_CODE_COURT]    Script Date: 28/02/2024 18:47:19 ******/
CREATE TYPE [dbo].[D_A_CODE_COURT] FROM [char](4) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[D_A_CODE_LONG]    Script Date: 28/02/2024 18:47:19 ******/
CREATE TYPE [dbo].[D_A_CODE_LONG] FROM [char](16) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[D_A_COMPTE_CPTA]    Script Date: 28/02/2024 18:47:19 ******/
CREATE TYPE [dbo].[D_A_COMPTE_CPTA] FROM [char](17) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[D_A_LIB]    Script Date: 28/02/2024 18:47:19 ******/
CREATE TYPE [dbo].[D_A_LIB] FROM [varchar](250) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[D_A_LIB_COURT]    Script Date: 28/02/2024 18:47:19 ******/
CREATE TYPE [dbo].[D_A_LIB_COURT] FROM [varchar](150) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[D_A_LIB_FIXE]    Script Date: 28/02/2024 18:47:19 ******/
CREATE TYPE [dbo].[D_A_LIB_FIXE] FROM [char](150) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[D_A_MAIL]    Script Date: 28/02/2024 18:47:19 ******/
CREATE TYPE [dbo].[D_A_MAIL] FROM [char](128) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[D_A_NOM]    Script Date: 28/02/2024 18:47:19 ******/
CREATE TYPE [dbo].[D_A_NOM] FROM [varchar](100) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[D_A_PATH]    Script Date: 28/02/2024 18:47:19 ******/
CREATE TYPE [dbo].[D_A_PATH] FROM [varchar](500) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[D_A_PRENOM]    Script Date: 28/02/2024 18:47:19 ******/
CREATE TYPE [dbo].[D_A_PRENOM] FROM [varchar](150) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[D_A_TEL]    Script Date: 28/02/2024 18:47:19 ******/
CREATE TYPE [dbo].[D_A_TEL] FROM [char](20) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[D_A_TEXTE]    Script Date: 28/02/2024 18:47:19 ******/
CREATE TYPE [dbo].[D_A_TEXTE] FROM [varchar](4000) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[D_A_TITRE]    Script Date: 28/02/2024 18:47:19 ******/
CREATE TYPE [dbo].[D_A_TITRE] FROM [varchar](256) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[D_A_VILLE]    Script Date: 28/02/2024 18:47:19 ******/
CREATE TYPE [dbo].[D_A_VILLE] FROM [char](50) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[D_B_BOOLEEN]    Script Date: 28/02/2024 18:47:19 ******/
CREATE TYPE [dbo].[D_B_BOOLEEN] FROM [bit] NULL
GO
/****** Object:  UserDefinedDataType [dbo].[D_B_CODE_COULEUR]    Script Date: 28/02/2024 18:47:19 ******/
CREATE TYPE [dbo].[D_B_CODE_COULEUR] FROM [binary](6) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[D_N_DECIMAL]    Script Date: 28/02/2024 18:47:19 ******/
CREATE TYPE [dbo].[D_N_DECIMAL] FROM [decimal](18, 2) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[D_N_DECIMALX]    Script Date: 28/02/2024 18:47:19 ******/
CREATE TYPE [dbo].[D_N_DECIMALX] FROM [decimal](18, 6) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[D_N_FLOAT]    Script Date: 28/02/2024 18:47:19 ******/
CREATE TYPE [dbo].[D_N_FLOAT] FROM [float] NULL
GO
/****** Object:  UserDefinedDataType [dbo].[D_N_INT_COURT]    Script Date: 28/02/2024 18:47:19 ******/
CREATE TYPE [dbo].[D_N_INT_COURT] FROM [smallint] NULL
GO
/****** Object:  UserDefinedDataType [dbo].[D_N_INT_LONG]    Script Date: 28/02/2024 18:47:19 ******/
CREATE TYPE [dbo].[D_N_INT_LONG] FROM [int] NULL
GO
/****** Object:  UserDefinedDataType [dbo].[D_N_NID]    Script Date: 28/02/2024 18:47:19 ******/
CREATE TYPE [dbo].[D_N_NID] FROM [int] NULL
GO
/****** Object:  UserDefinedDataType [dbo].[D_N_POURCENT]    Script Date: 28/02/2024 18:47:19 ******/
CREATE TYPE [dbo].[D_N_POURCENT] FROM [float] NULL
GO
/****** Object:  UserDefinedDataType [dbo].[D_N_SEQ]    Script Date: 28/02/2024 18:47:19 ******/
CREATE TYPE [dbo].[D_N_SEQ] FROM [numeric](18, 0) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[D_T_DATE]    Script Date: 28/02/2024 18:47:19 ******/
CREATE TYPE [dbo].[D_T_DATE] FROM [datetime] NULL
GO
/****** Object:  UserDefinedDataType [dbo].[D_T_DATE1]    Script Date: 28/02/2024 18:47:19 ******/
CREATE TYPE [dbo].[D_T_DATE1] FROM [date] NOT NULL
GO
/****** Object:  UserDefinedDataType [dbo].[D_T_DATEHEURE]    Script Date: 28/02/2024 18:47:19 ******/
CREATE TYPE [dbo].[D_T_DATEHEURE] FROM [datetime] NULL
GO
/****** Object:  UserDefinedDataType [dbo].[D_T_HEURE]    Script Date: 28/02/2024 18:47:19 ******/
CREATE TYPE [dbo].[D_T_HEURE] FROM [datetime] NULL
GO
/****** Object:  UserDefinedFunction [Mouchard].[FS_FormaterDate]    Script Date: 28/02/2024 18:47:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		ADJIBI
-- alter date: 15/03/2011
-- Description:	Permet de formater une date ex 15/03/2011 10:12:12 en 15/03/2011 00:00:00
-- =============================================
CREATE FUNCTION [Mouchard].[FS_FormaterDate] (@date datetime )
RETURNS datetime
AS
BEGIN
	RETURN cast(convert(varchar,@date,103) as datetime)
END
GO
/****** Object:  UserDefinedFunction [Mouchard].[FT_ErreurInfo]    Script Date: 28/02/2024 18:47:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--©--TNS--<02/03/2010>

-------Cette fonction permet la gestion des messages de sql server ou d'OGI.
-------En entrée: le prototype du message (@IdErreur), la langue du msg et l'entité en cours de trt(@Identifiant)                                                         --------
-------En sortie: les infos complet sur le message sous forme de table à gérer comme on le souhaite ds la procedure appelante
-------Un retour d'un IdErreur négatif (= Erreur )sinon (= bonne éxécution)														--------

CREATE  Function [Mouchard].[FT_ErreurInfo](@IdErreur D_N_INT_LONG,
										@CodeLangue D_A_CODE,
										@msgUser    D_A_TEXTE,
										@Identifiant D_N_SEQ )
										

returns  @ErreurTable Table(idErreur        char(50) ,
							codeLangue      D_A_CODE_LONG,
							gravite         char(10),
							msgUser         D_A_TEXTE,
							Error_Message   D_A_TEXTE,
							Error_State     char(10),
							Error_Procedure D_A_TEXTE,
							Error_Line      char(10),
							Identifiant     D_N_SEQ ,
							Retour          D_A_TEXTE)
as
Begin

	--------------Cas d'une exception levée par SQL Server: on connait pas à priori l'erreur -----------------------------------
	if (@IdErreur is null) 
		Begin
			-- Utilisation des infos système sur l'erreur(sql server) 
				Insert @ErreurTable(idErreur ,
									codeLangue,
									gravite,
									msgUser,
									Error_Message,
									Error_State,
									Error_Procedure ,
									Error_Line,
									Identifiant )
				Select
					rtrim(ltrim(cast(-1*Error_Number()  as char(50)) )),
					'',
					rtrim(cast(Error_Severity() as char(10))),
					'',
					rtrim(Error_Message()),
					rtrim(Cast(Error_State()as char(10))),
					rtrim(Error_Procedure()),
					cast(Error_Line() as char(10)),
					@Identifiant

			-- complement des infos dans la table T_erreur si elle y est parametré
				Update @ErreurTable
				Set codeLangue=Mouchard.T_Erreur.codeLangue,
					msgUser=case when (@msgUser is null) then Mouchard.T_Erreur.msgUser else @msgUser end 
				From Mouchard.T_Erreur
				Where Mouchard.T_Erreur.idErreur =Error_Number() AND Mouchard.T_Erreur.codeLangue=@CodeLangue
		End
	--------------Cas d'une erreur gérée par OGI: On connait l'id du message  -----------------------------------------------------------------------------
	else
		Begin
				If (not(@CodeLangue  is null) )
					Begin 
						Insert @ErreurTable(idErreur ,
											codeLangue,
											gravite,
											msgUser,
											Error_Message,
											Error_State,
											Error_Procedure ,
											Error_Line ,
											Identifiant )

						Select
							rtrim(ltrim(cast(idErreur as char(50)) )),
							rtrim(codeLangue),
							rtrim(cast(gravite as char(10))),
							rtrim(isnull(@msgUser,msgUser)),
							'',
							'',
							'',
							'',
							@Identifiant
						From Mouchard.T_Erreur
						Where idErreur =@IdErreur AND codeLangue=@CodeLangue

						declare @Gravite varchar(10)
						select @Gravite= gravite From Mouchard.T_Erreur Where idErreur =@IdErreur AND codeLangue=@CodeLangue
						if @gravite='-2'  
							Update @ErreurTable
							Set idErreur= cast(-1*idErreur as char(50))
						--else : Cas des messages de bonne exécution l'id reste positif
					End
	   End

	-----Aucune ligne d'erreur retrouvée---------------------------------------------------------------------------------------------------------------------------
	
	IF((select count(isnull(idErreur,0)) from @ErreurTable)=0)
		Insert @ErreurTable(Error_Message) values('Aucune ligne d''erreur retrouvée')
	ELSE IF( (select idErreur from @ErreurTable) is null)		
		Update @ErreurTable
		Set Error_Message= 'Aucune ligne d''erreur retrouvée'

	-----Formation du message de retour------------------------------------------------------------------------------------------------------------------
	Update @ErreurTable
	Set Retour= rtrim(ltrim(isnull(idErreur,''))) +
				'#' + rtrim(ltrim(isnull(codeLangue,''))) +
				'#' + rtrim(ltrim(isnull(gravite,''))) +
				'#' + rtrim(ltrim(isnull(msgUser,''))) +
				'#' + rtrim(ltrim(isnull(Error_Message,''))) +
				'#' + rtrim(ltrim(isnull(Error_State,''))) +
				'#' + rtrim(ltrim(isnull(Error_Procedure,''))) +
				'#' + rtrim(ltrim(isnull(Error_Line,''))) +
				'#' + rtrim(ltrim(isnull(cast(Identifiant as varchar(10)),''))) 
				 

	return

End



---select Retour from [MOUCHARD].[ErreurInfo](8,'fr',null,null)
GO
/****** Object:  Table [Mouchard].[T_Erreur]    Script Date: 28/02/2024 18:47:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Mouchard].[T_Erreur](
	[idErreur] [dbo].[D_N_INT_LONG] NOT NULL,
	[codeLangue] [dbo].[D_A_CODE_LONG] NOT NULL,
	[gravite] [dbo].[D_A_CODE_LONG] NOT NULL,
	[msgUser] [dbo].[D_A_TEXTE] NULL,
 CONSTRAINT [PK_T_Erreur_1] PRIMARY KEY CLUSTERED 
(
	[idErreur] ASC,
	[codeLangue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Mouchard].[T_JournalErreur]    Script Date: 28/02/2024 18:47:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Mouchard].[T_JournalErreur](
	[errorLogID] [int] IDENTITY(1,1) NOT NULL,
	[errorTime] [datetime] NOT NULL,
	[userName] [sysname] NOT NULL,
	[errorNumber] [int] NOT NULL,
	[errorSeverity] [int] NULL,
	[errorState] [int] NULL,
	[errorProcedure] [nvarchar](126) NULL,
	[errorLine] [int] NULL,
	[errorMessage] [nvarchar](4000) NOT NULL,
 CONSTRAINT [PK_ErrorLog_ErrorLogID] PRIMARY KEY CLUSTERED 
(
	[errorLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Mouchard].[T_JournalErreur] ADD  CONSTRAINT [DF_ErrorLog_ErrorTime]  DEFAULT (getdate()) FOR [errorTime]
GO
/****** Object:  StoredProcedure [dbo].[PS_ListeClePrimaire]    Script Date: 28/02/2024 18:47:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[PS_ListeClePrimaire](@TABLE_NAME varchar(150), @TABLE_SCHEMA varchar(150))
as 
begin
	declare @Table table(
		Table_Qualifier varchar(150),
		Table_Schema varchar(150),
		Table_Name varchar(150),
		Column_Name varchar(150),
		Key_Seq int,
		Pk_Name varchar(150))
	insert into @Table
		EXEC sp_pkeys @TABLE_NAME,@TABLE_SCHEMA,default
	select * from @Table
end
GO
/****** Object:  StoredProcedure [dbo].[PS_ListeColonne]    Script Date: 28/02/2024 18:47:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[PS_ListeColonne] @TABLE_NAME varchar(150), @TABLE_SCHEMA varchar(150)
as 
begin
	SELECT  TABLE_CATALOG, 
			TABLE_SCHEMA, 
			TABLE_NAME, 
			COLUMN_NAME, 
			isnull(ORDINAL_POSITION,0) ORDINAL_POSITION, 
			COLUMN_DEFAULT, 
			IS_NULLABLE, 
			DATA_TYPE, 
			isnull(CHARACTER_MAXIMUM_LENGTH,0) CHARACTER_MAXIMUM_LENGTH, 
			isnull(CHARACTER_OCTET_LENGTH,0) CHARACTER_OCTET_LENGTH, 
			isnull(NUMERIC_PRECISION,0) NUMERIC_PRECISION, 
			isnull(NUMERIC_PRECISION_RADIX,0) NUMERIC_PRECISION_RADIX, 
			isnull(NUMERIC_SCALE,0) NUMERIC_SCALE, 
			isnull(DATETIME_PRECISION,0) DATETIME_PRECISION, 
			CHARACTER_SET_CATALOG, 
			CHARACTER_SET_SCHEMA, 
			CHARACTER_SET_NAME, 
			COLLATION_CATALOG, 
			COLLATION_SCHEMA, 
			COLLATION_NAME, 
			DOMAIN_CATALOG, 
			DOMAIN_SCHEMA, 
			DOMAIN_NAME
	FROM INFORMATION_SCHEMA.COLUMNS
	WHERE (TABLE_NAME = @TABLE_NAME or @TABLE_NAME is null)
	AND   (TABLE_SCHEMA = @TABLE_SCHEMA or @TABLE_SCHEMA is null)
end
GO
/****** Object:  StoredProcedure [dbo].[PS_ListeTable]    Script Date: 28/02/2024 18:47:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc  [dbo].[PS_ListeTable] 
				@TABLE_SCHEMA varchar(150)				
as
begin
	SELECT TABLE_CATALOG, TABLE_SCHEMA,TABLE_NAME, TABLE_TYPE
	FROM information_schema.tables
	WHERE table_type='BASE TABLE' 
	and (ltrim(rtrim(TABLE_SCHEMA)) like ltrim(rtrim(@TABLE_SCHEMA))+'%' or @TABLE_SCHEMA is null)
	group by TABLE_CATALOG, TABLE_SCHEMA, TABLE_NAME, TABLE_TYPE
end

exec [dbo].[PS_ListeTable]  null
GO
/****** Object:  StoredProcedure [Mouchard].[PS_ErreurInfo]    Script Date: 28/02/2024 18:47:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--©--TNS--<02/03/2010>

/*Permet d'enregistrer l'évènement dans la base et de retourner un message */

CREATE PROCEDURE [Mouchard].[PS_ErreurInfo]
				@IdErreur    D_N_INT_LONG,
				@CodeLangue  D_A_CODE,
				@msgUser     D_A_TEXTE,
				@Identifiant D_N_SEQ ,
				@Sortie		 D_A_TEXTE OUTPUT	
AS
BEGIN
  BEGIN TRY
	SET NOCOUNT ON;
    IF ERROR_NUMBER() IS NULL
	--Journalisation  de l'évènement
	print 'a implementer'
	ELSE
	Begin
	    IF XACT_STATE() = -1
			Set @msgUser='Impossible de mettre à jour le journal des erreurs tant que la transaction courante est dans un état invalide.'
                          +'Vous devez faire un Rollback de cette transaction avant d''inserer l''erreur dans le journal des erreurs.'
		ELSE
            INSERT Mouchard.T_JournalErreur
            (
				[userName], 
				[errorNumber], 
				[errorSeverity], 
				[errorState], 
				[errorProcedure], 
				[errorLine], 
				[errorMessage]
            ) 
			VALUES 
            (
				CONVERT(sysname, CURRENT_USER), 
				ERROR_NUMBER(),
				ERROR_SEVERITY(),
				ERROR_STATE(),
				ERROR_PROCEDURE(),
				ERROR_LINE(),
				ERROR_MESSAGE()
            )
	End
	--message de retour 
	Select @Sortie= retour from MOUCHARD.FT_ErreurInfo(@IdErreur ,@CodeLangue ,@msgUser,@Identifiant)
     
  END TRY
  BEGIN CATCH
        Set @msgUser= 'Une erreur est detectée dans la procédure PS_ErreurInfo'
		Select @Sortie= retour from MOUCHARD.FT_ErreurInfo(@IdErreur ,@CodeLangue ,@msgUser,@Identifiant)
        RETURN -1
  END CATCH
END
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Date et heure de l''erreur.' , @level0type=N'SCHEMA',@level0name=N'Mouchard', @level1type=N'TABLE',@level1name=N'T_JournalErreur', @level2type=N'COLUMN',@level2name=N'errorTime'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Utilisateur ayant exécuté le lot dans lequel s''est produite l''erreur.' , @level0type=N'SCHEMA',@level0name=N'Mouchard', @level1type=N'TABLE',@level1name=N'T_JournalErreur', @level2type=N'COLUMN',@level2name=N'userName'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Numero de l''erreur.' , @level0type=N'SCHEMA',@level0name=N'Mouchard', @level1type=N'TABLE',@level1name=N'T_JournalErreur', @level2type=N'COLUMN',@level2name=N'errorNumber'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'La severité de l''erreur.' , @level0type=N'SCHEMA',@level0name=N'Mouchard', @level1type=N'TABLE',@level1name=N'T_JournalErreur', @level2type=N'COLUMN',@level2name=N'errorSeverity'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Le state number de l''erreur.' , @level0type=N'SCHEMA',@level0name=N'Mouchard', @level1type=N'TABLE',@level1name=N'T_JournalErreur', @level2type=N'COLUMN',@level2name=N'errorState'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Nom de la procédure stockée ou du trigger ou s''est  produite l''erreur.' , @level0type=N'SCHEMA',@level0name=N'Mouchard', @level1type=N'TABLE',@level1name=N'T_JournalErreur', @level2type=N'COLUMN',@level2name=N'errorProcedure'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Ligne de l''erreur.' , @level0type=N'SCHEMA',@level0name=N'Mouchard', @level1type=N'TABLE',@level1name=N'T_JournalErreur', @level2type=N'COLUMN',@level2name=N'errorLine'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Message text de l''erreur.' , @level0type=N'SCHEMA',@level0name=N'Mouchard', @level1type=N'TABLE',@level1name=N'T_JournalErreur', @level2type=N'COLUMN',@level2name=N'errorMessage'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Table des erreurs detectées à travers les blocs TRY..CATCH lors de la manipulation des données.' , @level0type=N'SCHEMA',@level0name=N'Mouchard', @level1type=N'TABLE',@level1name=N'T_JournalErreur'
GO
