USE [DB_OPCCIEL]
GO
/****** Object:  UserDefinedFunction [Operation].[FT_NbrePart]    Script Date: 03/12/2024 15:58:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
Auteur : 
Date Modification : 22/10/2021
Description : 
============================================= */
CREATE Function [Operation].[FT_NbrePart](	
	@idActionnaire  D_N_SEQ
	,@idOpcvm  D_N_SEQ	
	,@estLevee  D_B_BOOLEEN	
	,@estVerifie1  D_B_BOOLEEN	
	,@estVerifie2  D_B_BOOLEEN
	,@dateEstimation D_T_DATEHEURE)
	returns @table table(partNanti D_N_DECIMALX,partDispo D_N_DECIMALX,partRestant D_N_DECIMALX)
AS
BEGIN	
		declare @PartDispo D_N_DECIMALX
		insert into @table(partNanti,partDispo,partRestant)
		SELECT	
			sum(quantite),0,0
		FROM [Operation].[T_Nantissement] nant
			inner join Parametre.T_Personne t_p
				on t_p.idPersonne=nant.idActionnaire
			left outer join Parametre.T_PersonnePhysique t_ph
				on t_ph.IdPersonne=t_p.IdPersonne
			left outer join Parametre.T_PersonneMorale t_pm
				on t_pm.IdPersonne=t_p.IdPersonne
		WHERE  (idActionnaire = @idActionnaire or @idActionnaire is null)
		AND  (idOpcvm = @idOpcvm or @idOpcvm is null)	
		AND  (estLevee = @estLevee or @estLevee is null)
		AND  (estVerifie1 = @estVerifie1 or @estVerifie1 is null)		
		AND  (estVerifie2 = @estVerifie2 or @estVerifie2 is null)
		AND  (nant.supprimer = 0)	
		
		select @PartDispo=
				isnull(sum(case 
						when LTRIM(rtrim(m.position)) in ('10', '30','40') then m.valeur
						when LTRIM(rtrim(m.position)) in ('20','50') then -m.valeur 
						else 0 
					end),0)
		from Comptabilite.T_Operation o
			inner join Comptabilite.T_Mouvement m
				on o.IdOperation = m.idOperation						
		where o.supprimer = 0
		and m.supprimer = 0
		and o.ecriture = 'E'
		and LTRIM(rtrim(m.rubrique)) = '20000'
		and LTRIM(rtrim(m.position)) in ('10', '20', '30','40','50')
		and (o.idOpcvm = @idOpcvm)
		and (m.idActionnaire = @idActionnaire or @idActionnaire is null)
		and Mouchard.FS_FormaterDate(o.dateValeur) <= Mouchard.FS_FormaterDate(@dateEstimation)
		group by o.idOpcvm, m.idActionnaire				

		update @table set partNanti=0
		Where partNanti is null

		update @table set partDispo=@PartDispo

		update @table set partRestant=partDispo-partNanti

		return
END








/*









	exec [Operation].[PS_Nantissement_SP]
	null, null, null, null, null,
                 null, null, null, null, null,
                null, null, null, null, null,
                null, null,
               null, null, null,
                null, null, null, null, null, null, null, null, 0, null, null


*/
GO
/****** Object:  UserDefinedFunction [Parametre].[FT_DepotRachat2]    Script Date: 03/12/2024 15:58:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [Parametre].[FT_DepotRachat2] (@IdSeance  D_N_SEQ
												,@IdPersonne  D_N_SEQ
												,@IdOpcvm  D_N_SEQ
												,@codeNatureOperation  D_A_TEXTE
												,@niveau1 D_B_BOOLEEN
												,@niveau2 D_B_BOOLEEN
												)
returns @table table(
						 IdDepotRachat D_N_SEQ,
					     IdOperation D_N_SEQ,
						 referencePiece  D_A_LIB,
						 dateOperation  D_T_DATEHEURE,
						 nomSigle D_A_LIB,
						 prenomRaison D_A_LIB,
						 montantDepose D_N_DECIMALX,
						 montantSouscrit D_N_DECIMALX,
						 QtePart D_N_DECIMALX,
						 idSeance D_N_INT_LONG,
						 idActionnaire D_A_CODE_LONG,
						 idOpcvm D_N_SEQ,
						 denominationOpcvm D_A_LIB,
						 dateOuv D_T_DATEHEURE,
						 dateFerm D_T_DATEHEURE,
						 idPersonne D_A_CODE_LONG,
						 distributeur D_A_LIB,
						 estVerifie1 [dbo].[D_B_BOOLEEN] ,
						 dateVerification1 [dbo].[D_T_HEURE] ,
						 userLoginVerificateur1 [dbo].[D_A_CODE_LONG] ,
						 estVerifie2 [dbo].[D_B_BOOLEEN] ,
						 dateVerification2 [dbo].[D_T_HEURE] ,
						userLoginVerificateur2 [dbo].[D_A_CODE_LONG] ,
						idTitre	D_N_SEQ,
						qte	D_N_DECIMALX,
						cours	D_N_DECIMALX,
						commission	D_N_DECIMALX,
						interetCouru	D_N_DECIMALX,
						interetPrecompte	D_N_DECIMALX,
						symbolTitre D_A_LIB	,
						 estVerifier [dbo].[D_B_BOOLEEN] 				  
						 )
as
begin


insert into @table

select  t_d.idDepotRachat, 
		t_d.IdOperation,
		t_d.referencePiece,
		 t_d.dateOperation  ,
		 ISNULL(ph.NomPersonnePhysique,pm.SiglePersonneMorale) as nomSigle,
		 isnull(ph.PrenomPersonnePhysique,pm.RaisonSociale) as prenomRaison,
	 	t_d.[montant],
	 	t_d.montantSouscrit,
		t_d.[quantite],
		 t_d.idSeance ,
		 t_d.idActionnaire ,
		 t_d.idOpcvm ,
		 opcvm.denominationOpcvm,
		 so.dateOuverture,
		 so.dateFermeture,
		 t_d.idPersonne ,
		 isnull(ph1.PrenomPersonnePhysique,mo.RaisonSociale)	,
		 t_d.estVerifie1 ,
		 t_d.dateVerification1  ,
		 t_d.userLoginVerificateur1  ,
		 t_d.estVerifie2  ,
		 t_d.dateVerification2  ,
		t_d.userLoginVerificateur2,
			isnull(t_d.idTitre,0) idTitre,	
			isnull(t_d.qte,0) qte	,
			isnull(t_d.cours,0) cours	,
			isnull(t_d.commission,0) commission	,
			isnull(t_d.interetCouru,0)	interetCouru,
			isnull(t_d.interetPrecompte,0)interetPrecompte,
			tit.symbolTitre,
			t_d.estVerifier
FROM [Parametre].[T_DepotRachat]t_d
		INNER JOIN Comptabilite.T_NatureOperation t_n
				ON t_d.codeNatureOperation = t_n.codeNatureOperation
		left outer join Parametre.T_PersonnePhysique ph
			on ph.IdPersonne = t_d.IdActionnaire
		left outer join Parametre.T_PersonneMorale pm
			on pm.IdPersonne = t_d.IdActionnaire
		left join Parametre.T_PersonneMorale mo
			on mo.IdPersonne=t_d.IdPersonne
		left outer join Parametre.T_PersonnePhysique ph1
			on ph1.IdPersonne = t_d.IdPersonne
		inner join Parametre.TJ_SeanceOpcvm so
			on so.idOpcvm=t_d.IdOpcvm
			and so.idSeance=t_d.IdSeance
		inner join Parametre.T_Opcvm opcvm
			on opcvm.idOpcvm=t_d.IdOpcvm
		LEFT JOIN [DB_TITRESCIEL].[Titre].[T_Titre] tit
				on t_d.idTitre=tit.idTitre
WHERE        (t_d.IdSeance = @IdSeance or @IdSeance is null)
		AND  (t_d.IdPersonne = @IdPersonne or @IdPersonne is null)
		AND  (t_d.IdOpcvm = @IdOpcvm or @IdOpcvm is null)
		and (t_d.codeNatureOperation in  (select items from dbo.Split(ltrim(rtrim(@codeNatureOperation)),';')) or @codeNatureOperation is null)
		
		AND  (t_d.estVerifie1 = @niveau1 or @niveau1 is null)
		and (t_d.estVerifie2=@niveau2 or @niveau2 is null) 
		
		and t_d.supprimer=0
		and so.supprimer=0
		and opcvm.supprimer=0
ORDER BY ISNULL(ph.NomPersonnePhysique,pm.SiglePersonneMorale),
		 isnull(ph.PrenomPersonnePhysique,pm.RaisonSociale) 
		

return
end
/*
select * from [Parametre].[FT_DepotRachat] (334,null,9,'DEP_SOUS',0,0)
*/
GO
