USE [DB_OPCCIEL]
GO
/****** Object:  UserDefinedFunction [Impression].[FT_BETA]    Script Date: 03/12/2024 11:36:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create function [Impression].[FT_BETA](@IdOpcvm D_N_SEQ,@DateDebut D_T_DATEHEURE,@DateFin D_T_DATEHEURE)
 RETURNS @table TABLE (id INT IDENTITY(1,1),
            DenominationOpcvm D_A_LIB,
			DateFermeture D_T_DATE,
			VL D_N_DECIMALX,
			NAV D_N_DECIMALX,
			PerformancePortefeuille D_N_DECIMALX,
			PerformanceBenchMark D_N_DECIMALX,			
			EcartTypeBenchmark D_N_DECIMALX,
			EcartTypeOpcvm D_N_DECIMALX,
			volatiliteBenchMark D_N_DECIMALX,
			volatiliteOpcvm D_N_DECIMALX,
			Beta D_N_DECIMALX
                         )
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	-- SET NOCOUNT ON;

    -- Insert statements for procedure here
	--declare @tableRetour table(
	--					DenominationOpcvm D_A_LIB,
	--					DateFermeture D_T_DATE,
	--					VL D_N_DECIMALX,
	--					NAV D_N_DECIMALX,						
	--					PerformancePortefeuille D_N_DECIMALX,
	--					PerformanceBenchMark D_N_DECIMALX,
	--					Beta D_N_DECIMALX,
	--					Xi D_N_DECIMALX,
	--					Yi D_N_DECIMALX)
	
	declare @tableCorrelation table(
						DenominationOpcvm D_A_LIB,
						DateFermeture D_T_DATE,
						VL D_N_DECIMALX,
						NAV D_N_DECIMALX,
						PerformancePortefeuille D_N_DECIMALX,
						PerformanceBenchMark D_N_DECIMALX,
						Correlation D_N_DECIMALX,
						Xi D_N_DECIMALX,
						Yi D_N_DECIMALX)

	insert @table
	select 
			op.denominationOpcvm,
			so.dateFermeture,
			so.valeurLiquidative,
			so.navBenchmark,											
			CASE WHEN so1.idSeance IS NOT NULL THEN
                            (ISNULL(so.valeurLiquidative, 0)/ISNULL(so1.valeurLiquidative, 0))-1
                    ELSE 0 END,
			CASE WHEN so1.idSeance IS NOT NULL THEN
                            (ISNULL(so.navBenchmark, 0)/ISNULL(so1.navBenchmark, 0))-1
                    ELSE 0 END,
					0,
					0,
					0,
					0,
					0
	from Parametre.TJ_SeanceOpcvm so
	left outer join Parametre.TJ_SeanceOpcvm so1 on so.idOpcvm=so1.idOpcvm and so.idSeance=so1.idSeance+1
	inner join Parametre.T_Opcvm op on op.idOpcvm=so.idOpcvm
	where so.idOpcvm=@IdOpcvm
	AND (CAST(so.dateFermeture AS DATE) BETWEEN CAST(@dateDebut AS DATE) AND CAST(@dateFin AS DATE))
    AND (CAST(so1.dateFermeture AS DATE) BETWEEN CAST(@dateDebut AS DATE) AND CAST(@dateFin AS DATE))
	order by so.dateFermeture ASC
	
	declare @sommebenchMark numeric(38, 20),@sommePortefeuille numeric(38, 20),
	@XMi D_N_DECIMALX,@YMi D_N_DECIMALX,@Beta D_N_DECIMALX,@total D_N_SEQ,@dateFermeture D_T_DATEHEURE,
	@vlN D_N_DECIMALX,@NAV D_N_DECIMALX,@perfomencePortefeuille D_N_DECIMALX,@perfomenceBenchmark D_N_DECIMALX,@correlation D_N_DECIMALX,
	@EcartTypeOpcvm D_N_DECIMALX,@EcartTypeBenchMark D_N_DECIMALX,@volatiliteOpcvm D_N_DECIMALX,@volatiliteBenchMark D_N_DECIMALX
	
	select @XMi=sum(tr.PerformancePortefeuille),@YMi=sum(tr.PerformanceBenchMark),@total=count(tr.DateFermeture)
	from @table tr

	if(@total!=0)
	begin
		set @XMi=@XMi/@total
		set @YMi=@YMi/@total
	end
	else
	begin
		set @XMi=0		
		set @YMi=0
	end 
	
	select @sommePortefeuille=sum(power((tr.PerformancePortefeuille-@XMi),2)),@sommebenchMark=sum(power((tr.PerformanceBenchMark-@YMi),2))
	from @table tr	

	insert @tableCorrelation
	select * from Impression.FT_CORRELATION(@idOpcvm,@Datedebut,@DateFin)

	select top 1 @correlation=tc.Correlation from @tableCorrelation tc

	if(@total!=0)
	begin
		set @EcartTypeOpcvm=sqrt(@sommePortefeuille/@total)
		set @EcartTypeBenchMark=sqrt(@sommebenchMark/@total)
		set @volatiliteOpcvm=@EcartTypeOpcvm*sqrt(251)
		set @volatiliteBenchMark=@EcartTypeBenchMark*sqrt(251)

		if(@volatiliteBenchMark!=0)
		begin
			set @Beta=@correlation*@volatiliteOpcvm/@volatiliteBenchMark
		end
		else
			set @Beta=0
	end
	else
		set @Beta=0

	update @table
	set Beta=@Beta,
	EcartTypeBenchmark=@EcartTypeBenchMark,
	EcartTypeOpcvm=@EcartTypeOpcvm,
	volatiliteBenchMark=@volatiliteBenchMark,
	volatiliteOpcvm=@volatiliteOpcvm
	
	--select  tr.DenominationOpcvm,
	--		tr.DateFermeture,
	--		tr.VL,
	--		tr.NAV,
	--		tr.PerformancePortefeuille,
	--		tr.PerformanceBenchMark,			
	--		@EcartTypeBenchMark as EcartTypeBenchmark,
	--		@EcartTypeOpcvm as EcartTypeOpcvm,
	--		@volatiliteBenchMark as volatiliteBenchMark,
	--		@volatiliteOpcvm as volatiliteOpcvm,
	--		tr.Beta as Beta
	--from @tableRetour tr
	--select sum((tr.PerformancePortefeuille-@XMi)*(tr.PerformanceBenchMark-@YMi)),(sum(power(tr.PerformancePortefeuille-@XMi,2))),sum(power(tr.PerformanceBenchMark-@YMi,2))
	--from @tableRetour tr
	return
END
GO
/****** Object:  UserDefinedFunction [Impression].[FT_CORRELATION]    Script Date: 03/12/2024 11:36:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create function [Impression].[FT_CORRELATION](@IdOpcvm D_N_SEQ,@DateDebut D_T_DATEHEURE,@DateFin D_T_DATEHEURE)
returns @tableRetour table(
						DenominationOpcvm D_A_LIB,
						DateFermeture D_T_DATE,
						VL D_N_DECIMALX,
						NAV D_N_DECIMALX,
						PerformancePortefeuille D_N_DECIMALX,
						PerformanceBenchMark D_N_DECIMALX,
						Correlation D_N_DECIMALX,
						Xi D_N_DECIMALX,
						Yi D_N_DECIMALX)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

    -- Insert statements for procedure here
	--declare @tableRetour table(
	--					DenominationOpcvm D_A_LIB,
	--					DateFermeture D_T_DATE,
	--					VL D_N_DECIMALX,
	--					NAV D_N_DECIMALX,
	--					PerformancePortefeuille D_N_DECIMALX,
	--					PerformanceBenchMark D_N_DECIMALX,
	--					Correlation D_N_DECIMALX,
	--					Xi D_N_DECIMALX,
	--					Yi D_N_DECIMALX)

	insert @tableRetour	
	select 
			op.denominationOpcvm,
			so.dateFermeture,
			so.valeurLiquidative,
			so.navBenchmark,		
			CASE WHEN so1.idSeance IS NOT NULL THEN
                            (ISNULL(so.valeurLiquidative, 0)/ISNULL(so1.valeurLiquidative, 0))-1
                    ELSE 0 END,					
			CASE WHEN so1.idSeance IS NOT NULL THEN
                            (ISNULL(so.navBenchmark, 0)/ISNULL(so1.navBenchmark, 0))-1
                    ELSE 0 END,
					0,
					0,
					0
	from Parametre.TJ_SeanceOpcvm so
	left outer join Parametre.TJ_SeanceOpcvm so1 on so.idOpcvm=so1.idOpcvm and so.idSeance=so1.idSeance+1
	inner join Parametre.T_Opcvm op on op.idOpcvm=so.idOpcvm
	where so.idOpcvm=@IdOpcvm
	AND (CAST(so.dateFermeture AS DATE) BETWEEN CAST(@dateDebut AS DATE) AND CAST(@dateFin AS DATE))
    AND (CAST(so1.dateFermeture AS DATE) BETWEEN CAST(@dateDebut AS DATE) AND CAST(@dateFin AS DATE))
	order by so.dateFermeture ASC
	
	declare @squareRoot numeric(38, 20),@numerateur numeric(38, 20),
	@XMi D_N_DECIMALX,@YMi D_N_DECIMALX,@correlation D_N_DECIMALX,@total D_N_SEQ,@dateFermeture D_T_DATEHEURE,
	@vlN D_N_DECIMALX,@NAV D_N_DECIMALX,@perfomencePortefeuille D_N_DECIMALX,@perfomenceBenchmark D_N_DECIMALX,
	@XMi2 D_N_DECIMALX,@YMi2 D_N_DECIMALX
	select @XMi=sum(tr.PerformancePortefeuille),@YMi=sum(tr.PerformanceBenchMark),@total=count(tr.DateFermeture)
	from @tableRetour tr

	
	if(@total!=0)
	begin
		set @XMi=@XMi/@total
		set @YMi=@YMi/@total
	end
	else
	begin
		set @XMi=0
		set @YMi=0
	end 
	
	select @numerateur=sum((tr.PerformancePortefeuille-@XMi)*(tr.PerformanceBenchMark-@YMi)),@XMi2=(sum(power(tr.PerformancePortefeuille-@XMi,2))),
	@YMi2=(sum(power(tr.PerformanceBenchMark-@YMi,2)))
	from @tableRetour tr
	set @squareRoot=sqrt(@XMi2*@YMi2)

	if(@squareRoot!=0)
	begin
		set @correlation=@numerateur/@squareRoot
	end
	else
		set @correlation=0

	update @tableRetour
	set Correlation=round(@correlation,3),
	Xi=@XMi,
	Yi=@YMi
	
	--select  tr.DenominationOpcvm,
	--		tr.DateFermeture,
	--		tr.VL,
	--		tr.NAV,
	--		tr.PerformancePortefeuille,
	--		tr.PerformanceBenchMark,
	--		ROUND(tr.Correlation,3) as Correlation,
	--		tr.Xi,
	--		tr.Yi
	--from @tableRetour tr
	--select sum((tr.PerformancePortefeuille-@XMi)*(tr.PerformanceBenchMark-@YMi)),(sum(power(tr.PerformancePortefeuille-@XMi,2))),sum(power(tr.PerformanceBenchMark-@YMi,2))
	--from @tableRetour tr
	return
END
GO
/****** Object:  UserDefinedFunction [Impressions].[FT_CalculVolatilite]    Script Date: 03/12/2024 11:36:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Romaric B. TOHOUNKPIN
-- Create date: 16/04/2024
-- Description:
-- =============================================
    CREATE FUNCTION [Impressions].[FT_CalculVolatilite]
    (
        @idOpcvm D_N_SEQ = NULL
        )
    RETURNS @table TABLE (idOpcvm D_N_SEQ,
                          sigleOpcvm D_A_LIB,
                          denominationOpcvm D_A_LIB,
                          anneeN1 D_N_SEQ,
                          idSeanceN1 D_N_SEQ,
                          vlN1 D_N_DECIMALX,
                          anneeN2 D_N_SEQ,
                          idSeanceN2 D_N_SEQ,
                          vlN2 D_N_DECIMALX,
                          performanceN1 D_N_DECIMALX,
                          performanceN2 D_N_DECIMALX,
                          rentabiliteN2 D_N_DECIMALX,
                          variance D_N_DECIMALX,
                          ecarttype1 D_N_DECIMALX,
                          ecarttype2 D_N_DECIMALX
                         )
    AS
    BEGIN
        INSERT @table
        SELECT r.idOpcvm,
               op.sigleOpcvm,
               op.denominationOpcvm,
               anneeN1,
               idSeanceN1,
               ISNULL(vl1.valeurLiquidative, 0) vlN1,
               anneeN2,
               idSeanceN2,
               ISNULL(vl2.valeurLiquidative, 0) vlN2,
               0,
               CASE WHEN idSeanceN1 <> -1 THEN
                            (ISNULL(vl2.valeurLiquidative, 0)/ISNULL(vl1.valeurLiquidative, 0))-1
                    ELSE 0 END,
               0,
               0,
               0,
               0
        FROM (
                 SELECT YEAR(so.dateFermeture)-1 anneeN1,
                        YEAR(so.dateFermeture) anneeN2,
                        ISNULL(sN1.idSeance, -1) idSeanceN1,
                        ISNULL(sN2.idSeance, -1) idSeanceN2,
                        so.idOpcvm idOpcvm
                 FROM [DB_OPCCIEL].[Parametre].[TJ_SeanceOpcvm] so
                          LEFT OUTER JOIN (
                     SELECT YEAR(so1.dateFermeture) annee, MAX(so1.idSeance) idSeance
                     FROM [DB_OPCCIEL].[Parametre].[TJ_SeanceOpcvm] so1
                     GROUP BY YEAR(so1.dateFermeture)
                 ) sN1 ON sN1.annee = YEAR(so.dateFermeture)-1
                          LEFT OUTER JOIN (
                     SELECT YEAR(so1.dateFermeture) annee, MAX(so1.idSeance) idSeance
                     FROM [DB_OPCCIEL].[Parametre].[TJ_SeanceOpcvm] so1
                     GROUP BY YEAR(so1.dateFermeture)
                 ) sN2 ON sN2.annee = YEAR(so.dateFermeture)
                 GROUP BY so.idOpcvm, YEAR(so.dateFermeture)-1, YEAR(so.dateFermeture), sN1.idSeance, sN2.idSeance
                 --ORDER BY YEAR(so.dateFermeture)-1 ASC
             ) R
                 LEFT OUTER JOIN [DB_OPCCIEL].[Parametre].[TJ_SeanceOpcvm] vl1
                                 ON vl1.idSeance = R.idSeanceN1 AND vl1.idOpcvm = R.idOpcvm
                 LEFT OUTER JOIN [DB_OPCCIEL].[Parametre].[TJ_SeanceOpcvm] vl2
                                 ON vl2.idSeance = R.idSeanceN2 AND vl2.idOpcvm = R.idOpcvm
                 INNER JOIN [DB_OPCCIEL].[Parametre].[T_Opcvm] op
                            ON op.idOpcvm = R.idOpcvm
        WHERE (R.idOpcvm = @idOpcvm OR @idOpcvm IS NULL)

        UPDATE t
        SET performanceN1 = t1.performanceN2
        FROM @table t
                 INNER JOIN @table t1
                            ON t1.anneeN2 = t.anneeN2 - 1

        UPDATE @table
        SET rentabiliteN2 = (performanceN2 + performanceN1)/2

        UPDATE @table
        SET variance = POWER((performanceN2 - rentabiliteN2), 2)/2

        UPDATE @table
        SET ecarttype1 = SQRT(variance)

        UPDATE @table
        SET ecarttype2 = ecarttype1*(1+variance)

        -- Valeur en %
        UPDATE @table
        SET performanceN1 = performanceN1*100,
            performanceN2 = performanceN2*100,
            rentabiliteN2 = rentabiliteN2*100,
            ecarttype1 = ecarttype1*100,
            ecarttype2 = ecarttype2*100

        RETURN
    END


/*

select * from [Impressions].[FT_CalculVolatilite] (NULL);
select * from [Impressions].[FT_CalculVolatilite] (8);
select * from [Impressions].[FT_CalculVolatilite] (9);

*/
GO
/****** Object:  UserDefinedFunction [Impressions].[FT_CalculVolatiliteJ]    Script Date: 03/12/2024 11:36:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Romaric B. TOHOUNKPIN
-- Create date: 16/04/2024
-- Description:
-- =============================================
    CREATE FUNCTION [Impressions].[FT_CalculVolatiliteJ]
    (
        @idOpcvm D_N_SEQ = NULL,
        @dateDebut D_T_DATEHEURE,
        @dateFin D_T_DATEHEURE
        )
    RETURNS @table TABLE (id INT IDENTITY(1,1),
                          idOpcvm D_N_SEQ,
                          sigleOpcvm D_A_LIB,
                          denominationOpcvm D_A_LIB,
                          dateN1 D_T_DATEHEURE,
                          anneeN1 D_N_SEQ,
                          idSeanceN1 D_N_SEQ,
                          vlN1 D_N_DECIMALX,
                          dateN2 D_T_DATEHEURE,
                          anneeN2 D_N_SEQ,
                          idSeanceN2 D_N_SEQ,
                          vlN2 D_N_DECIMALX,
                          performanceN1 D_N_DECIMALX,
                          performanceN2 D_N_DECIMALX,
                          rentabiliteN2 D_N_DECIMALX,
                          variance D_N_DECIMALX,
                          ecarttype1 D_N_DECIMALX,
                          ecarttype2 D_N_DECIMALX
                         )
    AS
    BEGIN
        INSERT @table
        SELECT so.idOpcvm,
               op.sigleOpcvm,
               op.denominationOpcvm,
               so1.dateFermeture,
               YEAR(so1.dateFermeture),
               so1.idSeance,
               so1.valeurLiquidative,
               so.dateFermeture,
               YEAR(so.dateFermeture),
               so.idSeance,
               so.valeurLiquidative,
               0,
               CASE WHEN so1.idSeance IS NOT NULL THEN
                            (ISNULL(so.valeurLiquidative, 0)/ISNULL(so1.valeurLiquidative, 0))-1
                    ELSE 0 END,
               0,
               0,
               0,
               0
        FROM [DB_OPCCIEL].[Parametre].[TJ_SeanceOpcvm] so
                 LEFT OUTER JOIN [DB_OPCCIEL].[Parametre].[TJ_SeanceOpcvm] so1
                                 ON so1.idOpcvm = so.idOpcvm AND so.idSeance = so1.idSeance+1
                 INNER JOIN [DB_OPCCIEL].[Parametre].[T_Opcvm] op
                            ON op.idOpcvm = so.idOpcvm
        WHERE (so.idOpcvm = @idOpcvm OR @idOpcvm IS NULL)
          AND so.supprimer = 0
          AND so1.supprimer = 0
          AND (CAST(so.dateFermeture AS DATE) BETWEEN CAST(@dateDebut AS DATE) AND CAST(@dateFin AS DATE))
          AND (CAST(so1.dateFermeture AS DATE) BETWEEN CAST(@dateDebut AS DATE) AND CAST(@dateFin AS DATE))
        ORDER BY so1.dateFermeture ASC

        UPDATE t
        SET performanceN1 = t1.performanceN2
        FROM @table t
                 INNER JOIN @table t1
                            ON t1.idSeanceN2 = t.idSeanceN1 - 1

        UPDATE @table
        SET rentabiliteN2 = (performanceN2 + performanceN1)/2

        UPDATE @table
        SET variance = POWER((performanceN2 - rentabiliteN2), 2)/2

        UPDATE @table
        SET ecarttype1 = SQRT(variance)

        UPDATE @table
        SET ecarttype2 = ecarttype1*(1+variance)

        -- Valeur en %
        UPDATE @table
        SET performanceN1 = performanceN1*100,
            performanceN2 = performanceN2*100,
            rentabiliteN2 = rentabiliteN2*100,
            ecarttype1 = ecarttype1*100,
            ecarttype2 = ecarttype2*100

        RETURN
    END


/*

SELECT * FROM [Impressions].[FT_CalculVolatiliteJ] (NULL, '01/01/2024', '17/04/2024') ORDER BY anneeN1 ASC;
SELECT * FROM [Impressions].[FT_CalculVolatiliteJ] (8) ORDER BY anneeN1 ASC;
SELECT * FROM [Impressions].[FT_CalculVolatiliteJ] (9, '01/01/2024', '17/04/2024') ORDER BY anneeN1 ASC;

*/
GO
