USE [DB_OPCCIEL]
GO
/****** Object:  StoredProcedure [Parametre].[PS_PersonneMorale_DP]    Script Date: 29/02/2024 18:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
Auteur : 
Date Modification : 30/07/2014
Description : 
============================================= */
CREATE PROCEDURE [Parametre].[PS_PersonneMorale_DP]
	@userLogin D_A_CODE_LONG,
	@dateDernModifClient D_T_DATEHEURE,
	@numLigne D_N_SEQ,
	@Rowversion timestamp,
	@CodeLangue D_A_CODE,
	@Sortie D_A_TEXTE OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		--déclarations----------
		declare @supprimer  D_B_BOOLEEN, @version timestamp,@numCompteDepositaire varchar(255)
		--l'enregistrement n'existe pas ou est marqué supprimé
		SELECT  @supprimer=supprimer,@version=Rowvers,@numCompteDepositaire=numCompteDepositaire
		FROM [Parametre].[T_PersonneMorale]
		WHERE numLigne=@numLigne
		IF(@@rowcount=0 or @supprimer=1)
			Begin
				Exec [Mouchard].[PS_ErreurInfo] '7',@codeLangue ,null,@numLigne,@Sortie output
				/*Rollback tran*/
				Return
			End
		--ctl de la version de l'enregistrement pour la gestion des accès concurrents
		IF(@version!=@Rowversion )
			raiserror (50004,0,0, '')  /*le numéro du message de conflit ds T_erreur est 50004*/
		ElSE
		Begin
			--suppression logique
				IF (isnull(@supprimer,0)=0)
					Begin
					 UPDATE [Parametre].[T_PersonneMorale]
					SET supprimer = 1
						,[userLogin] = @userLogin
						,dateDernModifClient = @dateDernModifClient
						,dateDernModifServeur = getdate()
					WHERE numLigne=@numLigne

					select  @Sortie=rtrim(ltrim(msgUser)) from Mouchard.T_Erreur where idErreur='3' and codeLangue=@codeLangue
					End
				Else
					--suppression Physique
					Begin
						DELETE FROM [Parametre].[T_PersonneMorale]
						WHERE numLigne=@numLigne
						select  @Sortie=rtrim(ltrim(msgUser)) from Mouchard.T_Erreur where idErreur='6' and codeLangue=@codeLangue
					End				
				-- Message de retour
				Exec [Mouchard].[PS_ErreurInfo] '2',@codeLangue ,@Sortie,@numLigne,@Sortie output
			End
			--OPCCIEL2
				exec [DB_OPCCIEL2].[Parametre].[PS_PersonneMorale_DP]
						@userLogin,
						@dateDernModifClient,
						@numLigne,
						@numCompteDepositaire,
						@Rowversion,
						@CodeLangue,
						@Sortie
	END TRY
	BEGIN CATCH
		-- Journalisation de l'erreur et message utilisateur
		EXECUTE [Mouchard].[PS_ErreurInfo] null, @CodeLangue, null, null,@Sortie output
	END CATCH
END
GO
/****** Object:  StoredProcedure [Parametre].[PS_PersonneMorale_IP]    Script Date: 29/02/2024 18:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
Auteur : 
Date Modification : 30/07/2014
Description : 
============================================= */
CREATE PROCEDURE [Parametre].[PS_PersonneMorale_IP]
	@IdPersonne D_N_SEQ ,
	@EstActifPersonne  D_B_BOOLEEN,
	@LibelleTypePersonne  D_A_LIB,
	@libelleQualite D_A_LIB,
	@libelleSousCategorie D_A_LIB,
	@CodePays  D_A_CODE_LONG,
	@NumeroAgrementPersonneMorale  D_A_LIB,
	@NumeroINSAE  D_A_LIB,
	@codeSecteur D_A_LIB,
	@CapitalSocial  D_N_DECIMALX,
	@SiglePersonneMorale  D_A_LIB,
	@RaisonSociale  D_A_LIB,
	@CodeFormeJuridique  D_A_LIB,	
	@numCompteDepositaire d_a_lib,
	@telephoneFixe	D_A_TEL,
	@telephoneMobile1	D_A_TEL,
	@telephoneMobile2	D_A_TEL,
	@email	D_A_MAIL,
	@boitePostale	D_A_MAIL,
	@adresseComplete	D_A_LIB,
	@tauxRetroCourSous	D_N_DECIMALX,
	@tauxRetroCourRach	D_N_DECIMALX,
	@numCompteSgi D_A_CODE_LONG,
	@userLogin D_A_CODE_LONG,
	@dateDernModifClient D_T_DATEHEURE,
	@dateCreationPM D_T_DATEHEURE,
	@CodeLangueS D_A_CODE,
	@Sortie D_A_TEXTE OUTPUT,
	@codeCategorieClient	D_N_SEQ,
	@codeSousTypeClient	D_N_SEQ
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		begin tran act
		--déclarations----------
		DECLARE @Supprimer D_B_BOOLEEN, @NumLigne D_N_SEQ,@IdQualite D_N_SEQ,@IdPays D_N_SEQ,@IdSecteur D_N_SEQ
		,@libelleFormeJuridique varchar(255),@IdSousCategorie D_N_SEQ
		--SELECT  @Supprimer=supprimer,@NumLigne=numLigne
		--FROM [Parametre].[T_PersonneMorale]
		--WHERE  ltrim(rtrim(IdPersonne)) = ltrim(rtrim(@IdPersonne))
		--AND supprimer=1
		--IF (@@ROWCOUNT>0)
		--	DELETE from [Parametre].[T_PersonneMorale] where numLigne=@NumLigne
		---insertion dans T_PersonneMorale
		
		DECLARE @numOrdre D_N_SEQ = 0
		SELECT @numOrdre = numOrdre
		FROM [dbo].[FT_NumOrdreClient] (@codeSousTypeClient)
		
		INSERT INTO [Parametre].[T_Personne]
			([EstActifPersonne]
			,[LibelleTypePersonne]
			,[CodePays]
			,[CodeLangue]
			,[dateDernModifClient]
			,[userLogin]
			,[dateCreationServeur]
			,codeCategorieClient	
			,codeSousTypeClient
			,numOrdre)
			VALUES
			(@EstActifPersonne
			,@LibelleTypePersonne
			,@CodePays
			,@CodePays
			,@dateDernModifClient
			,@userLogin
			,getdate()
			,@codeCategorieClient	
			,@codeSousTypeClient
			,@numOrdre)
			
		set @IdPersonne=SCOPE_IDENTITY()
		INSERT INTO [Parametre].[T_PersonneMorale]			
			([IdPersonne]
			,[NumeroAgrementPersonneMorale]
			,[NumeroINSAE]
			,[codeSecteur]
			,[CapitalSocial]
			,[SiglePersonneMorale]
			,[RaisonSociale]
			,[CodeFormeJuridique]
			,[EstActifPersonne]
			,[LibelleTypePersonne]
			,LibelleSousCategorie
			,[dateDernModifClient]
			,[userLogin]
			,[dateCreationServeur]
			,[dateCreationPM]
			,numCompteDepositaire
			,telephoneFixe	
			,telephoneMobile1	
			,telephoneMobile2	
			,email	
			,boitePostale	
			,adresseComplete	
			,tauxRetroCourSous	
			,tauxRetroCourRach
			,CodePays
			,numCompteSgi
			,dateFermetureCompte	
			,motifFermetureCompte	
			,pieceFermetureCompte	
			,statutCompte
			,codeCategorieClient	
			,codeSousTypeClient
			,numOrdre)
			VALUES						
			(@IdPersonne
			,@NumeroAgrementPersonneMorale
			,@NumeroINSAE
			,@codeSecteur
			,@CapitalSocial
			,@SiglePersonneMorale
			,@RaisonSociale
			,@CodeFormeJuridique
			,@EstActifPersonne
			,@LibelleTypePersonne
			,''
			,@dateDernModifClient			
			,@userLogin
			,getdate()
			,@dateCreationPM
			,isnull(@numCompteDepositaire,'')
			,@telephoneFixe	
			,@telephoneMobile1	
			,@telephoneMobile2	
			,@email	
			,@boitePostale	
			,@adresseComplete	
			,@tauxRetroCourSous	
			,@tauxRetroCourRach
			,@CodePays
			,isnull(@numCompteSgi,'')
			,'01/01/3050',
			'',
			'',
			'OUVERT'
			,@codeCategorieClient	
			,@codeSousTypeClient
			,@numOrdre)
			
			INSERT INTO [Parametre].[T_InfoQualitePM]
			([idPersonne]
			,[libelleQualite]
			,[dateDernModifClient]
			,[userLogin]
			,[dateCreationServeur])
			VALUES
			(@IdPersonne
			,@libelleQualite
			,@dateDernModifClient
			,@userLogin
			,getdate())
			

		--opcciel 2
		select @IdPays=p.IdPays from [DB_OPCCIEL2].[Parametre].[T_Pays] p
		where p.codePays=@codePays
		if(@IdPays is null)
		begin
			set @IdPays=0
		end

		select @IdSecteur=s.idSecteur from [DB_OPCCIEL2].[Parametre].[T_Secteur] s
		where @codeSecteur like '%'+s.libelleSecteur+'%'

		if(isnull(@IdSecteur ,0)=0)
		begin
			insert into [DB_OPCCIEL2].[Parametre].[T_Secteur]
			(libelleSecteur,
			numLigne,
			userLogin,
			dateDernModifClient)
			values
			(@codeSecteur,
			0,
			@userLogin,
			@dateDernModifClient)
		
			set @IdSecteur=SCOPE_IDENTITY()
		end

		select @CodeFormeJuridique=f.codeFormeJuridique,@libelleFormeJuridique=f.libelleFormeJuridique
		from [DB_OPCCIEL2].[Titre].[T_FormeJuridique] f
		where @codeFormeJuridique like '%'+f.codeFormeJuridique+'%'

		if(isnull(@CodeFormeJuridique ,'')='')
		begin
			exec [DB_OPCCIEL2].[Titre].[PS_FormeJuridique_IP]
				@codeFormeJuridique,
				@libelleFormeJuridique,
				@NumLigne,
				@userLogin,
				@dateDernModifClient,
				@CodeLangueS,
				@Sortie
		end

		select @IdSousCategorie=s.idSousCategorie
		from [DB_OPCCIEL2].[Titre].[T_SousCategorie] s
		where @libelleSousCategorie like '%'+s.libelleSousCategorie+'%'

		if(isnull(@IdSousCategorie ,0)=0)
		begin
			insert into [DB_OPCCIEL2].[Titre].[T_SousCategorie]
			(libelleSouscategorie,
			userLogin,
			dateDernModifClient)
			values(
				@libelleSousCategorie,
				@userLogin ,
				@dateDernModifClient )

			set @IdSousCategorie=SCOPE_IDENTITY()
		end
		

		exec [DB_OPCCIEL2].[Parametre].[PS_PersonneMorale_IP]
			@CapitalSocial,
			--formejuridique
			@CodeFormeJuridique,
			@NumeroAgrementPersonneMorale,
			@NumeroINSAE,
			@RaisonSociale,
			@SiglePersonneMorale,
			@adresseComplete,
			@boitePostale,
			--secteur
			@codeSecteur,
			null,
			@dateCreationPM,
			null,
			@email,
			null,
			0,
			0,
			0,
			0,
			0,
			@libelleSousCategorie,
			null,
			@numCompteDepositaire,
			@numCompteSgi,
			null,
			null,
			@SiglePersonneMorale,
			null,
			'OUVERT',
			@tauxRetroCourRach,
			@tauxRetroCourSous,
			@telephoneFixe,
			null,
			@telephoneMobile1,
			@telephoneMobile2,
			@idPersonne,
			@IdSousCategorie,
			null,
			--personne
			@CodeLangueS,
			@CodePays,
			@EstActifPersonne,
			@LibelleTypePersonne,
			@codeCategorieClient,
			@codeSousTypeClient,
			null,
			@adresseComplete,
			null,
			null,
			@email,
			1,
			0,
			0,
			0,
			0,
			@telephoneFixe,
			null,
			null,
			@telephoneMobile1,
			@telephoneMobile2,
			null,
			null,
			@numOrdre,
			null,
			0,
			0,
			0,
			0,
			null,
			null,
			null,
			null,
			null,
			null,
			--residence
			@idPays,
			null,
			@idSecteur,
			@userLogin,
			@dateDernModifClient,
			@CodeLangueS,
			@Sortie

		--	set @IdPersonne=SCOPE_IDENTITY()
		select @IdPersonne=max(p.idPersonne) from [DB_OPCCIEL2].[Parametre].T_Personne p;
		select @IdQualite = q.idQualite from [DB_OPCCIEL2].[Parametre].T_Qualite q
		where @libelleQualite like '%'+q.libelleQualite +'%'
			
		

		if(isnull(@IdQualite ,0)>0)
		begin
			insert into [DB_OPCCIEL2].[Parametre].[TJ_StatutPersonne]
			(idPersonne,
			idQualite,
			idPersonnel,
			userLogin,
			dateDernModifClient)
			values(
			@idPersonne,
			@IdQualite,
			null,
			@userLogin,
			@dateDernModifClient)
		end
		else
		begin
			INSERT INTO [DB_OPCCIEL2].[Parametre].[T_Qualite]
			([libelleQualite]
			,[dateDernModifClient]
			,[userLogin]
			,[numLigne]
			,[dateCreationServeur])
			VALUES
			(@libelleQualite
			,@dateDernModifClient
			,@userLogin
			,0
			,getdate())

			set @IdQualite=SCOPE_Identity()

				insert into [DB_OPCCIEL2].[Parametre].[TJ_StatutPersonne]
			(idPersonne,
			idQualite,
			idPersonnel,
			userLogin,
			dateDernModifClient)
			values(
			@idPersonne,
			@IdQualite,
			null,
			@userLogin,
			@dateDernModifClient)
		end
			
		--Message de retour et journalisation
		set @NumLigne=@IdPersonne
		select  @Sortie=rtrim(ltrim(msgUser)) from Mouchard.T_Erreur where idErreur='2' and codeLangue=@codeLangueS 
		exec [Mouchard].[PS_ErreurInfo] '2',@CodeLangueS,@Sortie,@NumLigne,@Sortie output
		commit tran act
	END TRY
	BEGIN CATCH
		rollback transaction
		-- Journalisation de l'erreur et message utilisateur
		EXECUTE [Mouchard].[PS_ErreurInfo] null, @CodeLangueS, null, null,@Sortie output
	END CATCH
END
GO
/****** Object:  StoredProcedure [Parametre].[PS_PersonneMorale_UP]    Script Date: 29/02/2024 18:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
Auteur : 
Date Modification : 30/07/2014
Description : 
============================================= */
CREATE PROCEDURE [Parametre].[PS_PersonneMorale_UP]
	@IdPersonne D_N_SEQ ,
	@EstActifPersonne  D_B_BOOLEEN,
	@LibelleTypePersonne  D_A_LIB,
	@libelleSousCategorie D_A_LIB,
	@CodePays  D_A_CODE_LONG ,
	@NumeroAgrementPersonneMorale  D_A_LIB,
	@NumeroINSAE  D_A_LIB,
	@codeSecteur  D_A_LIB,
	@CapitalSocial  D_N_DECIMALX,
	@SiglePersonneMorale  D_A_LIB,
	@RaisonSociale  D_A_LIB,
	@CodeFormeJuridique  D_A_LIB,	
	@dateCreationPM D_T_DATEHEURE,
	@numCompteDepositaire d_a_lib,
	@telephoneFixe	D_A_TEL,
	@telephoneMobile1	D_A_TEL,
	@telephoneMobile2	D_A_TEL,
	@email	D_A_MAIL,
	@boitePostale	D_A_MAIL,
	@adresseComplete	D_A_LIB,
	@tauxRetroCourSous	D_N_DECIMALX,
	@tauxRetroCourRach	D_N_DECIMALX,
	@numCompteSgi D_A_CODE_LONG,
	@NumLigne D_N_SEQ,
	@Rowversion timestamp,
	@userLogin D_A_CODE_LONG,
	@dateDernModifClient D_T_DATEHEURE,
	@CodeLangueS D_A_CODE,
	@Sortie D_A_TEXTE OUTPUT,
	@dateFermetureCompte	D_T_DATEHEURE,
	@motifFermetureCompte	D_A_LIB,
	@pieceFermetureCompte	D_A_PATH,
	@statutCompte	D_A_LIB,
	@codeCategorieClient	D_N_SEQ,
	@codeSousTypeClient	D_N_SEQ
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		begin tran act
		--déclarations----------
		declare  @supprimer  D_B_BOOLEEN, @version timestamp,@numCompteDepositaire_up varchar(255),@IdPays D_N_SEQ,@IdSecteur D_N_SEQ
		,@libelleFormeJuridique varchar(255),@IdSousCategorie D_N_SEQ
		--verification de l'etat de l'enregistrement
		SELECT  @supprimer=supprimer,@version=Rowvers,@numCompteDepositaire_up=numCompteDepositaire
		FROM [Parametre].[T_PersonneMorale]
		WHERE numLigne=@numLigne
		IF(@@rowcount=0 or @supprimer=1)
			Begin
				Exec [Mouchard].[PS_ErreurInfo] '7',@codeLangueS ,null,@numLigne,@Sortie output
				/*Rollback tran*/
				Return
			End
		--ctl de la version de l'enregistrement pour la gestion des accès concurrents
		IF(@version!=@Rowversion )
			raiserror (50004,-1,-1,'')  /*le numéro du message de conflit ds T_erreur est 50004*/
		ElSE
		Begin
			insert into [DB_OPCCIEL2].dbo.tmp
			(numdeposit)
			values(@numCompteDepositaire_up)

			DECLARE @numOrdre D_N_SEQ = 0
			SELECT @numOrdre = numOrdre
			FROM [dbo].[FT_NumOrdreClient] (@codeSousTypeClient)
			
			UPDATE [Parametre].[T_Personne]
			SET	[EstActifPersonne] = @EstActifPersonne
				,[LibelleTypePersonne] = @LibelleTypePersonne
				,[CodePays] = @CodePays
				,[dateDernModifClient] = @dateDernModifClient
				,[dateDernModifServeur] =getdate()
				,[userLogin] = @userLogin
				,codeCategorieClient=@codeCategorieClient	
				,codeSousTypeClient=@codeSousTypeClient	
				,numOrdre = (CASE WHEN numOrdre = 0 THEN @numOrdre ELSE numOrdre END)
			WHERE  IdPersonne=@IdPersonne
			
			UPDATE [Parametre].[T_PersonneMorale]
			SET	[NumeroAgrementPersonneMorale] = @NumeroAgrementPersonneMorale
				,[NumeroINSAE] = @NumeroINSAE
				,[codeSecteur] = @codeSecteur
				,[CapitalSocial] = @CapitalSocial
				,[SiglePersonneMorale] = @SiglePersonneMorale
				,[RaisonSociale] = @RaisonSociale
				,[CodeFormeJuridique] = @CodeFormeJuridique
				,[EstActifPersonne] = @EstActifPersonne
				,[libelleSousCategorie] = @libelleSousCategorie
				,[LibelleTypePersonne] = @LibelleTypePersonne
				,[CodePays] = @CodePays
				,[dateCreationPM]=@dateCreationPM
				,[dateDernModifClient] = @dateDernModifClient
				,[dateDernModifServeur] =getdate()
				,[userLogin] = @userLogin
				,numCompteDepositaire = @numCompteDepositaire
				,telephoneFixe	= @telephoneFixe
				,telephoneMobile1 = @telephoneMobile1
				,telephoneMobile2	= @telephoneMobile2
				,email	= @email
				,boitePostale= @boitePostale
				,adresseComplete = @adresseComplete
				,tauxRetroCourSous	= @tauxRetroCourSous
				,tauxRetroCourRach = @tauxRetroCourRach
				,numCompteSgi=@numCompteSgi
				,dateFermetureCompte=@dateFermetureCompte	
				,motifFermetureCompte=@motifFermetureCompte	
				,pieceFermetureCompte=@pieceFermetureCompte	
				,statutCompte=@statutCompte	
				,codeCategorieClient=@codeCategorieClient	
				,codeSousTypeClient=@codeSousTypeClient
				,numOrdre = (CASE WHEN numOrdre = 0 THEN @numOrdre ELSE numOrdre END)

			WHERE  numLigne=@NumLigne

			--opcciel 2
		select @IdPays=p.IdPays from [DB_OPCCIEL2].[Parametre].[T_Pays] p
		where p.codePays=@codePays
		if(@IdPays is null)
		begin
			set @IdPays=0
		end

		select @IdSecteur=s.idSecteur from [DB_OPCCIEL2].[Parametre].[T_Secteur] s
		where @codeSecteur like '%'+s.libelleSecteur+'%'

		if(isnull(@IdSecteur ,0)=0)
		begin
			insert into [DB_OPCCIEL2].[Parametre].[T_Secteur]
			(libelleSecteur,
			numLigne,
			userLogin,
			dateDernModifClient)
			values
			(@codeSecteur,
			0,
			@userLogin,
			@dateDernModifClient)

			set @IdSecteur=SCOPE_IDENTITY()
		end

		select @CodeFormeJuridique=f.codeFormeJuridique,@libelleFormeJuridique=f.libelleFormeJuridique
		from [DB_OPCCIEL2].[Titre].[T_FormeJuridique] f
		where @codeFormeJuridique like '%'+f.codeFormeJuridique+'%'

		if(isnull(@CodeFormeJuridique ,'')='')
		begin
			exec [DB_OPCCIEL2].[Titre].[PS_FormeJuridique_IP]
				@codeFormeJuridique,
				@libelleFormeJuridique,
				@NumLigne,
				@userLogin,
				@dateDernModifClient,
				@CodeLangueS,
				@Sortie
		end

		select @IdSousCategorie=s.idSousCategorie
		from [DB_OPCCIEL2].[Titre].[T_SousCategorie] s
		where @libelleSousCategorie like '%'+s.libelleSousCategorie+'%'

		if(isnull(@IdSousCategorie ,0)=0)
		begin
			insert into [DB_OPCCIEL2].[Titre].[T_SousCategorie]
			(libelleSouscategorie,
			userLogin,
			dateDernModifClient)
			values(
				@libelleSousCategorie,
				@userLogin ,
				@dateDernModifClient )

			set @IdSousCategorie=SCOPE_IDENTITY()
		end
		
			exec [DB_OPCCIEL2].[Parametre].[PS_PersonneMorale_UP]
			@CapitalSocial ,
			@CodeFormeJuridique ,
			@NumeroAgrementPersonneMorale ,
			@NumeroINSAE ,
			@RaisonSociale ,
			@SiglePersonneMorale ,
			@adresseComplete ,
			@boitePostale ,
			@codeSecteur ,
			null ,
			@dateCreationPM ,
			@dateFermetureCompte,
			@email,
			null,
			0,
			0,
			0 ,
			0,
			0,
			@libelleSousCategorie,
			@motifFermetureCompte,
			@numCompteDepositaire,
			@NumCompteDepositaire_up,
			@numCompteSgi,
			null,
			@pieceFermetureCompte ,
			@SiglePersonneMorale ,
			null,
			@statutCompte ,
			@tauxRetroCourRach ,
			@tauxRetroCourSous ,
			@telephoneFixe,
			null ,
			@telephoneMobile1,
			@telephoneMobile2 ,
			@idPersonne,
			@idSousCategorie,
			null,
			--personne
			@CodeLangueS ,
			@CodePays ,
			@EstActifPersonne ,
			@LibelleTypePersonne,
			@codeCategorieClient,
			@codeSousTypeClient,
			null,
			@AdresseComplete,
			null,
			@email,
			null ,
			0,
			0,
			0,
			0,
			0,
			@Telephonefixe,
			null,
			null,
			@telephoneMobile1,
			@telephoneMobile2,
			null,
			null ,
			@numOrdre,
			null,
			0,
			0,
			0,
			0,
			null,
			null,
			null,
			null,
			null,
			null,
			@idPays,
			null,
			@idSecteur,
			@NumLigne,
			@Rowversion,
			@userLogin,
			@dateDernModifClient,
			@CodeLangueS,
			@Sortie

			-- Message de retour
			select  @Sortie=rtrim(ltrim(msgUser)) from Mouchard.T_Erreur where idErreur='4' and codeLangue=@codeLangueS 
			exec [Mouchard].[PS_ErreurInfo] '4',@CodeLangueS,@Sortie,@NumLigne,@Sortie output
		end
		commit tran act
	END TRY
	BEGIN CATCH
		rollback transaction
		-- Journalisation de l'erreur et message utilisateur
		EXECUTE [Mouchard].[PS_ErreurInfo] null, @CodeLangueS, null, null,@Sortie output
	END CATCH
END
GO
/****** Object:  StoredProcedure [Parametre].[PS_PersonnePhysique_DP]    Script Date: 29/02/2024 18:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
Auteur : 
Date Modification : 05/01/1980
Description : 
============================================= */
CREATE PROCEDURE [Parametre].[PS_PersonnePhysique_DP]
	@userLogin D_A_CODE_LONG,
	@dateDernModifClient D_T_DATEHEURE,
	@numLigne D_N_SEQ,
	@Rowversion timestamp,
	@CodeLangueS D_A_CODE,
	@Sortie D_A_TEXTE OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		--déclarations----------
		declare @supprimer  D_B_BOOLEEN, @version timestamp,@numCompteDepositaire varchar(255)
		--l'enregistrement n'existe pas ou est marqué supprimé
		SELECT  @supprimer=supprimer,@version=Rowvers,@numCompteDepositaire=numCompteDepositaire
		FROM [Parametre].[T_PersonnePhysique]
		WHERE numLigne=@numLigne
		IF(@@rowcount=0 or @supprimer=1)
			Begin
				Exec [Mouchard].[PS_ErreurInfo] '7',@CodeLangueS ,null,@numLigne,@Sortie output
				/*Rollback tran*/
				Return
			End
		--ctl de la version de l'enregistrement pour la gestion des accès concurrents
		IF(@version!=@Rowversion )
			raiserror (50004,-1,-1,'')  /*le numéro du message de conflit ds T_erreur est 50004*/
		ElSE
		Begin
			--suppression logique
				IF (isnull(@supprimer,0)=0)
					Begin
					 UPDATE [Parametre].[T_PersonnePhysique]
					SET supprimer = 1
						,[userLogin] = @userLogin
						,dateDernModifClient = @dateDernModifClient
						,dateDernModifServeur = getdate()
					WHERE numLigne=@numLigne
					select  @Sortie=rtrim(ltrim(msgUser)) from Mouchard.T_Erreur where idErreur='3' and codeLangue=@CodeLangueS 
					End
				Else
					--suppression Physique
					Begin
						DELETE FROM [Parametre].[T_PersonnePhysique]
						WHERE numLigne=@numLigne
						select  @Sortie=rtrim(ltrim(msgUser)) from Mouchard.T_Erreur where idErreur='6' and codeLangue=@CodeLangueS
					End
				-- Message de retour
				Exec [Mouchard].[PS_ErreurInfo] '2',@CodeLangueS ,@Sortie,@numLigne,@Sortie output

				exec [DB_OPCCIEL2].[Parametre].[PS_PersonnePhysique_DP]
				@userLogin,
				@dateDernModifClient,
				@numLigne,
				@numCompteDepositaire,
				@Rowversion,
				@CodeLangueS,
				@Sortie
			End
	END TRY
	BEGIN CATCH
		-- Journalisation de l'erreur et message utilisateur
		EXECUTE [Mouchard].[PS_ErreurInfo] null, @CodeLangueS, null, null,@Sortie output
	END CATCH
END
GO
/****** Object:  StoredProcedure [Parametre].[PS_PersonnePhysique_IP]    Script Date: 29/02/2024 18:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
Auteur : 
Date Modification : 05/01/1980
Description : 
============================================= */
CREATE PROCEDURE [Parametre].[PS_PersonnePhysique_IP]
	@IdPersonne D_N_SEQ ,
	@EstActifPersonne  D_B_BOOLEEN,
	@LibelleTypePersonne  D_A_LIB,
	@CodePays  D_A_CODE_LONG,	
	@libelleQualite D_A_LIB,	
	@Civilte  D_A_CODE_LONG,
	@Sexe  D_A_CODE_LONG,
	@NomPersonnePhysique  D_A_NOM,
	@PrenomPersonnePhysique  D_A_PRENOM,
	@DateNaissance  D_T_DATE,
	@CodePaysNaissance  D_A_LIB,
	@LieuNaissance  D_A_LIB,
	@EstMineur  D_B_BOOLEEN,
	@nomDeJeuneFille  D_A_NOM,
	@PhotoPersonnePhysique  D_A_PATH,
	@SignaturePersonnePhysique  D_A_PATH,
	@LibelleSecteurActivite  D_A_LIB,
	@LibelleProfession  D_A_LIB,	
	@numCompteDepositaire d_a_lib,
	
	@telephoneFixe	D_A_TEL,
	@telephoneMobile1	D_A_TEL,
	@telephoneMobile2	D_A_TEL,
	@email	D_A_MAIL,
	@boitePostale	D_A_MAIL,
	@adresseComplete	D_A_LIB,
	@typePieceIdentite	D_A_CODE_LONG,
	@numeroPiece	D_A_LIB,
	@dateExpirationPiece	D_T_DATEHEURE,
	@nomPrenomMere	D_A_NOM,
	
	@numCompteSgi D_A_CODE_LONG,
	
	@userLogin D_A_CODE_LONG,
	@dateDernModifClient D_T_DATEHEURE,
	@CodeLangueS D_A_CODE,
	@Sortie D_A_TEXTE OUTPUT,
	@tauxRetroCourSous	D_N_DECIMALX,
	@tauxRetroCourRach	D_N_DECIMALX,
	@codeCategorieClient	D_N_SEQ,
	@codeSousTypeClient	D_N_SEQ
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		begin tran act
		--déclarations----------
		DECLARE @Supprimer D_B_BOOLEEN, @NumLigne D_N_SEQ,@IdPays D_N_SEQ,@IdSecteur D_N_SEQ,@IdProf D_N_SEQ,@IdQualite D_N_SEQ
		--SELECT  @Supprimer=supprimer,@NumLigne=numLigne
		--FROM [Parametre].[T_PersonnePhysique]
		--WHERE  ltrim(rtrim(IdPersonne)) = ltrim(rtrim(@IdPersonne))
		--AND supprimer=1
		IF (@@ROWCOUNT>0)
			DELETE from [Parametre].[T_PersonnePhysique] where numLigne=@NumLigne
		---insertion dans T_PersonnePhysique
		
		DECLARE @numOrdre D_N_SEQ = 0
		SELECT @numOrdre = numOrdre
		FROM [dbo].[FT_NumOrdreClient] (@codeSousTypeClient)
		
		INSERT INTO [Parametre].[T_Personne]
			([EstActifPersonne]
			,[LibelleTypePersonne]
			,[CodePays]
			,[dateDernModifClient]
			,[userLogin]
			,[dateCreationServeur]
			,codeCategorieClient	
			,codeSousTypeClient
			,numOrdre)
			VALUES
			(@EstActifPersonne
			,@LibelleTypePersonne
			,@CodePays
			,@dateDernModifClient
			,@userLogin
			,getdate()
			,@codeCategorieClient	
			,@codeSousTypeClient
			,@numOrdre)
		set @IdPersonne=SCOPE_IDENTITY()
		
		INSERT INTO [Parametre].[T_PersonnePhysique]
			([IdPersonne]
			,[Civilte]
			,[Sexe]
			,[NomPersonnePhysique]
			,[PrenomPersonnePhysique]
			,[LibelleTypePersonne]
			,[DateNaissance]
			,[CodePaysNaissance]
			,[LieuNaissance]
			,[EstMineur]
			,[nomDeJeuneFille]
			,[PhotoPersonnePhysique]
			,[SignaturePersonnePhysique]
			,[LibelleSecteurActivite]
			,[LibelleProfession]
			,[EstActifPersonne]
			,[CodePays]
			,[dateDernModifClient]
			,[userLogin]
			,[dateCreationServeur]
			,numCompteDepositaire
			,telephoneFixe	
			,telephoneMobile1	
			,telephoneMobile2	
			,email	
			,boitePostale	
			,adresseComplete	
			,typePieceIdentite	
			,numeroPiece	
			,dateExpirationPiece	
			,nomPrenomMere
			,numCompteSgi
			,tauxRetroCourSous	
			,tauxRetroCourRach
			,dateFermetureCompte	
			,motifFermetureCompte	
			,pieceFermetureCompte	
			,statutCompte
			,codeCategorieClient	
			,codeSousTypeClient
			,numOrdre)
			VALUES
			(@IdPersonne
			,@Civilte
			,@Sexe
			,@NomPersonnePhysique
			,@PrenomPersonnePhysique
			,@LibelleTypePersonne
			,@DateNaissance
			,@CodePaysNaissance
			,@LieuNaissance
			,@EstMineur
			,@nomDeJeuneFille
			,@PhotoPersonnePhysique
			,@SignaturePersonnePhysique
			,@LibelleSecteurActivite
			,@LibelleProfession
			,@EstActifPersonne
			,@CodePays
			,@dateDernModifClient
			,@userLogin
			,getdate()
			,isnull(@numCompteDepositaire,'')
			,@telephoneFixe	
			,@telephoneMobile1	
			,@telephoneMobile2	
			,@email	
			,@boitePostale	
			,@adresseComplete	
			,@typePieceIdentite	
			,@numeroPiece	
			,@dateExpirationPiece	
			,@nomPrenomMere
			,isnull(@numCompteSgi,'')
			,@tauxRetroCourSous	
			,@tauxRetroCourRach,
			'01/01/3050',
			'',
			'',
			'OUVERT'
			,@codeCategorieClient	
			,@codeSousTypeClient
			,@numOrdre)
			
			INSERT INTO [Parametre].[T_QualitePersonnePhysique]
			([idPersonne]
			,[libelleQualite]
			,[dateDernModifClient]
			,[userLogin]
			,[dateCreationServeur])
			VALUES
			(@IdPersonne
			,@libelleQualite
			,@dateDernModifClient
			,@userLogin
			,getdate())

	select @IdPays=p.idPays from [DB_OPCCIEL2].[Parametre].T_Pays p
	where p.codePays=@CodePays;

	select @IdProf=p.idProf from [DB_OPCCIEL2].[Parametre].T_Profession p
	where @LibelleProfession like '%'+p.libelleProfession+'%';

	if(ISNULL(@IdProf,'0')=0)
	begin
		insert into [DB_OPCCIEL2].[Parametre].[T_Profession]
		([libelleProfession],
		[userLogin],
		[dateDernModifClient])
		values(
			@libelleProfession,
			@userLogin,
			@dateDernModifClient)
			set @IdProf=scope_identity()
	end

	select @IdSecteur=s.idSecteur from [DB_OPCCIEL2].[Parametre].T_Secteur s
	where @LibelleSecteurActivite like '%'+s.libelleSecteur+'%';

	if(ISNULL(@IdSecteur,'0')=0)
	begin
		insert into [DB_OPCCIEL2].[Parametre].[T_Secteur]
		([libelleSecteur],
		[userLogin],
		[dateDernModifClient])
		values(
			@LibelleSecteurActivite,
			@userLogin,
			@dateDernModifClient)
			set @IdSecteur=scope_identity()
	end

	exec [DB_OPCCIEL2].[Parametre].[PS_PersonnePhysique_IP]
	@Civilte,
	@CodePaysNaissance,
	@DateNaissance,
	@EstMineur,
	@LibelleProfession,
	@LibelleSecteurActivite,
	@LieuNaissance,
	@PhotoPersonnePhysique,
	@Sexe,
	@SignaturePersonnePhysique,
	@adresseComplete,
	null,
	null,
	null,
	0,
	@boitePostale,
	null,
	null,
	null,
	null,
	null,
	null,
	null,
	null,
	0,
	0,
	@NomPersonnePhysique,
	null,
	@nomDeJeuneFille,
	null,
	null,
	null,
	@nomPrenomMere,
	@numCompteDepositaire,
	@numCompteSgi,
	null,
	null,
	null,
	@PrenomPersonnePhysique,
	null,
	null,
	null,
	0,
	'OUVERT',
	null,
	0,
	@tauxRetroCourRach,
	@tauxRetroCourSous,
	null,
	null,
	@typePieceIdentite,
	@idPersonne,
	null,
	null,
	--nationalite
	@idPays,
	null,
	@idProf,
	null,
	--personne
	@CodeLangueS,
	@CodePays,
	@EstActifPersonne,
	@LibelleTypePersonne,
	@codeCategorieClient,
	@codeSousTypeClient,
	@dateExpirationPiece,
	@adresseComplete,
	null,
	null,
	@email,
	1,
	0,
	0,
	0,
	0,
	@telephoneFixe,
	null,
	null,
	@telephoneMobile1,
	@telephoneMobile2,
	null,
	null,
	@numOrdre,
	@numeroPiece,
	0,
	0,
	0,
	0,
	null,
	null,
	null,
	null,
	null,
	null,
	--residence
	@idPays,
	null,
	@idSecteur,
	@userLogin,
	@dateDernModifClient,
	@CodeLangueS,
	@Sortie
			
		select @IdQualite = q.idQualite from [DB_OPCCIEL2].[Parametre].T_Qualite q
		where @libelleQualite like '%'+q.libelleQualite +'%'
			
		select @IdPersonne=max(p.idPersonne) from [DB_OPCCIEL2].[Parametre].T_Personne p;

		if(isnull(@IdQualite ,0)>0)
		begin
			insert into [DB_OPCCIEL2].[Parametre].[TJ_StatutPersonne]
			(idPersonne,
			idQualite,
			idPersonnel,
			userLogin,
			dateDernModifClient)
			values(
			@idPersonne,
			@IdQualite,
			null,
			@userLogin,
			@dateDernModifClient)
		end
		else
		begin
			INSERT INTO [DB_OPCCIEL2].[Parametre].[T_Qualite]
			([libelleQualite]
			,[dateDernModifClient]
			,[userLogin]
			,[numLigne]
			,[dateCreationServeur])
			VALUES
			(@libelleQualite
			,@dateDernModifClient
			,@userLogin
			,0
			,getdate())

			set @IdQualite=SCOPE_Identity()

				insert into [DB_OPCCIEL2].[Parametre].[TJ_StatutPersonne]
			(idPersonne,
			idQualite,
			idPersonnel,
			userLogin,
			dateDernModifClient)
			values(
			@idPersonne,
			@IdQualite,
			null,
			@userLogin,
			@dateDernModifClient)
		end
		--Message de retour et journalisation
		set @NumLigne=@IdPersonne
		select  @Sortie=rtrim(ltrim(msgUser)) from Mouchard.T_Erreur where idErreur='2' and codeLangue=@CodeLangueS 
		exec [Mouchard].[PS_ErreurInfo] '2',@CodeLangueS,@Sortie,@NumLigne,@Sortie output
		commit tran act
	END TRY
	BEGIN CATCH
		rollback transaction
		-- Journalisation de l'erreur et message utilisateur
		EXECUTE [Mouchard].[PS_ErreurInfo] null, @CodeLangueS, null, null,@Sortie output
	END CATCH
END
GO
/****** Object:  StoredProcedure [Parametre].[PS_PersonnePhysique_UP]    Script Date: 29/02/2024 18:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
Auteur : 
Date Modification : 05/01/1980
Description : 
============================================= */
CREATE PROCEDURE [Parametre].[PS_PersonnePhysique_UP]	
	@IdPersonne D_N_SEQ ,
	@EstActifPersonne  D_B_BOOLEEN,
	@LibelleTypePersonne  D_A_LIB,
	@CodePays  D_A_CODE_LONG,	
	@Civilte  D_A_CODE_LONG,
	@Sexe  D_A_CODE_LONG,
	@NomPersonnePhysique  D_A_NOM,
	@PrenomPersonnePhysique  D_A_PRENOM,
	@DateNaissance  D_T_DATE,
	@CodePaysNaissance  D_A_LIB,
	@LieuNaissance  D_A_LIB,
	@EstMineur  D_B_BOOLEEN,
	@nomDeJeuneFille  D_A_NOM,
	@PhotoPersonnePhysique  D_A_PATH,
	@SignaturePersonnePhysique  D_A_PATH,
	@LibelleSecteurActivite  D_A_LIB,
	@LibelleProfession  D_A_LIB,	
	@numCompteDepositaire d_a_lib,
	@telephoneFixe	D_A_TEL,
	@telephoneMobile1	D_A_TEL,
	@telephoneMobile2	D_A_TEL,
	@email	D_A_MAIL,
	@boitePostale	D_A_MAIL,
	@adresseComplete	D_A_LIB,
	@typePieceIdentite	D_A_CODE_LONG,
	@numeroPiece	D_A_LIB,
	@dateExpirationPiece	D_T_DATEHEURE,
	@nomPrenomMere	D_A_NOM,
	@numCompteSgi D_A_CODE_LONG,
	@NumLigne D_N_SEQ,
	@Rowversion timestamp,
	@userLogin D_A_CODE_LONG,
	@dateDernModifClient D_T_DATEHEURE,
	@CodeLangueS D_A_CODE,
	@Sortie D_A_TEXTE OUTPUT,
	@tauxRetroCourSous	D_N_DECIMALX,
	@tauxRetroCourRach	D_N_DECIMALX,
	@dateFermetureCompte	D_T_DATEHEURE,
	@motifFermetureCompte	D_A_LIB,
	@pieceFermetureCompte	D_A_PATH,
	@statutCompte	D_A_LIB,
	@codeCategorieClient	D_N_SEQ,
	@codeSousTypeClient	D_N_SEQ
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		begin tran act
		--déclarations----------
		declare  @supprimer  D_B_BOOLEEN, @version timestamp,@NumCompteDepositaire_up varchar(255),@IdProf D_N_SEQ,@IdSecteur D_N_SEQ,@IdPays D_N_SEQ
		--verification de l'etat de l'enregistrement
		SELECT  @supprimer=supprimer,@version=Rowvers,@NumCompteDepositaire_up=numCompteDepositaire
		FROM [Parametre].[T_PersonnePhysique]
		WHERE numLigne=@numLigne
		IF(@@rowcount=0 or @supprimer=1)
			Begin
				Exec [Mouchard].[PS_ErreurInfo] '7',@CodeLangueS ,null,@numLigne,@Sortie output
				/*Rollback tran*/
				Return
			End
		--ctl de la version de l'enregistrement pour la gestion des accès concurrents
		IF(@version!=@Rowversion )
			raiserror (50004,-1,-1, '')  /*le numéro du message de conflit ds T_erreur est 50004*/
		ElSE
		Begin
			DECLARE @numOrdre D_N_SEQ = 0
			SELECT @numOrdre = numOrdre
			FROM [dbo].[FT_NumOrdreClient] (@codeSousTypeClient)
				
			UPDATE [Parametre].[T_Personne]
			SET	[EstActifPersonne] = @EstActifPersonne
				,[LibelleTypePersonne] = @LibelleTypePersonne
				,[CodePays] = @CodePays
				,[dateDernModifClient] = @dateDernModifClient
				,[dateDernModifServeur] =getdate()
				,[userLogin] = @userLogin
				,codeCategorieClient=@codeCategorieClient	
				,codeSousTypeClient=@codeSousTypeClient	
				,numOrdre = (CASE WHEN numOrdre = 0 THEN @numOrdre ELSE numOrdre END)
			WHERE  IdPersonne=@IdPersonne
			
			UPDATE [Parametre].[T_PersonnePhysique]
			SET [Civilte] = @Civilte
				,[Sexe] = @Sexe
				,[NomPersonnePhysique] = @NomPersonnePhysique
				,[PrenomPersonnePhysique] = @PrenomPersonnePhysique
				,[DateNaissance] = @DateNaissance
				,[CodePaysNaissance] = @CodePaysNaissance
				,[LieuNaissance] = @LieuNaissance
				,[EstMineur] = @EstMineur
				,[LibelleTypePersonne]=@LibelleTypePersonne
				,[nomDeJeuneFille] = @nomDeJeuneFille
				,[PhotoPersonnePhysique] = @PhotoPersonnePhysique
				,[SignaturePersonnePhysique] = @SignaturePersonnePhysique
				,[LibelleSecteurActivite] = @LibelleSecteurActivite
				,[LibelleProfession] = @LibelleProfession
				,[EstActifPersonne] = @EstActifPersonne
				,[CodePays] = @CodePays
				,[dateDernModifClient] = @dateDernModifClient
				,[dateDernModifServeur] =getdate()
				,[userLogin] = @userLogin
				,numCompteDepositaire = @numCompteDepositaire
				,telephoneFixe	= @telephoneFixe
				,telephoneMobile1 = @telephoneMobile1
				,telephoneMobile2= @telephoneMobile2
				,email	= @email
				,boitePostale	= @boitePostale
				,adresseComplete	= @adresseComplete
				,typePieceIdentite	=@typePieceIdentite
				,numeroPiece	=@numeroPiece
				,dateExpirationPiece	=@dateExpirationPiece
				,nomPrenomMere	=@nomPrenomMere
				,numCompteSgi=@numCompteSgi
				,tauxRetroCourSous	= @tauxRetroCourSous
				,tauxRetroCourRach = @tauxRetroCourRach
				,dateFermetureCompte=@dateFermetureCompte	
				,motifFermetureCompte=@motifFermetureCompte	
				,pieceFermetureCompte=@pieceFermetureCompte	
				,statutCompte=@statutCompte	
				,codeCategorieClient=@codeCategorieClient	
				,codeSousTypeClient=@codeSousTypeClient	
				,numOrdre = (CASE WHEN numOrdre = 0 THEN @numOrdre ELSE numOrdre END)
			WHERE  numLigne=@NumLigne

			select @IdPays=p.idPays from [DB_OPCCIEL2].[Parametre].T_Pays p
	where p.codePays=@CodePays;

	select @IdProf=p.idProf from [DB_OPCCIEL2].[Parametre].T_Profession p
	where @LibelleProfession like '%'+p.libelleProfession+'%';

	if(ISNULL(@IdProf,'0')=0)
	begin
		insert into [DB_OPCCIEL2].[Parametre].[T_Profession]
		([libelleProfession],
		[userLogin],
		[dateDernModifClient])
		values(
			@libelleProfession,
			@userLogin,
			@dateDernModifClient)
			set @IdProf=scope_identity()
	end

	select @IdSecteur=s.idSecteur from [DB_OPCCIEL2].[Parametre].T_Secteur s
	where @LibelleSecteurActivite like '%'+s.libelleSecteur+'%';

	if(ISNULL(@IdSecteur,'0')=0)
	begin
		insert into [DB_OPCCIEL2].[Parametre].[T_Secteur]
		([libelleSecteur],
		[userLogin],
		[dateDernModifClient])
		values(
			@LibelleSecteurActivite,
			@userLogin,
			@dateDernModifClient)
			set @IdSecteur=scope_identity()
	end

		exec	[DB_OPCCIEL2].[Parametre].[PS_PersonnePhysique_UP]
		@Civilte,
		@CodePaysNaissance,
		@DateNaissance,
		@EstMineur,
		@LibelleProfession,
		@LibelleSecteurActivite,
		@LieuNaissance,
		@NomPersonnePhysique,
		@PhotoPersonnePhysique,
		@PrenomPersonnePhysique,
		@Sexe,
		@SignaturePersonnePhysique,
		@adresseComplete,
		null,
		null,
		null,
		0,
		@boitePostale,
		@dateFermetureCompte,
		null,
		null,
		null,
		@email,
		null,
		null,
		null,
		@motifFermetureCompte,
		0,
		0,
		@NomPersonnePhysique,
		null,
		@nomDeJeuneFille,
		null,
		null,
		null,
		@nomPrenomMere,
		@numCompteDepositaire,
		@NumCompteDepositaire_up,
		@numCompteSgi,
		null,
		null,
		@pieceFermetureCompte,
		@PrenomPersonnePhysique,
		null,
		null,
		null,
		0,
		@statutCompte,
		null,
		0,
		@tauxRetroCourRach,
		@tauxRetroCourSous,
		null,
		@telephoneFixe,
		@telephoneMobile1,
		@telephoneMobile2,
		null,
		@typePieceIdentite,
		@idPersonne,
		null,
		null,
		@idPays,
		null,
		@idProf,
		null,
		--personne
		@CodeLangueS,
		@CodePays ,
		@EstActifPersonne,
		@LibelleTypePersonne,
		@codeCategorieClient,
		@codeSousTypeClient,
		@dateExpirationPiece,
		@adresseComplete ,
		null,
		@email,
		null ,
		0 ,
		0 ,
		0 ,
		0 ,
		0 ,
		@telephoneFixe,
		null,
		null,
		@telephoneMobile1 ,
		@telephoneMobile2 ,
		null ,
		null ,
		@numOrdre ,
		@numeroPiece,
		0 ,
		0 ,
		0 ,
		0 ,
		null ,
		null ,
		null ,
		@typePieceIdentite ,
		null,
		null,
		@idPays,
		null,
		@idSecteur,
		@NumLigne,
		@Rowversion,
		@userLogin,
		@dateDernModifClient,
		@CodeLangueS,
		@Sortie
			-- Message de retour
			select  @Sortie=rtrim(ltrim(msgUser)) from Mouchard.T_Erreur where idErreur='4' and codeLangue=@CodeLangueS 
			exec [Mouchard].[PS_ErreurInfo] '4',@CodeLangueS,@Sortie,@NumLigne,@Sortie output			
		end
		commit tran act
	END TRY
	BEGIN CATCH
		rollback transaction
		-- Journalisation de l'erreur et message utilisateur
		EXECUTE [Mouchard].[PS_ErreurInfo] null, @CodeLangueS, null, null,@Sortie output
	END CATCH
END
GO
