USE [DB_OPCCIEL]
GO
/****** Object:  StoredProcedure [Operation].[PS_OperationSouscriptionRachat_SP_OPCCIEL2]    Script Date: 11/12/2024 18:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
Auteur : GAUTHE Candide
Date Modification : 19/12/2014
Description : 
============================================= */
CREATE PROCEDURE [Operation].[PS_OperationSouscriptionRachat_SP_OPCCIEL2]
	@idOpcvm  D_N_SEQ
	,@codeNatureOperation D_A_LIB
	,@dateDebut  D_T_DATEHEURE
	,@dateFin  D_T_DATEHEURE
	,@supprimer D_B_BOOLEEN
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		SELECT	ora.[idOperation]
			,ora.[idTransaction]
			,ora.[idSeance]
			,ora.[idActionnaire]
			,ISNULL(ph.numCompteSgi,pm.numCompteSgi) as numCompteSgi
			,ISNULL(NomPersonnePhysique,SiglePersonneMorale) as nomSigle
			,isnull(PrenomPersonnePhysique,RaisonSociale) as prenomRaison
			,ISNULL(ph.email,pm.email) as mail
			,/*ISNULL(case when ltrim(rtrim(ph.telephoneFixe))!='' then ltrim(rtrim(ph.telephoneFixe)) else '' end +
					case when ltrim(rtrim(ph.telephoneMobile1))!='' then '/'+ltrim(rtrim(ph.telephoneMobile1)) else '' end +
					case when ltrim(rtrim(ph.telephoneMobile2))!='' then '/'+ltrim(rtrim(ph.telephoneMobile2)) else '' end ,
					case when ltrim(rtrim(pm.telephoneFixe))!='' then ltrim(rtrim(pm.telephoneFixe)) else '' end +
					case when ltrim(rtrim(pm.telephoneMobile1))!='' then '/'+ltrim(rtrim(pm.telephoneMobile1)) else '' end +
					case when ltrim(rtrim(pm.telephoneMobile2))!='' then '/'+ltrim(rtrim(pm.telephoneMobile2)) else '' end )*/
					ISNULL(ltrim(rtrim(ph.telephoneMobile1)),ltrim(rtrim(pm.telephoneMobile1))) as phone
			,ora.[idOpcvm]
			,opcvm.denominationOpcvm
			,ora.[idPersonne]
			,ora.[codeNatureOperation]
			,ora.[dateOperation]
			,ora.[libelleOperation]
			,ora.[dateSaisie]
			,ora.[datePiece]
			,ora.[dateValeur]
			,ora.[referencePiece]
			,ora.[montantSousALiquider]
			,ora.[SousRachatPart]
			,ora.[commisiionSousRachat]
			,ora.[TAFCommissionSousRachat]
			,ora.[retrocessionSousRachat]
			,ora.[TAFRetrocessionSousRachat]
			,ora.[commissionSousRachatRetrocedee]
			,isnull(ora.[modeValeurLiquidative],'') as [modeValeurLiquidative]
			,so.valeurLiquidative/* ora.[coursVL]*/ [coursVL]
			,ora.[nombrePartSousRachat]
			,ora.[regulResultatExoEnCours]
			,ora.[regulSommeNonDistribuable]
			,ora.[regulReportANouveau]
			,ora.[regulautreResultatBeneficiaire]
			,ora.[regulautreResultatDeficitaire]
			,ora.[regulResultatEnInstanceBeneficiaire]
			,ora.[regulResultatEnInstanceDeficitaire]
			,ora.[regulExoDistribution]
			,ora.[fraisSouscriptionRachat]
			,ora.[reste]
			,ora.[quantiteSouhaite]
			,ora.[montantDepose]
			,ora.[montantConvertiEnPart]
			,ora.[estRetrocede]
			,ora.[resteRembourse]
			,ora.[rachatPaye]
			,ora.[ecriture]
			,ora.[numLigne]
			,ora.[dateCreationServeur]
			,ora.[dateDernModifServeur]
			,ora.[dateDernModifClient]
			,ora.[userLogin]
			,ora.[supprimer]
			,ora.[rowvers]
		FROM [Operation].[T_OperationSouscriptionRachat] ora
			left outer join Parametre.T_PersonnePhysique ph
				on ph.IdPersonne = ora.idActionnaire
			left outer join Parametre.T_PersonneMorale pm
				on pm.IdPersonne = ora.idActionnaire
			inner join Parametre.T_Opcvm opcvm
				on ora.idOpcvm=opcvm.idOpcvm
			inner join Parametre.TJ_SeanceOpcvm so
				on so.idOpcvm=ora.idOpcvm
				and so.idSeance=ora.idSeance
		WHERE (ora.idOpcvm = @idOpcvm or @idOpcvm is null)
		AND  (ltrim(rtrim(ora.codeNatureOperation)) = ltrim(rtrim(@codeNatureOperation)) or @codeNatureOperation is null)
		AND  ((cast(ora.dateOperation as Date) between cast(@dateDebut as Date) and @dateFin) or @dateDebut is null)	
		AND  (ora.supprimer = @supprimer or @supprimer is null)
	END TRY
	BEGIN CATCH
	END CATCH
END



/*

exec [Operation].[PS_OperationSouscriptionRachat_SP_op2]
	8,null,null,null,0
	

*/
GO
