USE [DB_OPCCIEL]
GO
/****** Object:  StoredProcedure [Impression].[PS_ALPHA_SP]    Script Date: 03/12/2024 16:04:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [Impression].[PS_ALPHA_SP](@IdOpcvm D_N_SEQ,@AnneeDebut D_A_LIB,@AnneeFin D_A_LIB)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	declare @tableRetour table(DateFermeture D_T_DATE,
						VL D_N_DECIMALX,
						DividendeDistribue D_N_DECIMALX,
						PerformanceAnnuelle D_N_DECIMALX,
						IndiceReference D_N_DECIMALX,
						Alpha D_N_DECIMALX,
						IdSeance D_N_SEQ)

	declare @tableValeur table(DateFermeture D_T_DATE,
						VL D_N_DECIMALX,
						DividendeDistribue D_N_DECIMALX,
						PerformanceAnnuelle D_N_DECIMALX,
						IndiceReference D_N_DECIMALX,
						Alpha D_N_DECIMALX)
	declare @tableVL table(Annee D_A_LIB,
						dateFermeture D_T_DATE,
						VL D_N_DECIMALX,						
						Nbre D_N_SEQ
						)

	declare @tableDividende table(sigleOpcvm D_A_LIB,
						denominationOpcvm D_A_LIB,
						dividende D_N_DECIMALX,
						dateDividende D_T_DATE,
						vl D_N_DECIMALX,
						rendement D_N_DECIMALX
						)
	insert @tableVL	
	select year(so.dateFermeture) as Annee,
			so.dateFermeture,
			valeurLiquidative as VL,
			so.idSeance as Nbre
	from DB_OPCCIEL.Parametre.TJ_SeanceOpcvm so
	where so.idOpcvm=@IdOpcvm
	and so.dateFermeture between convert(datetime,'01/01/'+@AnneeDebut) and convert(datetime,'31/12/'+@AnneeFin+' 23:59:59')
	and so.supprimer=0
	group by year(so.dateFermeture),idOpcvm,dateFermeture,valeurLiquidative,idSeance
	

	insert @tableDividende
	select d.sigleOpcvm,
			d.denominationOpcvm,
			d.dividende,
			d.dateDividende,
			d.vl,
			d.rendement
	from DB_OPCCIEL.Impressions.FT_DividendeDistribuee1(@IdOpcvm,'01/01/'+@AnneeDebut,'31/12/'+@AnneeFin+' 23:59:59') d

	declare @l int=@AnneeDebut
	declare @k int=1
	declare @vlAvant D_N_DECIMALX

	declare @dateFermeture D_T_DATEHEURE,@VL D_N_DECIMALX,@Nbre D_N_SEQ,@Annee D_A_LIB,@Dividende D_N_DECIMALX
	,@Performance D_N_DECIMALX,@tauxRendement D_N_DECIMALX,@Alpha D_N_DECIMALX,@NbreDividende D_N_SEQ

	select @tauxRendement=o.tauxRendement
	from DB_OPCCIEL.Parametre.T_Opcvm o
	where o.idOpcvm=@IdOpcvm

	while @l<=@AnneeFin
	begin
		declare curseur_Affichage cursor for
		select top 1 tvl.dateFermeture,tvl.VL,tvl.Nbre,tvl.Annee
		from @tableVL tvl
		where tvl.Annee=@l
		order by Nbre desc

		OPEN curseur_Affichage
 
		FETCH curseur_Affichage INTO @dateFermeture,
									@VL,
									@Nbre,
									@Annee		
		WHILE @@FETCH_STATUS = 0
		BEGIN		
			select @NbreDividende=count(td.dividende)
			from @tableDividende td
			where year(td.dateDividende)=@l

			set @Dividende=0
			if(@NbreDividende!=0)
			begin
				select @Dividende=isnull(td.dividende,0)
				from @tableDividende td
				where year(td.dateDividende)=@l
			end

			if(@k=1)
			begin
				select top 1 @vlAvant=so.valeurLiquidative
				from DB_OPCCIEL.Parametre.TJ_SeanceOpcvm so
				where year(so.dateFermeture)=@l-1
				and idOpcvm=@IdOpcvm
				and so.supprimer=0
				order by idSeance desc
			end	
			if(@vlAvant is  not null)
			begin
				set @Performance=(((@VL+@Dividende)/@vlAvant)-1)*100
			end
			else
			begin
				set @Performance=0
			end

			set @Alpha=@Performance-@tauxRendement

			insert into @tableRetour(dateFermeture,
						VL,
						DividendeDistribue,
						PerformanceAnnuelle,
						IndiceReference,
						Alpha,
						IdSeance)
						values(
						@dateFermeture,
						@vlAvant,
						@Dividende,
						@Performance,
						@tauxRendement,
						@Alpha,
						@Nbre)
		FETCH curseur_Affichage INTO @dateFermeture,
								@VL,
								@Nbre,
								@Annee

		END
		CLOSE curseur_Affichage
		DEALLOCATE curseur_Affichage
		set @vlAvant=@VL
		set @l+=1
		set @k+=1
	end

	select tr.DateFermeture,
			tr.VL,
			tr.DividendeDistribue,
			round(tr.PerformanceAnnuelle,2) as PerformanceAnnuelle,
			tr.IndiceReference,
			round(tr.Alpha,2) as Alpha
	from @tableRetour tr
	order by tr.IdSeance asc
END
GO
/****** Object:  StoredProcedure [Impression].[PS_BETA_SP]    Script Date: 03/12/2024 16:04:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [Impression].[PS_BETA_SP](@IdOpcvm D_N_SEQ,@DateDebut D_T_DATEHEURE,@DateFin D_T_DATEHEURE)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	declare @tableRetour table(
						DenominationOpcvm D_A_LIB,
						DateFermeture D_T_DATE,
						VL D_N_DECIMALX,
						NAV D_N_DECIMALX,						
						PerformancePortefeuille D_N_DECIMALX,
						PerformanceBenchMark D_N_DECIMALX,
						Beta D_N_DECIMALX,
						Xi D_N_DECIMALX,
						Yi D_N_DECIMALX)
	
	declare @tableCorrelation table(
						DenominationOpcvm D_A_LIB,
						DateFermeture D_T_DATE,
						VL D_N_DECIMALX,
						NAV D_N_DECIMALX,
						PerformancePortefeuille D_N_DECIMALX,
						PerformanceBenchMark D_N_DECIMALX,
						Correlation D_N_DECIMALX,
						Xi D_N_DECIMALX,
						Yi D_N_DECIMALX)

	insert @tableRetour	
	select 
			op.denominationOpcvm,
			so.dateFermeture,
			so.valeurLiquidative,
			so.navBenchmark,											
			CASE WHEN so1.idSeance IS NOT NULL THEN
                            (ISNULL(so.valeurLiquidative, 0)/ISNULL(so1.valeurLiquidative, 0))-1
                    ELSE 0 END,
			CASE WHEN so1.idSeance IS NOT NULL THEN
                            (ISNULL(so.navBenchmark, 0)/ISNULL(so1.navBenchmark, 0))-1
                    ELSE 0 END,
					0,
					0,
					0
	from Parametre.TJ_SeanceOpcvm so
	left outer join Parametre.TJ_SeanceOpcvm so1 on so.idOpcvm=so1.idOpcvm and so.idSeance=so1.idSeance+1
	inner join Parametre.T_Opcvm op on op.idOpcvm=so.idOpcvm
	where so.idOpcvm=@IdOpcvm
	AND (CAST(so.dateFermeture AS DATE) BETWEEN CAST(@dateDebut AS DATE) AND CAST(@dateFin AS DATE))
    AND (CAST(so1.dateFermeture AS DATE) BETWEEN CAST(@dateDebut AS DATE) AND CAST(@dateFin AS DATE))
	order by so.dateFermeture ASC
	
	declare @sommebenchMark numeric(38, 20),@sommePortefeuille numeric(38, 20),
	@XMi D_N_DECIMALX,@YMi D_N_DECIMALX,@Beta D_N_DECIMALX,@total D_N_SEQ,@dateFermeture D_T_DATEHEURE,
	@vlN D_N_DECIMALX,@NAV D_N_DECIMALX,@perfomencePortefeuille D_N_DECIMALX,@perfomenceBenchmark D_N_DECIMALX,@correlation D_N_DECIMALX,
	@EcartTypeOpcvm D_N_DECIMALX,@EcartTypeBenchMark D_N_DECIMALX,@volatiliteOpcvm D_N_DECIMALX,@volatiliteBenchMark D_N_DECIMALX
	select @XMi=sum(tr.PerformancePortefeuille),@YMi=sum(tr.PerformanceBenchMark),@total=count(tr.DateFermeture)
	from @tableRetour tr

	if(@total!=0)
	begin
		set @XMi=@XMi/@total
		set @YMi=@YMi/@total
	end
	else
	begin
		set @XMi=0		
		set @YMi=0
	end 
	
	select @sommePortefeuille=sum(power((tr.PerformancePortefeuille-@XMi),2)),@sommebenchMark=sum(power((tr.PerformanceBenchMark-@YMi),2))
	from @tableRetour tr	

	insert @tableCorrelation
	exec Impression.PS_CORRELATION_SP @idOpcvm,@Datedebut,@DateFin

	select top 1 @correlation=tc.Correlation from @tableCorrelation tc

	if(@total!=0)
	begin
		set @EcartTypeOpcvm=sqrt(@sommePortefeuille/@total)
		set @EcartTypeBenchMark=sqrt(@sommebenchMark/@total)
		set @volatiliteOpcvm=@EcartTypeOpcvm*sqrt(251)
		set @volatiliteBenchMark=@EcartTypeBenchMark*sqrt(251)

		if(@volatiliteBenchMark!=0)
		begin
			set @Beta=@correlation*@volatiliteOpcvm/@volatiliteBenchMark
		end
		else
			set @Beta=0
	end
	else
		set @Beta=0

	update @tableRetour
	set Beta=@Beta,
	Xi=@XMi,
	Yi=@YMi
	
	select  tr.DenominationOpcvm,
			tr.DateFermeture,
			tr.VL,
			tr.NAV,
			tr.PerformancePortefeuille,
			tr.PerformanceBenchMark,			
			@EcartTypeBenchMark as EcartTypeBenchmark,
			@EcartTypeOpcvm as EcartTypeOpcvm,
			@volatiliteBenchMark as volatiliteBenchMark,
			@volatiliteOpcvm as volatiliteOpcvm,
			tr.Beta as Beta
	from @tableRetour tr
	--select sum((tr.PerformancePortefeuille-@XMi)*(tr.PerformanceBenchMark-@YMi)),(sum(power(tr.PerformancePortefeuille-@XMi,2))),sum(power(tr.PerformanceBenchMark-@YMi,2))
	--from @tableRetour tr
END
GO
/****** Object:  StoredProcedure [Impression].[PS_CORRELATION_SP]    Script Date: 03/12/2024 16:04:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [Impression].[PS_CORRELATION_SP](@IdOpcvm D_N_SEQ,@DateDebut D_T_DATEHEURE,@DateFin D_T_DATEHEURE)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	declare @tableRetour table(
						DenominationOpcvm D_A_LIB,
						DateFermeture D_T_DATE,
						VL D_N_DECIMALX,
						NAV D_N_DECIMALX,
						PerformancePortefeuille D_N_DECIMALX,
						PerformanceBenchMark D_N_DECIMALX,
						Correlation D_N_DECIMALX,
						Xi D_N_DECIMALX,
						Yi D_N_DECIMALX)

	insert @tableRetour	
	select 
			op.denominationOpcvm,
			so.dateFermeture,
			so.valeurLiquidative,
			so.navBenchmark,		
			CASE WHEN so1.idSeance IS NOT NULL THEN
                            (ISNULL(so.valeurLiquidative, 0)/ISNULL(so1.valeurLiquidative, 0))-1
                    ELSE 0 END,					
			CASE WHEN so1.idSeance IS NOT NULL THEN
                            (ISNULL(so.navBenchmark, 0)/ISNULL(so1.navBenchmark, 0))-1
                    ELSE 0 END,
					0,
					0,
					0
	from Parametre.TJ_SeanceOpcvm so
	left outer join Parametre.TJ_SeanceOpcvm so1 on so.idOpcvm=so1.idOpcvm and so.idSeance=so1.idSeance+1
	inner join Parametre.T_Opcvm op on op.idOpcvm=so.idOpcvm
	where so.idOpcvm=@IdOpcvm
	AND (CAST(so.dateFermeture AS DATE) BETWEEN CAST(@dateDebut AS DATE) AND CAST(@dateFin AS DATE))
    AND (CAST(so1.dateFermeture AS DATE) BETWEEN CAST(@dateDebut AS DATE) AND CAST(@dateFin AS DATE))
	order by so.dateFermeture ASC
	
	declare @squareRoot numeric(38, 20),@numerateur numeric(38, 20),
	@XMi D_N_DECIMALX,@YMi D_N_DECIMALX,@correlation D_N_DECIMALX,@total D_N_SEQ,@dateFermeture D_T_DATEHEURE,
	@vlN D_N_DECIMALX,@NAV D_N_DECIMALX,@perfomencePortefeuille D_N_DECIMALX,@perfomenceBenchmark D_N_DECIMALX,
	@XMi2 D_N_DECIMALX,@YMi2 D_N_DECIMALX
	select @XMi=sum(tr.PerformancePortefeuille),@YMi=sum(tr.PerformanceBenchMark),@total=count(tr.DateFermeture)
	from @tableRetour tr

	if(@total!=0)
	begin
		set @XMi=@XMi/@total
		set @YMi=@YMi/@total
	end
	else
	begin
		set @XMi=0
		set @YMi=0
	end 
	
	select @numerateur=sum((tr.PerformancePortefeuille-@XMi)*(tr.PerformanceBenchMark-@YMi)),@XMi2=(sum(power(tr.PerformancePortefeuille-@XMi,2))),
	@YMi2=(sum(power(tr.PerformanceBenchMark-@YMi,2)))
	from @tableRetour tr
	set @squareRoot=sqrt(@XMi2*@YMi2)

	if(@squareRoot!=0)
	begin
		set @correlation=@numerateur/@squareRoot
	end
	else
		set @correlation=0

	update @tableRetour
	set Correlation=@correlation,
	Xi=@XMi,
	Yi=@YMi
	
	select  tr.DenominationOpcvm,
			tr.DateFermeture,
			tr.VL,
			tr.NAV,
			tr.PerformancePortefeuille,
			tr.PerformanceBenchMark,
			ROUND(tr.Correlation,3) as Correlation,
			tr.Xi,
			tr.Yi
	from @tableRetour tr
	--select sum((tr.PerformancePortefeuille-@XMi)*(tr.PerformanceBenchMark-@YMi)),(sum(power(tr.PerformancePortefeuille-@XMi,2))),sum(power(tr.PerformanceBenchMark-@YMi,2))
	--from @tableRetour tr
END
GO
/****** Object:  StoredProcedure [Impression].[PS_COVARIANCE_SP]    Script Date: 03/12/2024 16:04:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [Impression].[PS_COVARIANCE_SP](@IdOpcvm D_N_SEQ,@DateDebut D_T_DATEHEURE,@DateFin D_T_DATEHEURE)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	declare @tableRetour table(
						DenominationOpcvm D_A_LIB,
						DateFermeture D_T_DATE,
						VL D_N_DECIMALX,
						NAV D_N_DECIMALX,
						PerformancePortefeuille D_N_DECIMALX,
						PerformanceBenchMark D_N_DECIMALX,
						Covariance D_N_DECIMALX,
						Xi D_N_DECIMALX,
						Yi D_N_DECIMALX)

	insert @tableRetour	
	select 
			op.denominationOpcvm,
			so.dateFermeture,
			so.valeurLiquidative,
			so.navBenchmark,		
			CASE WHEN so1.idSeance IS NOT NULL THEN
                            (ISNULL(so.valeurLiquidative, 0)/ISNULL(so1.valeurLiquidative, 0))-1
                    ELSE 0 END,					
			CASE WHEN so1.idSeance IS NOT NULL THEN
                            (ISNULL(so.navBenchmark, 0)/ISNULL(so1.navBenchmark, 0))-1
                    ELSE 0 END,
					0,
					0,
					0
	from Parametre.TJ_SeanceOpcvm so
	left outer join Parametre.TJ_SeanceOpcvm so1 on so.idOpcvm=so1.idOpcvm and so.idSeance=so1.idSeance+1
	inner join Parametre.T_Opcvm op on op.idOpcvm=so.idOpcvm
	where so.idOpcvm=@IdOpcvm
	AND (CAST(so.dateFermeture AS DATE) BETWEEN CAST(@dateDebut AS DATE) AND CAST(@dateFin AS DATE))
    AND (CAST(so1.dateFermeture AS DATE) BETWEEN CAST(@dateDebut AS DATE) AND CAST(@dateFin AS DATE))
	order by so.dateFermeture ASC
	
	declare @squareRoot numeric(38, 20),@sommeMoyenne numeric(38, 20),
	@XMi D_N_DECIMALX,@YMi D_N_DECIMALX,@Covariance D_N_DECIMALX,@total D_N_SEQ,@dateFermeture D_T_DATEHEURE,
	@vlN D_N_DECIMALX,@NAV D_N_DECIMALX,@perfomencePortefeuille D_N_DECIMALX,@perfomenceBenchmark D_N_DECIMALX,
	@XMi2 D_N_DECIMALX,@YMi2 D_N_DECIMALX
	select @XMi=sum(tr.PerformancePortefeuille),@YMi=sum(tr.PerformanceBenchMark),@total=count(tr.DateFermeture)
	from @tableRetour tr

	if(@total!=0)
	begin
		set @XMi=@XMi/@total
		set @YMi=@YMi/@total
	end
	else
	begin
		set @XMi=0
		set @YMi=0
	end 
	
	select @sommeMoyenne=sum((tr.PerformancePortefeuille-@XMi)*(tr.PerformanceBenchMark-@YMi))
	from @tableRetour tr	

	if(@total!=0)
	begin
		set @Covariance=@sommeMoyenne/@total
	end
	else
		set @Covariance=0

	update @tableRetour
	set Covariance=@Covariance,
	Xi=@XMi,
	Yi=@YMi
	
	select  tr.DenominationOpcvm,
			tr.DateFermeture,
			tr.VL,
			tr.NAV,
			tr.PerformancePortefeuille,
			tr.PerformanceBenchMark,
			tr.Covariance as Covariance,
			tr.Xi,
			tr.Yi
	from @tableRetour tr
	--select sum((tr.PerformancePortefeuille-@XMi)*(tr.PerformanceBenchMark-@YMi)),(sum(power(tr.PerformancePortefeuille-@XMi,2))),sum(power(tr.PerformanceBenchMark-@YMi,2))
	--from @tableRetour tr
END
GO
/****** Object:  StoredProcedure [Impression].[PS_RATIOSHARP_SP]    Script Date: 03/12/2024 16:04:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [Impression].[PS_RATIOSHARP_SP](@IdOpcvm D_N_SEQ,@AnneeDebut D_A_LIB,@AnneeFin D_A_LIB)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	declare @tableRetour table(dateFermeture D_T_DATE,
						VL D_N_DECIMALX,
						DividendeDistribue D_N_DECIMALX,
						PerformanceAnnuelle D_N_DECIMALX,
						VolatiliteAnnualisee D_N_DECIMALX,
						Sharp D_N_DECIMALX)

	declare @tableValeur table(dateFermeture D_T_DATE,
						VL D_N_DECIMALX,
						DividendeDistribue D_N_DECIMALX,
						PerformanceAnnuelle D_N_DECIMALX,
						VolatiliteAnnualisee D_N_DECIMALX,
						Sharp D_N_DECIMALX)
	declare @tableVL table(Annee D_A_LIB,
						dateFermeture D_T_DATE,
						VL D_N_DECIMALX,						
						Nbre D_N_SEQ
						)

	declare @tableDividende table(sigleOpcvm D_A_LIB,
						denominationOpcvm D_A_LIB,
						dividende D_N_DECIMALX,
						dateDividende D_T_DATE,
						vl D_N_DECIMALX,
						rendement D_N_DECIMALX
						)

	declare @tableVolatilite table(
                          idOpcvm D_N_SEQ,
                          sigleOpcvm D_A_LIB,
                          denominationOpcvm D_A_LIB,
                          dateN1 D_T_DATEHEURE,
                          anneeN1 D_N_SEQ,
                          idSeanceN1 D_N_SEQ,
                          vlN1 D_N_DECIMALX,
                          dateN2 D_T_DATEHEURE,
                          anneeN2 D_N_SEQ,
                          idSeanceN2 D_N_SEQ,
                          vlN2 D_N_DECIMALX,
                          performanceN1 D_N_DECIMALX,
                          performanceN2 D_N_DECIMALX,
                          rentabiliteN2 D_N_DECIMALX,
                          variance D_N_DECIMALX,
                          ecarttype1 D_N_DECIMALX,
                          ecarttype2 D_N_DECIMALX
						)
	insert @tableVL	
	select year(so.dateFermeture) as Annee,
			so.dateFermeture,
			valeurLiquidative as VL,
			so.idSeance as Nbre
	from DB_OPCCIEL.Parametre.TJ_SeanceOpcvm so
	where so.idOpcvm=@IdOpcvm
	and so.dateFermeture between convert(datetime,'01/01/'+@AnneeDebut) and convert(datetime,'31/12/'+@AnneeFin+' 23:59:59')
	and so.supprimer=0
	group by year(so.dateFermeture),idOpcvm,dateFermeture,valeurLiquidative,idSeance
	

	insert @tableDividende
	select d.sigleOpcvm,
			d.denominationOpcvm,
			d.dividende,
			d.dateDividende,
			d.vl,
			d.rendement
	from DB_OPCCIEL.Impressions.FT_DividendeDistribuee1(@IdOpcvm,'01/01/'+@AnneeDebut,'31/12/'+@AnneeFin+' 23:59:59') d

	insert @tableVolatilite 
     select   c.idOpcvm,
        c.sigleOpcvm,
        c.denominationOpcvm,
        c.dateN1,
        c.anneeN1,
        c.idSeanceN1,
        c.vlN1,
        c.dateN2,
        c.anneeN2,
        c.idSeanceN2,
        c.vlN2,
        c.performanceN1,
        c.performanceN2,
        c.rentabiliteN2,
        c.variance,
        c.ecarttype1,
        c.ecarttype2
	from DB_OPCCIEL2.Impressions.FT_CalculVolatiliteJ(@IdOpcvm,'01/01/'+@AnneeDebut,'31/12/'+@AnneeFin+' 23:59:59') c

	declare @l int=@AnneeDebut
	declare @k int=1
	declare @vlAvant D_N_DECIMALX

	declare @dateFermeture D_T_DATEHEURE,@VL D_N_DECIMALX,@Nbre D_N_SEQ,@Annee D_A_LIB,@Dividende D_N_DECIMALX
	,@Performance D_N_DECIMALX,@tauxRendement D_N_DECIMALX,@Sharp D_N_DECIMALX,@VolatiliteAnnualisee D_N_DECIMALX,@NbreDividende D_N_SEQ,
	@NbreLigneVL D_N_SEQ,@Volatilite D_N_DECIMALX

	select @tauxRendement=o.tauxRendement
	from DB_OPCCIEL.Parametre.T_Opcvm o
	where o.idOpcvm=@IdOpcvm

while @l<=@AnneeFin
	begin
		declare curseur_Affichage cursor for
		select top 1 tvl.dateFermeture,tvl.VL,tvl.Nbre,tvl.Annee
		from @tableVL tvl
		where tvl.Annee=@l
		order by Nbre desc

		OPEN curseur_Affichage
 
		FETCH curseur_Affichage INTO @dateFermeture,
									@VL,
									@Nbre,
									@Annee		
		WHILE @@FETCH_STATUS = 0
		BEGIN		
			select @NbreDividende=count(td.dividende)
			from @tableDividende td
			where year(td.dateDividende)=@l

			set @Dividende=0
			if(@NbreDividende!=0)
			begin
				select @Dividende=isnull(td.dividende,0)
				from @tableDividende td
				where year(td.dateDividende)=@l
			end

			if(@k=1)
			begin
				select top 1 @vlAvant=so.valeurLiquidative
				from DB_OPCCIEL.Parametre.TJ_SeanceOpcvm so
				where year(so.dateFermeture)=@l-1
				and idOpcvm=@IdOpcvm
				and so.supprimer=0
				order by idSeance desc
			end	
			if(@vlAvant is  not null)
			begin
				set @Performance=(((@VL+@Dividende)/@vlAvant)-1)*100
			end
			else
			begin
				set @Performance=0
			end

			select @Volatilite=tv.ecarttype1
			from @tableVolatilite tv
			where tv.dateN2=@dateFermeture

			set @VolatiliteAnnualisee=@Volatilite*SQRT(251)

			if(@VolatiliteAnnualisee=0)
			begin
				set @Sharp=0
			end
			else
			begin
				set @Sharp=@Performance/@VolatiliteAnnualisee
			end
			insert into @tableRetour(dateFermeture,
						VL,
						DividendeDistribue,
						PerformanceAnnuelle,
						VolatiliteAnnualisee,
						Sharp)
						values(
						@dateFermeture,
						@VL,
						@Dividende,
						@Performance,
						@VolatiliteAnnualisee,
						@Sharp)
		FETCH curseur_Affichage INTO @dateFermeture,
								@VL,
								@Nbre,
								@Annee

		END
		CLOSE curseur_Affichage
		DEALLOCATE curseur_Affichage
		set @vlAvant=@VL
		set @l+=1
		set @k+=1
	end

	select tr.DateFermeture,
			tr.VL,
			tr.DividendeDistribue,
			round(tr.PerformanceAnnuelle,2) as PerformanceAnnuelle,
			round(tr.VolatiliteAnnualisee,2) as VolatiliteAnnualisee,
			round(tr.Sharp,2) as Sharp
	from @tableRetour tr
	order by tr.dateFermeture asc
END
GO
/****** Object:  StoredProcedure [Impression].[PS_RATIOTREYNOR_SP]    Script Date: 03/12/2024 16:04:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [Impression].[PS_RATIOTREYNOR_SP](@IdOpcvm D_N_SEQ,@Annee D_A_LIB,@RF numeric(18,8))
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	declare @tableDividende table(sigleOpcvm D_A_LIB,
						denominationOpcvm D_A_LIB,
						dividende D_N_DECIMALX,
						dateDividende D_T_DATE,
						vl D_N_DECIMALX,
						rendement D_N_DECIMALX
						)
	declare @tableBeta table(
			DenominationOpcvm D_A_LIB,
			DateFermeture D_T_DATE,
			VL D_N_DECIMALX,
			NAV D_N_DECIMALX,
			PerformancePortefeuille D_N_DECIMALX,
			PerformanceBenchMark D_N_DECIMALX,			
			EcartTypeBenchmark D_N_DECIMALX,
			EcartTypeOpcvm D_N_DECIMALX,
			volatiliteBenchMark D_N_DECIMALX,
			volatiliteOpcvm D_N_DECIMALX,
			Beta D_N_DECIMALX)

	declare @tablePortefeuilleOpcvm table(valeurPortefeuille numeric(18,4),
									soldeEspece numeric(18,4))

	declare @dividende numeric(18,4),@valeurPortefeuille numeric(18,4),@SoldeEspece numeric(18,4),@RP numeric(18,6),
	@Beta decimal(10,6),@DateDebut D_T_DATEHEURE,@DateFin D_T_DATEHEURE,@RTP decimal(18,6)
	--insert @tableDividende
	--select d.sigleOpcvm,
	--		d.denominationOpcvm,
	--		d.dividende,
	--		d.dateDividende,
	--		d.vl,
	--		d.rendement
	select @dividende=d.dividende
	from DB_OPCCIEL.Impressions.FT_DividendeDistribuee1(@IdOpcvm,'01/01/'+@Annee,'31/12/'+@Annee+' 23:59:59') d

	if(@dividende!=0)
	begin
		--insert @tablePortefeuilleOpcvm
		Select TOP 1 @valeurPortefeuille=p.ValoPortefeuilleOpcvm,@SoldeEspece=p.SoldeEspece
		From [Impressions].[FT_PortefeuilleOPCVM](@IdOpcvm,'31/12/'+@Annee) p

		--select @valeurPortefeuille=tp.valeurPortefeuille,@SoldeEspece=tp.soldeEspece
		--from @tablePortefeuilleOpcvm tp

		if(@valeurPortefeuille!=0)
		begin
			set @RP=@dividende/@valeurPortefeuille
		end
		else
		begin
			set @RP=0
		end
	end
	else
	begin
		set @RP=0
	end

	set @DateDebut=cast('01/01/'+@Annee as datetime2)
	set @DateFin=cast('31/12/'+@Annee as datetime2)

	--insert @tableBeta
	select top 1 @Beta=fb.Beta from Impression.FT_BETA(@IdOpcvm,@DateDebut,@DateFin) fb

	--select top 1 @Beta=tb.Beta from @tableBeta tb

	if(@Beta!=0)
	begin
		set @RTP=(@RP-@RF)/@Beta
	end
	else
		set @RTP=0

	select @RTP as RTP
END
GO
